.shop {
  &__all-categories {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: relative;
    width: 100%;

  }
  &__categories-item {
    position: relative;
    display: flex;
    align-items: center;
    min-width: 190px;
    flex-basis: 20%;
    height: 56px;
    padding: 10px;
    border: 1px solid #e8e8e8;
    margin-bottom: 15px;
    background-color: #ffffff;
    &:before {
      content: '';
      position: absolute;
      bottom: 0;
      width: 0;
      transform: translateX(-50%);
      left: 50%;
      height: 2px;
      background-color: #f34942;
      transition: 200ms ease;
    }
    &:hover {
      &:before {
        width: 75px;
        transition: 500ms ease;
      }
    }
  }
  &__categories-list {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    padding: 0;
    margin: 0;
    li {
      display: block;
      width: 19%;
      a {
        color: #444444;
        font-size: 12px;
        font-weight: 400;
        line-height: 18px;
        letter-spacing: 0.35px;
        transition: 200ms ease;
        &:hover {
          color: #ee2e24;
          transition: 200ms ease;
        }
      }
    }
  }
  &__categories-broad {
    position: relative;
    width: 733px;
    border: 1px solid #a2a2a2;
    margin-bottom: 15px;
    padding: 10px 20px;
  }
  &__categories-img {
    border-radius: 50%;
    width: 31px;
    height: 31px;
    margin-right: 8px;
    overflow: hidden;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  &__categories-desk {
    width: 117px;
    color: #444444;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0.35px;

  }
  &__categories-more-all {
    position: relative;
    color: #444444;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    margin-bottom: 15px;
    display: block;
    &:hover {
      color: #444;
    }
    span {
      text-decoration: underline;
    }
    b {
      color: #ee2e24;
      font-weight: 700;
    }
  }
  &__all-categories-title {
    color: #000000;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: -0.1px;
    margin: 30px 0 40px 0;
    float: left;
    width: 100%;
  }
  &__all-categories-rec {
    .shop__top-sales-home-elements--item {
      width: 16%;
    }
    .shop__top-sales-home-elements--stock-item {
      width: 32.8%;
    }
  }
  .text-title {
    color: #444444;
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0.35px;
    transition: 200ms ease;
    margin-right: 25px;
    &:hover {
      color: #ee2e24;
      transition: 200ms ease;
    }
  }
  .text-about {
    display: none;
  }
  .home-content, .home-content-organization {
    float: left;
    width: 100%;
    display: block;
    text-align: center;
    position: relative;
  }

  .home-contents, .row {
    float: left;
    width: 100%;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;

    flex-direction: row;

    .row {
      padding-top: 35px;
      margin-left: 0;
      margin-right: 0;
      &:first-of-type {
        padding-top: 0;
      }
      @include breakpoint(max-width 670px) {
        width: 50%;
        float: left;
        padding-top: 0;
      }
    }
    .text-about {
      background: transparent;
      display: none;
      width: 100%;
      font-size: 14px;
      text-align: left;
      position: relative;
      padding: 25px 50px;
      box-sizing: border-box;
      margin: 0 0 15px 0;
      @include breakpoint(max-width 992px) {
        padding: 25px;
      }

      .text-about-title {
        width: 100%;
        display: inline-block;
        margin-bottom: 15px;
        font-size: 14px;
        letter-spacing: 0.35px;
        text-decoration: underline;
        a {
          font-style: normal;
          box-sizing: border-box;
          display: inline-block;
          color: #444444;
          text-decoration: none;
          span {
            color: #ee2e24;
            font-weight: 700;
          }
          b{
            font-weight: 400;
            text-decoration: underline;
          }
        }

      }
    }
    .text-about-links {
      width: 100%;
      display: inline-block;
      margin: 0 auto;
      column-count: 5;
      //column-width: 33%;
      column-gap: 10px;
      @include breakpoint(max-width 992px) {
        column-count: 2;
      }
      @include breakpoint(max-width 600px) {
        column-count: 1;
      }
    }
    .text-about-link {
      font-size: 13px;
      text-align: left;
      text-decoration: none;
      width: 100%;
      display: inline-block;
      color: #444444;
      font-weight: 400;
      line-height: 18px;
      &:hover {
        color: #ee2e24;
      }
      @include breakpoint(max-width 600px) {
        text-align: center;
      }
    }
  }
  .home-contents {
    margin: 0 auto;
    float: none;
    width: 100%;
  }
}

.home-contents {
  display: flex;
  flex-flow: row wrap;
}

.home-content-item {
  display: flex;
  align-items: center;
  position: relative;
  width: 20%;
  cursor: pointer;
  @include breakpoint(max-width 1200px) {
    flex-direction: column;
  }
  .content-item-text {
    .text-title {
      @include breakpoint(max-width 1200px) {
        text-align: center;
      }
    }
  }

  //----------------------
  &:nth-of-type(1) {
    order: 1;
  }
  &:nth-of-type(2) {
    order: 1;
  }
  //------------------------------
  &:nth-of-type(5) {
    order: 1;
  }
  &:nth-of-type(6) {
    order: 1;
  }
  //-------------------------------
  &:nth-of-type(9) {
    order: 1;
  }
  &:nth-of-type(10) {
    order: 3;
  }
  //-------------------------------
  &:nth-of-type(13) {
    order: 3;
  }
  &:nth-of-type(14) {
    order: 3;
  }
  //-------------------------------
  &:nth-of-type(17) {
    order: 3;
  }
  &:nth-of-type(18) {
    order: 3;
  }

  &:nth-of-type(21) {
    order: 5;
  }
  &:nth-of-type(22) {
    order: 5;
  }
  //-----------------------------6
  &:nth-of-type(25) {
    order: 5;
  }
  &:nth-of-type(26) {
    order: 5;
  }
  //-------------------------------
  &:nth-of-type(29) {
    order: 5;
  }
  &:nth-of-type(30) {
    order: 7;
  }
  //-------------------------------
  &:nth-of-type(33) {
    order: 7;
  }
  &:nth-of-type(34) {
    order: 7;
  }
  //-------------------------------
  &:nth-of-type(37) {
    order: 7;
  }
  &:nth-of-type(38) {
    order: 7;
  }

  &:nth-of-type(41) {
    order: 9;
  }

  @include breakpoint(max-width 992px) {
    width: 50%;
    flex-basis: 50%;
    flex-direction: row;

    &:nth-of-type(1) {
      order: 1;
    }
    &:nth-of-type(2) {
      order: 1;
    }
    //------------------------------
    &:nth-of-type(5) {
      order: 3;
    }
    &:nth-of-type(6) {
      order: 3;
    }
    //-------------------------------
    &:nth-of-type(9) {
      order: 5;
    }
    &:nth-of-type(10) {
      order: 5;
    }
    //-------------------------------
    &:nth-of-type(13) {
      order: 7;
    }
    &:nth-of-type(14) {
      order: 7;
    }
    //-------------------------------
    &:nth-of-type(17) {
      order: 9;
    }
    &:nth-of-type(18) {
      order: 9;
    }

    &:nth-of-type(21) {
      order: 11;
    }
    &:nth-of-type(22) {
      order: 11;
    }
    //------------------------------
    &:nth-of-type(25) {
      order: 13;
    }
    &:nth-of-type(26) {
      order: 13;
    }
    //-------------------------------
    &:nth-of-type(29) {
      order: 15;
    }
    &:nth-of-type(30) {
      order: 15;
    }
    //-------------------------------
    &:nth-of-type(33) {
      order: 17;
    }
    &:nth-of-type(34) {
      order: 17;
    }
    //-------------------------------
    &:nth-of-type(37) {
      order: 19;
    }
    &:nth-of-type(38) {
      order: 19;
    }

    &:nth-of-type(41) {
      order: 21;
    }
    //img {
    //  display: block;
    //  height: 50px;
    //  width: 75px;
    //  object-fit: none;
    //  position: relative;
    //  float: left;
    //  margin-right: 10px;
    //  @include breakpoint(max-width 500px) {
    //    height: auto;
    //    width: 40px;
    //    max-width: 100%;
    //    object-fit: fill;
    //  }
    //}
    p {
      font-weight: 600;
      font-size: 15px;
      color: #000;
      @include breakpoint(max-width 500px) {
        font-size: 13px;
      }
    }
  }
  @include breakpoint(max-width 600px) {
    flex-direction: column;
  }
}

.text-about {
  display: none;
  width: 100%;
  position: relative;
  float: left;
  margin: 15px 0;
  padding: 5px 50px;
  box-sizing: border-box;
  border: 1px solid #a2a2a2;
  background: #fff;
  &:nth-of-type(3) {
    order: 2;
  }
  &:nth-of-type(4) {
    order: 2;
  }
  //------------------------------
  &:nth-of-type(7) {
    order: 2;
  }
  &:nth-of-type(8) {
    order: 2;
  }
  //-------------------------------
  &:nth-of-type(11) {
    order: 2;
  }
  &:nth-of-type(12) {
    order: 4;
  }
  //-------------------------------
  &:nth-of-type(15) {
    order: 4;
  }
  &:nth-of-type(16) {
    order: 4;
  }
  //-------------------------------
  &:nth-of-type(19) {
    order: 4;
  }
  &:nth-of-type(20) {
    order: 4;
  }

  &:nth-of-type(23) {
    order: 6;
  }
  &:nth-of-type(24) {
    order: 6;
  }
  //------------------------------
  &:nth-of-type(27) {
    order: 6;
  }
  &:nth-of-type(28) {
    order: 6;
  }
  //-------------------------------
  &:nth-of-type(31) {
    order: 6;
  }
  &:nth-of-type(32) {
    order: 8;
  }
  //-------------------------------
  &:nth-of-type(35) {
    order: 8;
  }
  &:nth-of-type(36) {
    order: 8;
  }
  //-------------------------------
  &:nth-of-type(39) {
    order: 8;
  }
  &:nth-of-type(40) {
    order: 8;
  }

  &:nth-of-type(42) {
    order: 10;
  }
  @include breakpoint(max-width 992px) {
    &:nth-of-type(3) {
      order: 2;
    }
    &:nth-of-type(4) {
      order: 2;
    }
    //------------------------------
    &:nth-of-type(7) {
      order: 4;
    }
    &:nth-of-type(8) {
      order: 4;
    }
    //-------------------------------
    &:nth-of-type(11) {
      order: 6;
    }
    &:nth-of-type(12) {
      order: 6;
    }
    //-------------------------------
    &:nth-of-type(15) {
      order: 8;
    }
    &:nth-of-type(16) {
      order: 8;
    }
    //-------------------------------
    &:nth-of-type(19) {
      order: 10;
    }
    &:nth-of-type(20) {
      order: 10;
    }

    &:nth-of-type(23) {
      order: 12;
    }
    &:nth-of-type(24) {
      order: 12;
    }
    //------------------------------
    &:nth-of-type(27) {
      order: 14;
    }
    &:nth-of-type(28) {
      order: 14;
    }
    //-------------------------------
    &:nth-of-type(31) {
      order: 16;
    }
    &:nth-of-type(32) {
      order: 16;
    }
    //-------------------------------
    &:nth-of-type(35) {
      order: 18;
    }
    &:nth-of-type(36) {
      order: 18;
    }
    //-------------------------------
    &:nth-of-type(39) {
      order: 20;
    }
    &:nth-of-type(40) {
      order: 20;
    }

    &:nth-of-type(42) {
      order: 22;
    }
  }

  > span {
    position: absolute;
    top: -14px;
    border-right: 9px solid transparent;
    border-bottom: 14px solid #f4f3f3;
    border-left: 9px solid transparent;
  }
  &--head {
    position: relative;
    float: left;
    width: 100%;
    padding: 15px 0;
    border-bottom: 2px dashed #d1d1d1;
    a {
      font-size: 13px;
      width: 100%;
      span {
        font-weight: 600;
        font-style: italic;
      }
    }
  }
  &--body {
    width: 100%;
    position: relative;
    float: left;
    padding: 20px 0;
    a {
      display: block;
      position: relative;
      float: left;
      width: 33%;
      font-size: 14px;
      padding-bottom: 5px;
      @include breakpoint(max-width 992px) {
        width: 50%;
      }
      @include breakpoint(max-width 500px) {
        width: 100%;
      }
    }
  }
}