.shop {
  &__all-categories {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: relative;
    width: 100%;

  }
  &__categories-item {
    position: relative;
    display: flex;
    align-items: center;
    width: 190px;
    height: 56px;
    padding: 10px;
    border: 1px solid #e8e8e8;
    margin-bottom: 15px;
    background-color: #ffffff;
    &:before {
      content: '';
      position: absolute;
      bottom: 0;
      width: 0;
      transform: translateX(-50%);
      left: 50%;
      height: 2px;
      background-color: #f34942;
      transition: 200ms ease;
    }
    &:hover {
      &:before {
        width: 75px;
        transition: 500ms ease;
      }
    }
  }
  &__categories-list {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    padding: 0;
    margin: 0;
    li {
      display: block;
      width: 19%;
      a {
        color: #444444;
        font-size: 12px;
        font-weight: 400;
        line-height: 18px;
        letter-spacing: 0.35px;
        transition: 200ms ease;
        &:hover {
          color: #ee2e24;
          transition: 200ms ease;
        }
      }
    }
  }
  &__categories-broad {
    position: relative;
    width: 733px;
    border: 1px solid #a2a2a2;
    margin-bottom: 15px;
    padding: 10px 20px;
  }
  &__categories-img {
    border-radius: 50%;
    width: 31px;
    height: 31px;
    margin-right: 8px;
    overflow: hidden;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  &__categories-desk {
    width: 117px;
    color: #444444;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0.35px;

  }
  &__categories-more-all {
    position: relative;
    color: #444444;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    margin-bottom: 15px;
    display: block;
    &:hover {
      color: #444;
    }
    span {
      text-decoration: underline;
    }
    b {
      color: #ee2e24;
      font-weight: 700;
    }
  }
  &__all-categories-title {
    color: #000000;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: -0.1px;
    margin: 30px 0 40px 0;
    float: left;
    width: 100%;
  }
  &__all-categories-rec {
    .shop__top-sales-home-elements--item {
      width: 16%;
    }
    .shop__top-sales-home-elements--stock-item {
      width: 32.8%;
    }
  }
}