.shop {
  &__all-categories {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: relative;
    width: 100%;

  }
  &__categories-item {
    position: relative;
    display: flex;
    align-items: center;
    width: 190px;
    height: 56px;
    padding: 10px;
    border: 1px solid #e8e8e8;
    margin-bottom: 15px;
    background-color: #ffffff;
    &:before {
      content: '';
      position: absolute;
      bottom: 0;
      width: 0;
      transform: translateX(-50%);
      left: 50%;
      height: 2px;
      background-color: #f34942;
      transition: 200ms ease;
    }
    &:hover {
      &:before {
        width: 75px;
        transition: 500ms ease;
      }
    }
  }
  &__categories-list {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    padding: 0;
    margin: 0;
    li {
      display: block;
      width: 19%;
      a {
        color: #444444;
        font-size: 12px;
        font-weight: 400;
        line-height: 18px;
        letter-spacing: 0.35px;
        transition: 200ms ease;
        &:hover {
          color: #ee2e24;
          transition: 200ms ease;
        }
      }
    }
  }
  &__categories-broad {
    position: relative;
    width: 733px;
    border: 1px solid #a2a2a2;
    margin-bottom: 15px;
    padding: 10px 20px;
  }
  &__categories-img {
    border-radius: 50%;
    width: 31px;
    height: 31px;
    margin-right: 8px;
    overflow: hidden;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  &__categories-desk {
    width: 117px;
    color: #444444;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0.35px;

  }
  &__categories-more-all {
    position: relative;
    color: #444444;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    margin-bottom: 15px;
    display: block;
    &:hover {
      color: #444;
    }
    span {
      text-decoration: underline;
    }
    b {
      color: #ee2e24;
      font-weight: 700;
    }
  }
  &__all-categories-title {
    color: #000000;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: -0.1px;
    margin: 30px 0 40px 0;
    float: left;
    width: 100%;
  }
  &__all-categories-rec {
    .shop__top-sales-home-elements--item {
      width: 16%;
    }
    .shop__top-sales-home-elements--stock-item {
      width: 32.8%;
    }
  }
  .text-title{
    color: #444444;
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0.35px;
    transition: 200ms ease;
    margin-right: 25px;
    &:hover {
      color: #ee2e24;
      transition: 200ms ease;
    }
  }
  .text-about{
    display: none;
  }
  .home-content, .home-content-organization{
    float: left;
    width: 100%;
    display: block;
    text-align: center;
    position: relative;
  }

  .home-contents, .row{
    float: left;
    width: 100%;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;

    flex-direction: row;

    .row{
      padding-top: 35px;
      margin-left: 0;
      margin-right: 0;
      &:first-of-type{
        padding-top: 0;
      }
      @include breakpoint(max-width 670px){
        width: 50%;
        float: left;
        padding-top: 0;
      }
    }
    .text-about{
      display: none;
      background-color: #f4f3f3;
      width: 100%;
      font-size: 14px;
      text-align: left;
      position: relative;
      padding: 25px 50px;
      box-sizing: border-box;
      margin: 10px 0;
      @include breakpoint(max-width 992px) {
        padding: 25px;
      }

      .text-about-title{
        width: 100%;
        font-size: 16px;
        color: #006b93;
        display: inline-block;
        border-bottom: 2px dashed #d1d1d1;
        margin-bottom: 15px;
        a{
          font-style: normal;
          text-decoration: none;
          padding-bottom: 15px;
          box-sizing: border-box;
          display: inline-block;
          &:hover{
            text-decoration: underline;
          }
        }
        b{
          font-style: italic;
        }
      }
    }
    .text-about-links{
      width: 100%;
      display: inline-block;
      margin: 0 auto;
      column-count: 3;
      //column-width: 33%;
      column-gap: 10px;
      @include breakpoint(max-width 992px) {
        column-count: 2;
      }
      @include breakpoint(max-width 600px) {
        column-count: 1;
      }
    }
    .text-about-link{
      color: #006b93;
      font-size: 14px;
      text-align: left;
      text-decoration: none;
      width: 100%;
      display: inline-block;
      &:hover{
        text-decoration: underline;
      }
      @include breakpoint(max-width 600px) {
        text-align: center;
      }
    }
  }
  .home-contents{
    margin: 0 auto;
    float: none;
    width: 100%;
  }
}