.shop {
  position: relative;
  display: block;
  float: left;
  width: 100%;
  &__title {
    color: #ee2e24;
    float: left;
    width: 100%;
    margin-top: 0;
    margin-bottom: 15px;
    font-size: 18px;
    font-weight: 700;
    line-height: 18px;
    text-transform: uppercase;
    letter-spacing: 0.45px;
  }
  &__sidebars {
    position: relative;
    float: left;
    width: 349px;
    margin-right: 15px;
    margin-bottom: 35px;
    padding: 20px;
    border: 1px solid #e8e8e8;
    background-color: #ffffff;
    @include breakpoint(max-width 992px) {
      position: fixed;
      overflow-y: scroll;
      height: 100%;
      left: -100%;
      z-index: 9998;
      margin: 0;
      transition: 500ms ease;
      top: 0;
      width: 100%;
    }
    .mobile-menu-broad-close{
     display: none;
      @include breakpoint(max-width 992px){
        display: block;
        position: absolute;
        right: 20px;
        top: 20px;
        font-size: 25px;
      }
    }
    &--wrap{
      margin-bottom: 50px;
      &:last-child {
        margin-bottom: 0;
      }
      @include breakpoint(max-width 992px){
        width: 50%;
        float: left;
        margin: 25px 0;
      }
    }
  }
  .active-menu {
    @include breakpoint(max-width 992px) {
      left: 0;
      margin-right: 15px;
    }

  }
  .shop__top-trigger{
    z-index: 9999;
  }
  &__sidebars-title {
    color: #000;
    margin: 0;
    font-size: 14px;
    font-weight: 600;
    line-height: 21px;
  }
  &__nav {
    list-style: none;
    padding: 0;

    li {
      width: 100%;
      display: inline-block;
      a {
        color: #444;
        font-size: 13px;
        line-height: 21px;
        width: 100%;
        display: inline-block;
        transition: 200ms ease;
        &:hover {
          transition: 200ms ease;
          padding-left: 10px;
          color: darken(#444, 20%);
        }
      }
      .slide-text {
        position: relative;
        width: auto;
        &:before {
          display: block;
          position: absolute;
          content: '';
          width: 16px;
          height: 16px;
          top: 3px;
          transition: 200ms ease;
          right: -20px;
          background-image: url('../img/icons/chevron-down-r.png');
          background-repeat: no-repeat;
          background-size: cover;
        }
      }
      .active {
        &:before {
          transform: rotate(180deg);
          transition: 200ms ease-in-out;
        }
      }
    }
    .broad-more {
      > a {
        color: #ee2e24;
        &:hover {
          color: #ee2e24;
        }
      }
    }
  }
  .shop-hidden {
    display: none;
    margin: 0;
    padding: 0;
  }
  &__top-sales {
    margin-bottom: 35px;
  }
  &__top-sales-nav--title {
    width: 165px;
    color: #000000;
    font-size: 16px;
    font-weight: 600;
    margin: 0 50px 0 0;
    @include breakpoint(max-width 750px){
      margin-bottom: 20px;
    }
  }
  &__top-sales-nav {
    width: 100%;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 30px;
    @include breakpoint(max-width 750px){
      flex-wrap: wrap;
    }
    &--link {
      margin: 0;
    }
  }
  &__top-sales-elements--item {
    width: 23%;
    margin-bottom: 2.666%;
    @include breakpoint(max-width 600px){
      width: 100%;
    }
  }
  &__top-sales {
    width: calc(100% - 365px);
    @include breakpoint(max-width 992px) {
      width: 100%; 
    }
  }
  .category-price {
    left: 10px;
    margin-top: 16px;
    @include breakpoint(max-width 992px){
      margin-top: 30px;
    }
  }
  .breadcrumbs {
    margin: 0 0 22px 0;
  }
}