.shop {
  &__empty-cart {
    display: block;
    position: relative;
    float: left;
    width: 100%;
    padding: 45px;
    margin: 0;
    background: #fff;
    font-size: 22px;
    text-align: center;
    font-weight: 700;
    line-height: 18px;
    color: #0c242e;
    letter-spacing: 0.55px;
    span{
      position: relative;
      display: inline-block;
      color: #ee2e24;
      &:before{
        content: '';
        position: absolute;
        right: -65px;
        transform: translateY(-50%);
        top: 50%;
        width: 36px;
        height: 40px;
        background: url("../img/shop/icons/empty-cart.png") no-repeat center center;
        background-size: contain;
      }
    }

  }
}