.shop {
  display: block;
  position: relative;
  float: left;
  width: 100%;
  background-color: #edeef0;
  &__top-tools {
    display: block;
    position: relative;
    float: left;
    width: 100%;
    margin-top: 30px;
    margin-bottom: 22px;
    @include breakpoint(max-width 992px) {
      margin-bottom: 0;
    }
  }
  &__top-form {
    position: relative;
    float: left;
    @include breakpoint(max-width 1200px) {
      width: 100%;
    }
    &--field {
      display: block;
      position: relative;
      float: left;
      width: 518px;
      height: 37px;
      padding-left: 20px;
      padding-right: 20px;
      @include box-sizing(border-box);
      border: 1px solid #a2a2a2;
      background-color: #edeef0;
      @include breakpoint(max-width 1200px) {
        width: calc(100% - 238px);
      }
      @include breakpoint(max-width 600px) {
        width: calc(50% - 41px + 7px);
      }
    }
    &--wrapper {
      display: block;
      position: relative;
      float: left;
    }
    &--field-category {
      display: block;
      position: relative;
      float: left;
      width: 170px;
      height: 37px;
      border: 1px solid #a2a2a2;
      padding-left: 20px;
      padding-right: 20px;
      @include box-sizing(border-box);
      margin-left: -1px;
      text-align: center;
      background-color: #edeef0;
      @include breakpoint(max-width 1200px) {
        width: 200px;
      }
      @include breakpoint(max-width 600px) {
        width: calc(50% - 6px);
      }
      &:focus {
        outline: none;
      }
    }
    &--submit {
      display: block;
      position: relative;
      float: left;
      width: 40px;
      height: 37px;
      margin-left: -1px;
      border-radius: 5px;
      background-color: #ee2e24;
      border: none;
      text-align: center;
      border-bottom-left-radius: 0;
      border-top-left-radius: 0;
      color: #ffffff;
      font-size: 13px;
      font-weight: 700;
    }
  }
  &__top-nav {
    display: block;
    position: relative;
    float: left;
    width: calc(100% - 755px);
    @include breakpoint(max-width 1200px) {
      width: 100%;
      margin-top: 20px;
    }
    @include breakpoint(max-width 992px){
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      margin-top: 30px;
      margin-bottom: 30px;
    }
    @include breakpoint(max-width 660px){
      margin-bottom: 20px;
    }
    &--navigation {
      @include display-flex(flex);
      @include flex-wrap(wrap);
      @include flex-direction(row);
      @include justify-content(center);
      position: relative;
      float: left;
      width: 100%;
      padding: 0;
      margin: 0;
      list-style: none;
      @include breakpoint(max-width 1200px) {
        justify-content: space-around;
      }
      @include breakpoint(max-width 992px) {
        display: none;
      }
      @include breakpoint(max-width 400px) {
        justify-content: center;
        flex-direction: column;
      }

      li {
        float: left;
        position: relative;
        .basket-counter {
          display: block;
          position: absolute;
          min-width: 25px;
          height: 16px;
          line-height: 16px;
          text-align: center;
          border-radius: 8px;
          background-color: #e62e04;
          color: #fff;
          font-size: 12px;
          left: 16px;
        }
        a {
          display: block;
          position: relative;
          float: left;
          width: 100%;
          margin: 0 14px;
          padding-top: 10px;
          padding-left: 26px;
          @include box-sizing(border-box);
          color: #444444;
          font-size: 15px;
          font-weight: 400;
          @include breakpoint(max-width 600px) {
            margin: 6px 14px;
          }
          &:hover {
            color: #ee2e24;
          }
        }
        .delivery:before {
          display: block;
          position: absolute;
          content: '';
          width: 25px;
          height: 21px;
          top: 9px;
          left: -8px;
          background-image: url('../img/shop/icons/shop-delivery-truck-icon.png');
          background-repeat: no-repeat;
          -webkit-background-size: 100% 100%;
          background-size: 100% 100%;
        }
        .basket:before {
          display: block;
          position: absolute;
          content: '';
          width: 20px;
          height: 19px;
          top: 10px;
          left: -7px;
          background-image: url('../img/shop/icons/shop-shopping-cart-icon.png');
          background-repeat: no-repeat;
          -webkit-background-size: 100% 100%;
          background-size: 100% 100%;
        }
        .my-desires:before {
          display: block;
          position: absolute;
          content: '';
          width: 24px;
          height: 22px;
          top: 8px;
          left: -7px;
          background-image: url('../img/shop/icons/shop-heart-icon.png');
          background-repeat: no-repeat;
          -webkit-background-size: 100% 100%;
          background-size: 100% 100%;
        }
        .active{
          &:before{
            background-image: url('../img/shop/icons/shop-heart.png');
          }
        }
      }
      > .basket-counter {
        display: block;
        position: absolute;
        min-width: 25px;
        height: 16px;
        margin-left: -42px;
        margin-top: -1px;
        line-height: 16px;
        text-align: center;
        border-radius: 8px;
        background-color: #e62e04;
        color: #fff;
        font-size: 12px;
        @include breakpoint(max-width 600px) {
          margin-top: 5px;
        }
        @include breakpoint(max-width 400px) {
          margin-left: 100px;
          margin-top: 5px;
        }
      }
    }
    &--navigation-m {
      @include display-flex(flex);
      @include flex-wrap(wrap);
      @include flex-direction(row);
      @include justify-content(center);
      position: relative;
      float: left;
      width: 100%;
      padding: 0;
      margin: 0;
      display: none;
      list-style: none;
      @include breakpoint(max-width 992px) {
        display: flex;
        justify-content: flex-end;
      }
      @include breakpoint(max-width 400px) {
        justify-content: flex-end;
      }
      li {
        float: left;
        position: relative;
        margin-left: 20px;
        &:first-child{
          margin-left: 25px;
        }
        .basket-counter {
          display: block;
          position: absolute;
          min-width: 20px;
          font-size: 11px;
          height: 16px;
          line-height: 16px;
          text-align: center;
          border-radius: 8px;
          background-color: #e62e04;
          color: #fff;
          margin-top: -10px;
          right: -4px;
        }
        a {
          display: block;
          position: relative;
          float: left;
          width: 100%;

          color: #444444;
          font-size: 15px;
          font-weight: 400;
          &:hover {
            color: #ee2e24;
          }
        }
        .delivery:before {
          display: block;
          position: absolute;
          content: '';
          width: 25px;
          height: 21px;
          top: 0;
          left: -8px;
          background-image: url('../img/shop/icons/shop-delivery-truck-icon.png');
          background-repeat: no-repeat;
          -webkit-background-size: 100% 100%;
          background-size: 100% 100%;
          @include breakpoint(max-width 992px){
            position: relative;
          }
        }
        .basket:before {
          display: block;
          position: absolute;
          content: '';
          width: 20px;
          height: 19px;
          top: 0;
          left: -7px;
          background-image: url('../img/shop/icons/shop-shopping-cart-icon.png');
          background-repeat: no-repeat;
          -webkit-background-size: 100% 100%;
          background-size: 100% 100%;
          @include breakpoint(max-width 992px){
            position: relative;
          }
        }
        .my-desires:before {
          display: block;
          position: absolute;
          content: '';
          width: 24px;
          height: 22px;
          top: 0;
          left: -7px;
          background-image: url('../img/shop/icons/shop-heart-icon.png');
          background-repeat: no-repeat;
          -webkit-background-size: 100% 100%;
          background-size: 100% 100%;
          @include breakpoint(max-width 992px){
            position: relative;
          }
        }
      }
    }
    .button-second-menu{
      @include breakpoint(max-width 370px){
        position: absolute;
        z-index: 1;
        width: auto;
      }
    }
    &--navigation.show-shop-menu {
      @include display-flex(flex);
      position: absolute;
      background-color: #fff;
      z-index: 2;
      top: 36px;
      opacity: 1;
      @include transition(0.4s);
    }
  }
  &__top-trigger {
    display: none;
    width: 40px;
    height: 40px;
    position: absolute;
    z-index: 6;
    border: none;
    right: 0;
    top: 0;
    outline: none;
    background-color: transparent;
    @include breakpoint(max-width 600px) {
      display: block;
    }
    span {
      display: block;
      position: relative;
      width: 34px;
      height: 3px;
      margin-top: 7px;
      background-color: #ee2e24;
      border: none;
      border-radius: 4px 4px 4px 4px;
      @include transition(0.4s);
    }
  }
  &__top-trigger.show-trigger {
    span:first-of-type {
      top: 9px;
      transform: rotate(-45deg);
      @include transition(0.4s);
    }
    span:nth-of-type(2) {
      top: 0;
      transform: rotate(45deg);
    }
    span:last-of-type {
      opacity: 0;
      top: 0;
      transform: rotate(180deg);
    }
  }
  &__categories {
    display: block;
    position: relative;
    float: left;
    width: 237px;
    margin-right: 12px;
    border: 1px solid #e8e8e8;

    @include breakpoint(max-width 992px) {
      display: none;
    }
    &--title {
      background-color: #f3f3f3;
      padding-left: 10px;
      line-height: 38px;
      height: 39px;
      color: #333;
      border-bottom: 1px solid #e9e9e9;
      > span {
        font-weight: 400;
        margin-right: 10px;
      }
      > a {
        color: #666;
        font-size: 12px;
        &:hover {
          color: #666;
          text-decoration: underline;
        }
      }
    }
    &--list {
      display: block;
      float: left;
      width: 100%;
      padding: 0 0 7px 0;
      margin-top: 0;
      margin-bottom: 0;
      list-style: none;
      background-color: #ffffff;
      box-sizing: border-box;
      li {
        border-bottom: 1px solid transparent;
        border-top: 1px solid transparent;
      }
      a {
        display: block;
        position: relative;
        padding-left: 40px;
        padding-top: 3px;
        padding-bottom: 3px;
        @include box-sizing(border-box);
        color: #444444;
        font-size: 14px;
        font-weight: 400;
        line-height: 28px;
      }
    }
    .active-link {
      border-bottom: 1px solid #e9e9e9;
      border-top: 1px solid #e9e9e9;
      a {
        color: #ee2e24;
        position: relative;
        &:after {
          content: '';
          height: 33px;
          width: 1px;
          background: #fff;
          position: absolute;
          right: -1px;
          z-index: 999;
          top: 0;
        }
      }

    }
    &--sub-menu {
      height: 100%;
      width: 750px;
      display: none;
      border: 1px solid #e9e9e9;
      box-sizing: border-box;
      flex-direction: row;
      position: absolute;
      right: -750px;
      z-index: 555;
      top: 0;
      background: #fff;
      flex-wrap: wrap;
      .column-sub-menu {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        width: 33.333%;
        padding: 0 15px;
        &__title {
          color: #000;
          font-weight: 700;
          height: 39px;
          padding-left: 0;
          padding-right: 0;
          border-bottom: 1px solid #e9e9e9;
          display: inline-block;
          &:hover {
            color: #ee2e24;
          }
        }
        .hot {
          color: #ee2e24;
        }
        &__link {
          a {
            padding-left: 0;
            &:hover {
              color: #ee2e24;
            }
          }
        }
        .menu-brands {
          display: flex;
          flex-wrap: wrap;
          justify-content: space-between;
          margin-top: 10px;
          a {
            max-width: 100px;
            margin: 5px 0;
            max-height: 50px;
            border: 1px solid #e9e9e9;
            display: flex;
            align-items: center;
            position: relative;
          }
          img {
            height: 50px;
            width: 100%;
            object-fit: contain;
          }
        }
        a {
          color: #444444;
        }
      }
    }
  }
  &__stock-banner {
    display: block;
    position: relative;
    float: left;
    width: calc(100% - (237px + 12px));
    height: 136px;
    overflow: hidden;
    background-color: #f7f9fe;
    @include breakpoint(max-width 992px) {
      width: 100%;
    }
    @include breakpoint(max-width 660px) {
      width: 100%;
      margin-top: 13px;
    }
    span {
      display: block;
      position: absolute;
      top: 51px;
      left: 49px;
      color: #0c242e;
      font-size: 22px;
      font-weight: 700;
      text-transform: uppercase;
    }
    img {
      float: right;
    }
  }
  &__top-sales {
    display: block;
    position: relative;
    float: left;
    width: calc(100% - (237px + 12px));
    @include breakpoint(max-width 992px) {
      width: 100%;
    }
    &--titles {
      display: block;
      position: relative;
      float: left;
      margin-top: 31px;
      margin-bottom: 19px;
      padding-left: 50px;
      @include box-sizing(border-box);
      color: #000000;
      font-size: 18px;
      font-weight: 700;
      @include breakpoint(max-width 992px) {
        margin: 20px 0;
      }
      &:before {
        display: block;
        position: absolute;
        content: '';
        width: 30px;
        height: 30px;
        top: -8px;
        left: 4px;
        background-image: url('../img/shop/icons/package-checking-icon.png');
        background-repeat: no-repeat;
      }
    }
  }
  &__top-sales-nav {
    @include display-flex(flex);
    @include flex-wrap(wrap);
    @include flex-direction(row);
    @include breakpoint(max-width 992px) {
      width: 100%;
      flex-wrap: nowrap;
      justify-content: space-between;
      margin-bottom: 20px;
    }
    @include breakpoint(max-width 660px) {
      display: none;
    }
    float: right;
    &--link {
      @include display-flex(flex);
      @include flex-wrap(wrap);
      @include flex-direction(row);
      @include justify-content(space-between);
      /*flex: 1 0 0;*/
      margin-top: 19px;
      margin-left: 14px;
      margin-right: 14px;
      margin-bottom: 14px;
      @include breakpoint(max-width 992px) {
        margin: 10px 3px 14px;
        &:first-child {
          margin-left: 0;
        }
      }
      .icon {
        width: 32px;
        height: 34px;
        margin-right: 17px;
        overflow: hidden;
        img {
          size: 100%;
          object-fit: contain;
        }
      }
      .name {
        width: calc(100% - (32px + 17px));
        color: #000000;
        font-size: 13px;
        font-weight: 400;
      }
    }
    &--link:hover {
      .name {
        color: #ee2e24;
      }
    }
  }
  &__top-sales-elements {
    @include display-flex(flex);
    @include flex-wrap(wrap);
    @include flex-direction(row);
    @include justify-content(space-between);
    position: relative;
    float: left;
    width: 100%;
    @include breakpoint(max-width 992px) {
      justify-content: flex-start;
    }
    @include breakpoint(max-width 660px) {
      justify-content: space-between;
    }
    &--stock-item {
      display: block;
      position: relative;
      float: left;
      width: 39%;
      height: 265px;
      background-color: #ffffff;
      padding: 11px;
      @include box-sizing(border-box);
      @include breakpoint(max-width 992px) {
        width: calc(100% - 370px);
        margin-right: 10px;
        margin-bottom: 10px;
      }
      @include breakpoint(max-width 660px) {
        width: 49%;
      }
      @include breakpoint(max-width 660px) {
        width: 100%;
        margin-bottom: 10px;
      }

    }
    &--item {
      display: block;
      position: relative;
      float: left;
      width: 19%;
      height: 265px;
      background-color: #ffffff;
      padding: 11px;
      @include box-sizing(border-box);
      .category-price {
        @include breakpoint(max-width 1200px) {
          left: 5px;
        }
      }
      @include breakpoint(max-width 992px) {
        width: 170px;
        margin-right: 10px;
      }
      @include breakpoint(max-width 660px) {
        width: 47%;
        margin: 0 5px 10px 5px;
        height: 245px;
      }
      @include breakpoint(max-width 360px) {
        width: 100%;
      }
    }
  }
  &__top-sales-home {
    display: block;
    position: relative;
    float: left;
    width: -webkit-calc(100% - 249px);
    width: calc(100% - 249px);
    @include breakpoint(max-width 992px) {
      width: 100%;
    }
    &--titles {
      display: block;
      position: relative;
      float: left;
      margin-top: 31px;
      margin-bottom: 19px;
      padding-left: 50px;
      @include box-sizing(border-box);
      color: #000000;
      font-size: 18px;
      font-weight: 700;
      @include breakpoint(max-width 992px) {
        margin: 20px 0;
      }
      &:before {
        display: block;
        position: absolute;
        content: '';
        width: 30px;
        height: 30px;
        top: -8px;
        left: 4px;
        background-image: url('../img/shop/icons/package-checking-icon.png');
        background-repeat: no-repeat;
      }
    }
  }
  &__top-sales-home-nav {
    @include display-flex(flex);
    @include flex-wrap(wrap);
    @include flex-direction(row);
    @include breakpoint(max-width 992px) {
      width: 100%;
      flex-wrap: nowrap;
      justify-content: space-between;
      margin-bottom: 20px;
    }
    @include breakpoint(max-width 660px) {
      display: none;
    }
    float: right;
    &--link {
      @include display-flex(flex);
      @include flex-wrap(wrap);
      @include flex-direction(row);
      @include justify-content(space-between);
      /*flex: 1 0 0;*/
      margin-top: 19px;
      margin-left: 14px;
      margin-right: 14px;
      margin-bottom: 14px;
      @include breakpoint(max-width 992px) {
        margin: 10px 3px 14px;
        &:first-child {
          margin-left: 0;
        }
      }
      .icon {
        width: 32px;
        height: 34px;
        margin-right: 17px;
        overflow: hidden;
        img {
          size: 100%;
          object-fit: contain;
        }
      }
      .name {
        width: calc(100% - (32px + 17px));
        color: #000000;
        font-size: 13px;
        font-weight: 400;
      }
    }
    &--link:hover {
      .name {
        color: #ee2e24;
      }
    }
  }
  &__top-sales-home-elements {
    @include display-flex(flex);
    @include flex-wrap(wrap);
    @include flex-direction(row);
    @include justify-content(space-between);
    position: relative;
    float: left;
    width: 100%;
    @include breakpoint(max-width 992px) {
      justify-content: flex-start;
    }
    @include breakpoint(max-width 660px) {
      justify-content: space-between;
    }
    &--stock-item {
      display: block;
      position: relative;
      float: left;
      width: 39%;
      height: 265px;
      background-color: #ffffff;
      padding: 11px;
      @include box-sizing(border-box);
      @include breakpoint(max-width 992px) {
        width: calc(100% - 370px);
        margin-right: 10px;
        margin-bottom: 10px;
      }
      @include breakpoint(max-width 660px) {
        width: 49%;
      }
      @include breakpoint(max-width 660px) {
        width: 100%;
        margin-bottom: 10px;
      }

    }
    &--item {
      display: block;
      position: relative;
      float: left;
      width: 19%;
      height: 265px;
      background-color: #ffffff;
      padding: 11px;
      margin-bottom: 10px;
      @include box-sizing(border-box);
      .category-price {
        @include breakpoint(max-width 1200px) {
          left: 5px;
        }
      }
      @include breakpoint(max-width 992px) {
        width: 170px;
        margin-right: 10px;
      }
      @include breakpoint(max-width 660px) {
        width: 47%;
        margin: 0 5px 10px 5px;
        height: 245px;
      }
      @include breakpoint(max-width 360px) {
        width: 100%;
      }
    }
  }
   &__main {
    display: block;
    position: relative;
    float: left;
    width: 100%;
    margin-bottom: 41px;
    &--title {
      display: block;
      position: relative;
      margin: 0 auto;
      text-align: left;
      margin-top: 25px;
      margin-bottom: 11px;
      padding-left: 6px;
      @include box-sizing(border-box);
      color: #000000;
      font-size: 20px;
      font-weight: 700;
      @include breakpoint(max-width 992px) {
        margin: 10px 0 20px 0;
      }
    }
    &--categories {
      display: block;
      position: relative;
      float: left;
      width: 100%;
      background-color: #fff;
      margin-bottom: 14px;
      padding: 10px;
      @include box-sizing(border-box);
      list-style: none;
      li {
        position: relative;
        float: left;
        margin-right: 10px;
        a {
          display: block;
          position: relative;
          float: left;
          width: 100%;
          text-align: center;
          padding: 0 20px;
          @include box-sizing(border-box);
          line-height: 50px;
          background-color: #eee;
          color: #333;
          font-size: 13px;
          font-weight: 400;
          @include breakpoint(max-width 1024px) {
            padding: 0 10px;
            margin-top: 10px;
          }
          &:hover {
            background-color: #303030;
            color: #fff;
          }
        }
      }
      li.active {
        a {
          background-color: #303030;
          color: #fff;
        }
      }
    }
    .shop__top-sales-home-elements--item {
      margin-bottom: 10px;
    }
  }
  .slick-navigation {
    position: absolute;
    top: 65%;
    width: 100%;
    display: none;
    justify-content: space-between;
    list-style: none;
    padding: 0;
    margin: 0;
    .prev, .next {
      cursor: pointer;
    }
    @include breakpoint(max-width 992px) {
      display: flex;
    }
    @include breakpoint(max-width 600px) {
      display: none;
    }
  }
  .single-shop-carousel {
    margin-bottom: 20px;
    @include breakpoint(max-width 992px) {
      padding: 0 30px;
    }
    @include breakpoint(max-width 600px) {
      padding: 0;
    }
  }

  //@import url(http://fonts.googleapis.com/css?family=Gochi+Hand);

  /* Trigger item */

  .tooltip-item {
    width: 30px;
    height: 30px;
    left: 50%;
    top: 50%;
    margin: -15px 0 0 -15px;
    position: absolute;
    border-radius: 50%;
    border: 2px solid #e35583;
    -webkit-animation: pulse 0.6s infinite alternate;
    animation: pulse 0.6s infinite alternate;
  }

  @-webkit-keyframes pulse {
    from { -webkit-transform: scale3d(0.5,0.5,1); }
    to { -webkit-transform: scale3d(1,1,1); }
  }

  @keyframes pulse {
    from { -webkit-transform: scale3d(0.5,0.5,1); transform: scale3d(0.5,0.5,1); }
    to { -webkit-transform: scale3d(1,1,1); transform: scale3d(1,1,1); }
  }

  /* Tooltip */

  .tooltip-content {
    position: absolute;
    background: #ff4444;
    z-index: 9999;
    width: 140px;
    bottom: 46%;
    margin-bottom: -1em;
    padding: 10px 5px;
    border-radius: 20px;
    font-size: 13px;
    text-align: center;
    color: #fff;
    opacity: 0;
    cursor: default;
    pointer-events: none;
    -webkit-font-smoothing: antialiased;
    -webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
    transition: opacity 0.3s, transform 0.3s;
  }

  .tooltip-west .tooltip-content {
    left: 4em;
    -webkit-transform-origin: -2em 50%;
    transform-origin: -2em 50%;
    -webkit-transform: translate3d(0,50%,0) rotate3d(1,1,1,30deg);
    transform: translate3d(0,50%,0) rotate3d(1,1,1,30deg);
  }

  .tooltip-east .tooltip-content {
    right: 4em;
    -webkit-transform-origin: calc(100% + 2em) 50%;
    transform-origin: calc(100% + 2em) 50%;
    -webkit-transform: translate3d(0,50%,0) rotate3d(1,1,1,-30deg);
    transform: translate3d(0,50%,0) rotate3d(1,1,1,-30deg);
  }

  .tooltip-main:hover .tooltip-content {
    opacity: 1;
    -webkit-transform: translate3d(0,50%,0) rotate3d(0,0,0,0);
    transform: translate3d(0,50%,0) rotate3d(0,0,0,0);
    pointer-events: auto;
  }

  /* Gap "bridge" and arrow */

  .tooltip-content::before,
  .tooltip-content::after {
    content: '';
    position: absolute;
  }

  .tooltip-content::before {
    height: 100%;
    width: 3em;
  }

  .tooltip-content::after {
    width: 2em;
    height: 2em;
    top: 50%;
    margin: -1em 0 0;
    background: url(../img/tooltip2.svg) no-repeat center center;
    background-size: 100%;
  }

  .tooltip-west .tooltip-content::before,
  .tooltip-west .tooltip-content::after {
    right: 99%; /* because of FF, otherwise we have a gap */
  }

  .tooltip-east .tooltip-content::before,
  .tooltip-east .tooltip-content::after {
    left: 99%; /* because of FF, otherwise we have a gap */
  }

  .tooltip-east .tooltip-content::after {
    -webkit-transform: scale3d(-1,1,1);
    transform: scale3d(-1,1,1);
  }

}
.category-buy {
  display: block;
  position: absolute;
  width: 76px;
  height: 24px;
  right: 11px;
  margin-top: 21px;
  background-color: #ee2e24;
  border: none;
  color: #ffffff;
  font-size: 10px;
  font-weight: 700;
  line-height: 14px;
  text-transform: uppercase;
  transition: 200ms ease;
  &:hover{
    transition: 200ms ease;
    color: #fff;
    background-color: darken(#ee2e24, 10%);
  }
  @include breakpoint(max-width 1200px) {
    width: 48px;
    font-size: 8px;
  }
  @include breakpoint(max-width 990px) {
    width: 68px;
    margin-top: 34px;
  }
  @include breakpoint(max-width 660px) {

  }
}
.label-wrap{
  display: flex;
  flex-direction: column;
  position: absolute;
  right: 10px;
  top: 60px;
}
.new-label {
  width: 30px;
  height: 30px;
  background-color: #3bc593;
  border-radius: 50%;
  text-align: center;
  margin-bottom: 10px;
  display: inline-block;
  color: #ffffff;
  z-index: 500;
  font-size: 8px;
  font-weight: 700;
  line-height: 29px;
  text-transform: uppercase;
  transition: 200ms ease;
  &:hover{
    transition: 200ms ease;
    background-color: darken(#3bc593, 10%);
  }
}
.hit-label {
  width: 30px;
  height: 30px;
  margin-bottom: 10px;
  border-radius: 50%;
  text-align: center;
  display: inline-block;
  color: #000;
  z-index: 500;
  font-size: 8px;
  font-weight: 700;
  line-height: 29px;
  text-transform: uppercase;
  background-color: #fbb900;
  transition: 200ms ease;
  &:hover{
    transition: 200ms ease;
    background-color: lighten(#fbb900, 10%);
  }
}
.percent-label{
  width: 30px;
  height: 30px;
  margin-bottom: 10px;
  border-radius: 50%;
  text-align: center;
  line-height: 29px;
  display: inline-block;
  font-weight: 700;
  z-index: 500;
  text-transform: uppercase;
  background: #ee2e24 url("../img/shop/icons/sales.png") no-repeat center center;
  background-size: 20px 20px;
  transition: 200ms ease;
  &:hover{
    transition: 200ms ease;
    background-color: darken(#ee2e24, 10%);
  }

}
.percent-discount-label{
  width: 30px;
  height: 30px;
  margin-bottom: 10px;
  border-radius: 50%;
  text-align: center;
  display: inline-block;
  color: #fff;
  z-index: 500;
  font-size: 8px;
  font-weight: 700;
  line-height: 29px;
  text-transform: uppercase;
  background-color: #0f7abe;
  transition: 200ms ease;
  &:hover{
    transition: 200ms ease;
    background-color: darken(#0f7abe, 10%);
  }
}
.discount-arrow-label{
  width: 30px;
  height: 30px;
  margin-bottom: 10px;
  border-radius: 50%;
  text-align: center;
  line-height: 29px;
  font-weight: 700;
  display: inline-block;
  z-index: 500;
  text-transform: uppercase;
  background: #7000fb url("../img/shop/icons/discount-arrow.png") no-repeat center center;
  background-size: 20px 20px;
  transition: 200ms ease;
  &:hover{
    transition: 200ms ease;
    background-color: darken(#7000fb, 10%);
  }
}
.tooltip-main{
  position: relative;
}

//.shop__categories--list li:hover .shop__categories--sub-menu{
//  display: flex;
//}
.category-banner {
  display: block;
  position: relative;
  float: left;
  width: 50%;
  > h3 {
    display: block;
    position: relative;
    float: left;
    width: 100%;
    margin-top: 0;
    margin-bottom: 0;
    color: #000000;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
  }
  > span {
    display: block;
    position: relative;
    float: left;
    width: 100%;
    height: 157px;
    margin-top: 18px;
    overflow: hidden;
    img {
      size: 100%;
      object-fit: contain;
    }
  }
}

.category-sale {
  display: block;
  position: absolute;
  width: 45px;
  height: 44px;
  top: 0;
  right: 0;
  /*color: #fff;
  font-size: 10px;
  font-weight: 400;*/
  background-image: url('../img/shop/cat-sale-bg.png');
  background-repeat: no-repeat;
  background-position: 0 0;
  > span {
    display: block;
    position: relative;
    margin-top: 5px;
    margin-left: 12px;
    color: #fff;
    font-size: 14px;
    font-weight: 400;
    transform: rotate(45deg);
  }
}

.category-name {
  display: block;
  position: relative;
  /*float: left;*/
  text-align: center;
  margin: 0 auto;
  color: #2a2a2a;
  font-size: 10px;
  font-weight: 700;
  text-transform: uppercase;
  /*line-height: 21px;*/
}

.category-element {
  display: block;
  position: relative;
  /*float: left;*/
  text-align: center;
  margin: 0 auto;
  color: #2a2a2a;
  font-size: 17px;
  font-weight: 300;
  /*line-height: 21px;*/
  @include breakpoint(max-width 1200px) {
    font-size: 14px;
  }
}

.category-photo {
  display: block;
  position: relative;
  margin: 0 auto;
  margin-top: 15px;
  width: 105px;
  height: 140px;
  overflow: hidden;
  @include breakpoint(max-width 1200px) {
    height: 117px;
  }
  @include breakpoint(max-width 1024px) {
    width: 70px;
  }
  img {
    size: 100%;
    object-fit: contain;
  }
}

.category-price {
  display: block;
  position: absolute;
  width: 79px;
  right: 87px;
  margin-top: 21px;
  @include breakpoint(max-width 1024px) {
    right: 55px;
  }
  @include breakpoint(max-width 990px) {
    margin-top: 31px;
    left: 10px;
  }
  &__new {
    display: block;
    position: relative;
    float: left;
    width: 100%;
    text-align: left;
    color: #2a2a2a;
    font-size: 17px;
    font-weight: 700;
    line-height: 33px;
    text-transform: uppercase;
  }
  &__old {
    display: block;
    position: absolute;
    /* width: 100%;*/
    top: -5px;
    left: 0;
    color: #868686;
    font-size: 10px;
    font-weight: 400;
    text-transform: uppercase;
    text-decoration: line-through;
  }
}

