.shop {
  &__filter-bar {
    width: 240px;
    padding: 20px 15px;
    float: left;
    border: 1px solid #e8e8e8;
    background-color: #ffffff;
    margin-right: 10px;
  }
  &__filter-content {
    width: calc(100% - 250px);
    float: right;
    @include breakpoint(max-width 992px) {
      width: 100%;
    }
    .shop__top-sales-elements {
      justify-content: flex-start;
    }
    .shop__top-sales-elements--item {
      width: 19%;
      margin-right: 11px;
      margin-bottom: 11px;
      &:nth-child(5n) {
        margin-right: 0;
      }
      @include breakpoint(max-width 992px) {
        width: 32%;
        margin-bottom: 10px;
        &:nth-child(3n) {
          margin-right: 0;
        }
        &:nth-child(5n) {
          margin-right: 10px;
        }
      }
    }
  }
  &__filter-title {
    position: relative;
    color: #000000;
    font-size: 14px;
    font-weight: 700;
    cursor: pointer;
    margin-top: 0;
    padding-left: 15px;
    margin-bottom: 15px;
    &:after {
      content: '';
      position: absolute;
      left: 0;
      top: 6px;
      width: 10px;
      height: 6px;
      background: url("../img/shop/icons/arrow-down.png") no-repeat;
      background-size: contain;
    }
  }
  &__filter-list {
    display: none;
    margin-top: 15px;
    margin-bottom: 15px;
    .active{
      color: #ee2e24;
    }
    label {
      color: #000000;;
      font-size: 13px;
      font-weight: 600;
      line-height: 21px;
      cursor: pointer;
      display: block;
      input[type='checkbox'] {
        visibility: hidden;
        position: absolute;
      }
    }
  }
  .active {
    .shop__filter-list{
      display: block;
    }
    &:after {
      transform: rotate(180deg);
    }
  }
  &__filter-search {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid #e8e8e8;
    background-color: #ffffff;
    padding: 20px 15px;
    margin-bottom: 10px;
    @include breakpoint(max-width 992px) {
      margin-top: 10px;
      flex-wrap: wrap;
    }
    &--price {
      color: #6f6969;
      font-size: 12px;
      font-weight: 600;
    }
    &--check {
      label {
        color: #6f6969;
        font-size: 12px;
        font-weight: 600;
        margin: 0;
      }
      input[type='checkbox'] {
        border-radius: 8px 3px;
        border: 2px solid #d6d6d6;
        width: 17px;
        height: 17px;
        margin: 0;
        background: transparent;
      }
    }
    &--select {
      label {
        color: #6f6969;
        font-size: 12px;
        font-weight: 600;
        margin: 0;
      }
      select {
        border: none;
        color: #ee2e24;
        font-size: 11px;
        font-weight: 600;
      }

    }
    .rating-stars {
      width: auto;
    }
    .filter-price-min, .filter-price-max {
      line-height: 19px;
      width: 47px;
      height: 22px;
      display: inline-block;
      margin: 0 5px;
      text-align: center;
      border-radius: 11px;
      border: 2px solid #d6d6d6;
      color: #212121;
      font-size: 10px;
      font-weight: 500;
      letter-spacing: 2.62px;
      transition: 200ms ease;
      &::placeholder{
        opacity: 1;
      }
      &:hover {
        border-color: darken(#d6d6d6, 10%);
        transition: 200ms ease;
      }
    }
    input[type='number'] {
      -moz-appearance: textfield;
    }
    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
      -webkit-appearance: none;
    }
  }
}

/* Customize the label (the container) */
.sale-filter {
  display: block;
  position: relative;
  padding-right: 27px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.sale-filter input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  right: 0;
  width: 17px;
  height: 17px;
  border-radius: 8px 3px;
  border: 2px solid #d6d6d6;
  background-color: #fff;
}

/* On mouse-over, add a grey background color */
.sale-filter:hover input ~ .checkmark {
  background-color: #fff;
}

/* When the checkbox is checked, add a blue background */
.sale-filter input:checked ~ .checkmark {
  background-color: #ee2e24;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.sale-filter input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.sale-filter .checkmark:after {
  left: 4px;
  top: 0;
  width: 6px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
