@import "fix-style";
@media only screen and (max-width: 1024px) {
  /*.header-ipanel{
    height: initial;
  }
  .header-ipanel:before{
    width: 75px;
    height: 68px;
    margin-left: -33px;
  }
  .header-ipanel{
    width: calc(100% - 105px);
  }
  .header:after {
    content: "";
    height: 82px;
  }
  .weather{
    margin-left: 10px;
  }

  .header-ipanel form {
    float: left;
    width: inherit;
    margin-left: 11px;
  }

  .currency-panel{
    width: 40%;
  }
  .header-menu{
    display: none;
    position: absolute;
    z-index: 10;
    background-color: #fbfafa;
    width: 100%;
    left: 0;
    padding: 10px;
    box-sizing: border-box;
    margin: 0;
    margin-top: 68px;
    li{
      width: 100%;
      float: left;
      a{
        text-align: center;
        font-weight: 700;
      }
    }
    li:first-of-type{
      display: none;
    }
  }
  .toggle_mnu{
    display: block;
  }
  .home-content__wrap{
    width: 65%;
  }

  .home-content__tape{
    width: 30%;
    margin-right: 0;
  }

  .home-content__sidebar{
    width: 100%;
  }
  // .home-content__sidebar_stock{
  //   width: 24%;
  // }

  .news-slider-index .js-carousel-1{
    width: 33%;
  }
  .slider-nav {
    width: 11%;
    right: 2.4%;
  }

  .news-slider-index-panel .buttons-wrap {
    width: 47%;
  }

  .news-slider-index-panel h3:after {
    content: "";
    width: 197px;
  }
  .afisha-wrap__event, .afisha-wrap__look{
    width: 100%;
  }

  .afisha-wrap__event .item, .afisha-wrap__look .item{
    width: 24%;
  }

  .afisha-wrap__yesterday{
    width: 100%;
    margin: 15px 0;
  }
  .enterprises__wrap .item-large, .enterprises__wrap .item-small{
    width: 47.8%;
  }
  .enterprises__wrap .item-large{
    width: 100%;
  }

  .home-content__sidebar_poll, .home-content__sidebar_stock, .home-content__sidebar_consultation{
    width: 32%;
    margin: 0 auto;
  }
  .home-content__sidebar_exchange {
    width: 49%;
  }
  .home-content__sidebar_weather{
    width: 100%;
  }*/
}

@media only screen and (max-width: 980px) {

}

@media only screen and (max-width: 770px) {

}

@media only screen and (max-width: 736px) {
  /*.select{
    margin-top: 23px;
  }
  .header-ipanel {
    height: 68px;
  }
  .currency-panel, .weather, .header-ipanel form{
    display: none;
  }
  .home-content__wrap{
    width: 100%;
    margin: 0;
  }
  .enterprises__wrap .item-large, .enterprises__wrap .item-small{
    width: 100%;
  }
  .home-content__wrap_enterprises .title a{
    width: 100%;
    text-align: left;
  }
  .home-content__wrap_checkpoint, .home-content__wrap_komunalka, .home-content__wrap_subscribe{
    display: none;
  }
  .home-content__tape{
    width: 100%;
    margin: 20px 0 0;
  }
  .home-content__sidebar, .home-content__sidebar_poll, .home-content__sidebar_consultation, .home-content__sidebar_exchange{
    width: 100%;
    margin-top: 20px;
  }
  .home-content__sidebar_stock{
    display: none;
  }
  .news-slider-index{
    display: none;
  }
  .ads{
    display: none;

  }
  .afisha-wrap__event .item, .afisha-wrap__look .item {
    width: 48%;
  }
  .company__box .item-large, .company__box .item-small{
    width: 100%;
    margin-left: 0;
    margin-right: 0;
  }
  .photo{
    display: none;
  }*/
}

@media only screen and (max-width: 680px) {

  /*.photo__trigger {
   display: block;
  }
  .photo__box{
    display: none;
  }
  .photo__left {
    width: 100%;
    margin-top: 20px;
  }
  .photo__center {
    width: 100%;
    padding: 0 9px 0 13px;
    margin-top: 0;
  }
  .photo__center h3, .photo__center p {
   display: none;
  }
  .photo__center--img {
    width: 100%;
    height: 204px;
    margin-right: 0;
    margin-top: 10px;
    overflow: hidden;
  }
  .photo__center--imgs .photo__left--item {
    width: 100%;
    height: 204px;
  }
  .photo__right {
    width: 100%;
    margin-top: 0;
  }
  .photo__right--item {
    height: 204px;
    overflow: hidden;
  }

  .main-title, .separator {
    display: none;
  }
  .more {
    display: none;
  }

  .company__trigger{
    display: block;
  }

  .ads__trigger {
    display: block;
  }
  .ads__box {
    display: none;
  }
  .ads__item{
    width: 100%;
  }
  .ads__map {
    width: 100%;
    height: 185px;
  }
  .ads__descr {
    display: none;
  }

  .footer__logo {
    display: none;
  }
  .footer__main {
    width: 100%;
  }
  .footer__nav {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    position: relative;
    margin-top: 60px;
    padding: 0;
    list-style: none;
  }
  .footer__nav li a {
    padding: 8px 0;
  }
  .footer__main p {
    display: none;
  }
  .footer__social {
    width: 100%;
    margin-left: 0;
  }
  .footer__links {
    justify-content: space-around;
    margin-top: 20px;
    margin-bottom: 15px;
  }
  .footer__send {
    width: 280px;
    margin-left: calc(50% - (280px / 2));
    margin-bottom: 30px;
  }

  .modal-send {
    width: 320px;
    top: 10%;
    margin-left: calc(50% - (320px/2));
  }*/

}

@media only screen and (max-width: 568px) {

}

@media only screen and (max-width: 320px) {

}
