.header{
  width: 100%;
  float: left;
  position: relative;
  background-color: #fbfafa;
  box-shadow: 1.6px 1.2px 1.8px 0.2px rgba(0, 0, 0, 0.18);
  &:after{
    content: "";
    height: 34px;
    background-color: #0c242e;
    right: 0;
    width: 20%;
    display: inline-block;
    position: absolute;
    margin-top: -68px;
  }
}

.header-logo{
  size: 67px;
  float: left;
  display: block;
  overflow: hidden;
  img{
    size: 100%;
    object-fit: contain;
  }
}

.header-menu{
  float: left;
  width: calc(100% - 81px);
  display: block;
  padding: 0;
  margin: 0;
  margin-top: 9px;
  margin-left: 14px;
  position: relative;
  li{
    display: inline-block;
    list-style-type: none;
    margin-right: 30px;
    a{
      width: 100%;
      float: left;
      display: block;
      position: relative;
      text-transform: uppercase;
      // font-family: $or;
      font-weight: 400;
      font-size: 14px;
      color: #242424;
      line-height: 20px;
      transition: width ease-in-out 0.4s;
          &:after{
            display: block;
            position: absolute;
            content: "";
            bottom: -1px;
            left: 0;
            width: 0;
            height: 2px;
            background-color: #ee2e24;
            transition: width ease-in-out 0.4s;
          }
    }
    a:hover{
      color: #ee2e24;
      transition: width ease-in-out 0.4s;
      &:after{
        width: 100%;
      }
    }
    &:first-of-type{
      margin-right: 68px;
      a{
        // font-family: $ob;
        font-weight: 700;
        font-size: 17px;
        color: #f34942;
        line-height: 20px;
        &:after{
          display: none;
        }
      }
    }
  }
}
.header-ipanel{
  width: calc(100% - 73px);
  right: 0;
  height: 34px;
  position: relative;
  float: right;
  background-color: #0c242e;
  background-repeat: no-repeat;
  background-size: cover;
  // background-image: url("../img/header/line.png");
  z-index: 10;
  &:before{
    content: "";
    -o-transform: skew(45deg);
    -ms-transform: skew(45deg);
    -moz-transform: skew(45deg);
    -webkit-transform: skew(45deg);
    transform: skew(45deg);
    background-color: #0c242e;
    width: 35px;
    height: 34px;
    display: block;
    position: absolute;
    margin-left: -17px;
  }
  form{
    float: right;
    display: inline-block;
    position: relative;
    input{

      background-color: rgba(231, 231, 231, 0.4);
      border: none;
      width: 133px;
      height: 34px;
      float: left;
      padding-left: 37px;
      -webkit-transition: width 1s; /* Safari */
      transition: width 1s;
      box-sizing: border-box;
      background-image: url("../img/header/search-icon.png");
      background-repeat: no-repeat;
      background-size: 11px;
      background-position-x: 20px;
      background-position-y: 12px;
      &::-webkit-input-placeholder {color: #fff;
      font-size: 10px;
      font-weight: 600;
      line-height: 12px;
      text-transform: uppercase;}
      &::-moz-placeholder {color: #fff;
      font-size: 10px;
      font-weight: 600;
      // line-height: 12px;
      text-transform: uppercase;}
      &:-moz-placeholder {color: #fff;
      font-size: 10px;
      font-weight: 600;
      line-height: 12px;
      text-transform: uppercase;}
      &:-ms-input-placeholder {color: #fff;
      font-size: 10px;
      font-weight: 600;
      line-height: 12px;
      text-transform: uppercase;}

    }
    .search_input_acive{
      width: 330px;
    }
    button{
      float: left;
      display: inline-block;
      position: relative;
      width: 133px;
      height: 34px;
      background-color: rgba(243, 73, 66, 0.4);
      border: none;
      color: #fff;
      font-size: 10px;
      font-weight: 600;
      line-height: 12px;
      text-transform: uppercase;
      .autoriz-icon{
        display: inline-block;
        float: none;
        position: relative;
        top: 3px;
        background-repeat: no-repeat;
        background-size: contain;
        margin-right: 5px;
        size: 14px;
        background-image: url("../img/header/autoriz-icon.png");
      }
    }
  }
}

.select{
  float: left;
  display: inline-block;
  min-width: 15%;
  position: relative;
  z-index: 10;
  padding-left: 10px;
  box-sizing: border-box;
  select{
    background-image: url("../img/icons/rect.png");
    background-position: 100% 57%;
    background-repeat: no-repeat;
    background-size: 9%;
    border: none;
    min-width: 120px;
    background-color: #0c242e;
    color: #fff;
    text-transform: uppercase;
    outline: none;
    cursor: pointer;
    font-size: 18px;
    font-weight: 700;
    // line-height: 12px;
    margin: 5px 0;
    /*for WebKit*/
 -webkit-appearance: none;
 /* for FF */
  -moz-appearance: none;
  text-indent: 0.01px;
  text-overflow: '';
  /* for IE */
  -ms-appearance: none;
  appearance: none!important;
  }

}
.weather{
  width: 10%;
  display: inline-block;
  float: left;
  position: relative;
  padding-top: 5px;
  box-sizing: border-box;
}

.weather-pic{
  width: 16px;
  height: 22px;
  display: block;
  position: relative;
  margin-right: 10px;
  float: left;
  overflow: hidden;
  img{
    size: 100%;
    object-fit: contain;
  }
}

.weather-temp{
  width: auto;
  color: #fff;
  font-size: 15px;
  font-weight: 400;
  line-height: 12px;
  padding-top: 5px;
  box-sizing: border-box;
  // font-family: $or;
  font-weight: 400;
  display: inline-block;
}

.currency-panel{
  width: 31%;
  float: left;
  position: relative;
  padding: 5px 0;
  box-sizing: border-box;
  .item{
    display: inline-block;
    float: left;
    position: relative;
    margin-right: 15px;
    &:last-of-type{
      margin-right: 0;
    }
    .currency{
      color: #fff;
      // font-family: $or;
      font-weight: 400;
      font-size: 15px;
      line-height: 12px;
    }
    .currency-pic{
      color: #fff;
      font-size: 15px;
      margin-right: 2px;
    }
  }
}

.toggle_mnu {
		display: none;
    width: 40px;
    height: 40px;
    position: absolute;
    z-index: 10;
    border: none;
    right: 10px;
    top: 20px;
    outline: none;
    background-color: transparent; }
.toggle_mnu span {
		display: block; }

	.sandwich {
	  width: 34px;
	  height: 34px;
	  position: absolute;
	  top: 10px;
	  bottom: 0;
	  left: 0;
	  right: 0;
	  margin: auto;
	  z-index: 200; }

		.sw-topper {
		  position: relative;
		  top: 0;
		  width: 34px;
		  height: 3px;
		  background: white;
		  border: none;
		  border-radius: 4px 4px 4px 4px;
		  transition: transform 0.5s, top 0.2s;
		  display: block; }

		.sw-bottom {
		  position: relative;
		  width: 34px;
		  height: 3px;
		  top: 6.6px;
		  background: white;
		  border: none;
		  border-radius: 4px 4px 4px 4px;
		  transition: transform 0.5s, top 0.2s;
		  transition-delay: 0.2s, 0; }

		.sw-footer {
		  position: relative;
		  width: 34px;
		  height: 3px;
		  top: 13.5px;
		  background: white;
		  border: none;
		  border-radius: 4px 4px 4px 4px;
		  transition: all 0.5s;
		  transition-delay: 0.1s; }

		.sandwich.active .sw-topper {
		  top: 9px;
		  transform: rotate(-45deg); }
		.sandwich.active .sw-bottom {
		  top: 6px;
		  transform: rotate(45deg); }
		.sandwich.active .sw-footer {
		  opacity: 0;
		  top: 0;
		  transform: rotate(180deg); }
