.header__navigation{
  display: block;
  position: relative;
  float: left;
  width: calc(100% - 67px);
  @include breakpoint(max-width 660px){
    width: 100%;
  }
}
.header-menu {
  float: left;
  width: calc(100% - 48px);
  display: block;
  padding: 0;
  margin: 0;
  margin-top: 9px;
  margin-left: 0;
  position: relative;
  @include breakpoint(max-width 770px){
   margin-left: 0;
  }
  @include breakpoint(max-width 660px){
    display: none;
    width: 100%;
    margin-left: 0;
    margin-top: 37px;
    position: absolute;
    left: 0;
    z-index: 2;
    background-color: white;
  }
  li {
    display: inline-block;
    list-style-type: none;
    margin-right: 30px;
    @include breakpoint(max-width 1024px){
      margin-right: 10px;
    }
    @include breakpoint(max-width 770px){
      margin-right: 5px;
    }
    @include breakpoint(max-width 660px){
      width: 100%;
      text-align: center;
    }
    a {
      width: 100%;
      float: left;
      display: block;
      position: relative;
      text-transform: uppercase;
      // font-family: $or;
      font-weight: 400;
      font-size: 14px;
      color: #242424;
      line-height: 20px;
      transition: width ease-in-out 0.4s;
      @include breakpoint(max-width 1024px){
        font-size: 12px;
      }
      @include breakpoint(max-width 1024px){
        font-size: 10px;
      }
      &:after {
        display: block;
        position: absolute;
        content: "";
        bottom: -1px;
        left: 0;
        width: 0;
        height: 2px;
        background-color: #ee2e24;
        transition: width ease-in-out 0.4s;
      }
    }
    a:hover {
      color: #ee2e24;
      transition: width ease-in-out 0.4s;
      &:after {
        width: 100%;
      }
    }
    &:first-of-type {
      margin-right: 68px;
      @include breakpoint(max-width 1024px){
        margin-right: 46px;
      }
      @include breakpoint(max-width 770px){
        margin-right: 5px;
      }
      a {
        // font-family: $ob;
        font-weight: 700;
        font-size: 17px;
        color: #f34942;
        line-height: 20px;
        &:after {
          display: none;
        }
      }
    }
    &:last-of-type {
      margin-right: 0;
    }
  }
}
.header-menu__sub {
  float: left;
  position: relative;
  width: 48px;
  @include breakpoint(max-width 770px){
    width: 48px;
    margin-top: 0;
    margin-bottom: 20px;
    /*position: absolute;
    left: 0;
    top: 103px;
    margin-top: 35px;*/
  }
  @include breakpoint(max-width 660px){
    width: 48px;
    margin-top: 0;
    margin-bottom: 20px;
    /*position: absolute;
    left: 0;
    top: 103px;
    margin-top: 35px;*/
  }
}
.toggle_mnu {
  display: none;
  width: 40px;
  height: 40px;
  position: absolute;
  z-index: 10;
  border: none;
  right: 10px;
  top: 0;
  outline: none;
  background-color: transparent;
  @include breakpoint(max-width 660px){
    display: block;
  }
}

.toggle_mnu span {
  display: block;
}
.sandwich {
  width: 34px;
  height: 34px;
  position: absolute;
  top: 10px;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  z-index: 200;
}

.sw-topper {
  position: relative;
  top: 0;
  width: 34px;
  height: 3px;
  background: white;
  border: none;
  border-radius: 4px 4px 4px 4px;
  transition: transform 0.5s, top 0.2s;
  display: block;
}

.sw-bottom {
  position: relative;
  width: 34px;
  height: 3px;
  top: 6.6px;
  background: white;
  border: none;
  border-radius: 4px 4px 4px 4px;
  transition: transform 0.5s, top 0.2s;
  transition-delay: 0.2s, 0;
}

.sw-footer {
  position: relative;
  width: 34px;
  height: 3px;
  top: 13.5px;
  background: white;
  border: none;
  border-radius: 4px 4px 4px 4px;
  transition: all 0.5s;
  transition-delay: 0.1s;
}

.sandwich.active .sw-topper {
  top: 9px;
  transform: rotate(-45deg);
}

.sandwich.active .sw-bottom {
  top: 6px;
  transform: rotate(45deg);
}

.sandwich.active .sw-footer {
  opacity: 0;
  top: 0;
  transform: rotate(180deg);
}