.afisha-events{
  width: 100%;
  float: left;
  position: relative;
  margin-bottom: 40px;
  .show-more{
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    color: #fff;
    text-align: center;
    padding: 10px 25px;
    box-sizing: border-box;
    background-color: #ee2e24;
    border-radius: 5px;
    display: inline-block;
    text-decoration: none;
    margin-top: 20px;
  }
}

.afisha-events__wrap{
  display: flex;
  width: 100%;
  float: left;
  position: relative;
  flex-flow: row wrap;
}


.what-to-see, .where-to-go, .interested{
  width: 100%;
  float: left;
  position: relative;
  text-align: center;
  padding: 40px 0 10px;
  box-sizing: border-box;
  background-color: #fff;
  h3{
    width: 100%;
    display: inline-block;
    font-size: 25px;
    font-weight: 700;
    float: left;
    text-align: left;
    padding-left: 22px;
    box-sizing: border-box;
    margin-top: 0;
  }
  .item{
    width: 17%;
    flex-basis: 17%;
    float: none;
    position: relative;
    height: 260px;
    overflow: hidden;
    margin: 25px auto;
    display: inline-block;

    img{
      size: 100%;
      object-fit: cover;
    }
    .item-content{
      position: absolute;
      width: 100%;
      left: 0;
      bottom: 0;
      padding: 10px 15px;
      box-sizing: border-box;
      background-color: rgba(255, 255, 255, 0.75);
      display: none;
      .type, .name-item, .time{
        color: #090e10;
        font-size: 16px;
        font-weight: 400;
        width: 100%;
        text-align: left;
        float: left;
        float: left;
        margin: 8px 0;
      }
      .name-item{
        font-size: 18px;
        font-weight: 700;
        line-height: 10px;
      }
      .time{
        font-size: 18px;
        font-weight: 700;
      }
    }
  }
  .item:hover .item-content{
    display: block;
  }
  .interested__item{
    width: 46%;
    flex-basis: 46%;
    float: none;
    margin: 0 auto 47px;
    height: 140px;
    display: inline-block;
    overflow: hidden;
    position: relative;
    img{
      size: 100%;
      object-fit: cover;
    }
  }
  .interested__item_title{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    padding: 30px 102px;
    box-sizing: border-box;
    h4{
      color: #fff;
      font-weight: 700;
      font-size: 20px;
      width: 100%;
      text-align: center;
      margin: 0;
    }
    span{
      color: #fff;
      font-weight: 400;
      font-size: 15px;
      text-align: center;
      display: inline-block;
      width: 100%;
    }
  }
}


.events-day{
  width: 100%;
  float: left;
  position: relative;
  background-color: #fff;
}

.events-day__wrap{
  width: 100%;
  float: left;
  position: relative;
  .item{
    width: 23%;
    float: left;
    position: relative;

    box-sizing: border-box;
    .thumb{
      width: 100%;
      float: left;
      height: 165px;
      img{
        size: 100%;
        object-fit: cover;
      }
    }
    .contents{
      width: 100%;
      border: 2px solid #f9f9f9;
      float: left;
      padding: 10px;
      box-sizing: border-box;
      .type, .date, .place{
        text-align: left;
        width: 100%;
        color: #000;
        display: inline-block;
        font-size: 11px;
        font-weight: 400;
      }
      .date, .place{
        font-size: 13px;
      }
      h3{
        width: 100%;
        text-align: left;
        display: inline-block;
        color: #000;
        font-weight: 700;
        margin: 5px 0;
        font-size: 17px;
      }
    }
  }
}
