.all-actions {
  display: block;
  position: relative;
  float: left;
  width: 100%;
  min-height: calc(100vh - 265px);
  &__wrapper {
    width: calc(100% - 265px);
    float: left;
    position: relative;
    margin-right: 15px;
    @include breakpoint(max-width 992px) {
      width: 100%;
    }
  }

  &__header {
    display: flex;
    align-items: center;
    width: 100%;
    margin-bottom: 22px;
    @include breakpoint(max-width 992px) {
      flex-wrap: wrap;
    }
  }
  &__title {
    margin: 0;
    color: #000000;
    font-size: 19px;
    font-weight: 700;
   @include breakpoint(max-width 992px){
     width: 195px;
     float: left;
   }
  }
  form {
    position: relative;
    width: 60%;
    @include breakpoint(max-width 992px){
      width: calc(100% - 195px);
      float: left;
      padding-bottom: 20px;
      margin-top: 20px;
    }
    @include breakpoint(max-width 660px) {
      width: 100%;
      padding-bottom: 50px;
    }
    input{
      width: 100px;
    }

  }
  &__search {
    position: relative;
    border: none;
    background: transparent;
    font-size: 15px;
    font-weight: 600;
    &::placeholder {
      opacity: 1;
    }
  }
  &__select {
    position: absolute;
    right: 0;
    top: -9px;
    list-style: none;
    padding: 0;
    margin: 0;
    z-index: 999;
    width: 316px;
    border-radius: 3px;

    @include breakpoint(max-width 992px) {
      right: 0;
      top: -8px;
    }
    @include breakpoint(max-width 440px){
      left: 0px;
      top: 30px;
    }
    li {
      padding: 8px 15px;
      width: 100%;
      box-sizing: border-box;
      cursor: pointer;
      color: #444343;
      font-size: 14px;
      input {
        width: 94px;
        height: 25px;
        border: 1px solid #8f9091;
        color: #807e7e;
        font-size: 14px;
        font-weight: 600;
        text-align: center;
        display: inline-block;
        margin-left: 10px;
        margin-right: 10px;
        &::placeholder {
          opacity: 1;
        }
      }
      button {
        width: 99px;
        height: 25px;
        background-color: #ff0000;
        border: none;
        color: #fff;
      }
      &:hover {
        background-color: #eff0f1;
      }
    }
    .init {
      color: #000000;
      font-size: 15px;
      font-weight: 600;
      padding-left: 45px;
      background-color: transparent;
      button {
        display: none;
      }
      &:after {
        content: '';
        position: absolute;
        left: 15px;
        top: 11px;
        height: 18px;
        width: 18px;
        background: url("../img/icons/clock.png") no-repeat center center;
        background-size: contain;
      }
    }
    li:not(.init) {
      float: left;
      display: none;
    }
  }
  .select-init{
    border: 1px solid #8f9091;
    background-color: #ffffff;
  }
  &__button-search {
    border: none;
    background: transparent;
    margin-left: 12px;
    margin-right: 14px;
    width: 13px;
    height: 13px;
    background: url("../img/icons/search-1.png") no-repeat center center;
    background-size: contain;
  }
  &__content {
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    background: #fff;
    border-radius: 1px;
    padding: 20px;
    margin-bottom: 50px;
    @include box-sizing(border-box);
    @include breakpoint(max-width 660px) {
      padding: 10px;
    }
  }
  &__desc {
    color: #000000;
    font-weight: 400;
    font-size: 13px;
    margin-bottom: 7px;
  }
  &__item {
    width: 100%;
    box-shadow: 3px 7px 23px 1px rgba(116, 130, 137, 0.15);
    border-radius: 8px;
    background-color: #ffffff;
    padding: 20px 40px;
    margin: 10px 0;
    position: relative;
    @include breakpoint(max-width 660px) {
      padding: 0 10px;
    }
  }
  &__img {
    height: 135px;
    width: 135px;
    margin-right: 10px;
    float: left;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    @include breakpoint(max-width 660px) {
      margin: 20px 0;
      width: 100%;
    }
  }
  &__title-item {
    color: #000000;
    font-size: 13px;
    margin: 0;
    font-weight: 700;
    width: calc(100% - 145px);
    float: left;
    @include breakpoint(max-width 660px) {
      width: 100%;
      margin-bottom: 20px;
    }
    &--view {
      font-weight: 400;
      margin-left: 35px;
      position: relative;
      @include breakpoint(max-width 660px) {
        position: absolute;
      }
      &:before {
        content: '';
        position: absolute;
        left: -25px;
        width: 20px;
        top: 0;
        height: 15px;
        background: url("../img/icons/cabinet-eye-type2-icon.png") no-repeat center;
        background-size: contain;
      }
    }
  }
  &__company {
    position: relative;
    width: calc(100% - 145px);
    float: left;
    margin-top: 10px;
    margin-bottom: 10px;
    @include breakpoint(max-width 660px) {
      width: 100%;
      margin-top: 0;
      margin-bottom: 20px;
    }
    &--img {
      width: 34px;
      height: 33px;
      float: left;
      position: relative;
      margin-right: 13px;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
    &--title {
      color: #000000;
      font-size: 13px;
      font-weight: 600;
      margin: 0;
      float: left;
      width: calc(100% - 47px);
    }
    &--addres {
      color: #000000;
      font-size: 10px;
      font-weight: 600;
      float: left;
      width: calc(100% - 47px);
    }
  }
  &__description {
    position: relative;
    width: calc(100% - 145px);
    float: left;
    color: #000000;
    font-size: 12px;
    font-weight: 600;
    @include breakpoint(max-width 660px) {
      width: 100%;
    }
  }
  &__bottom {
    position: relative;
    width: calc(100% - 145px);
    float: left;
    display: flex;
    margin-top: 10px;
    @include breakpoint(max-width 660px) {
      width: 100%;
      flex-wrap: wrap;
      margin-bottom: 20px;
    }
    &--more, &--comments {
      color: #075882;
      font-size: 13px;
      font-weight: 600;
      text-decoration: underline;
      margin-right: 20px;
    }
    &--sale {
      position: relative;
      font-size: 12px;
      font-weight: 600;
      color: #060000;
      margin-left: 22px;
      @include breakpoint(max-width 660px) {
        display: none;
      }
      &:after {
        content: '';
        position: absolute;
        top: -2px;
        left: -26px;
        width: 20px;
        height: 20px;
        background: url("../img/home-content/time-icon.png") no-repeat center center;
        background-size: contain;
      }
    }
  }
  &__favorites {
    position: absolute;
    top: 20px;
    left: 16px;
    cursor: pointer;
    &:before {
      content: '';
      position: absolute;
      height: 12px;
      width: 12px;
      background: url("../img/icons/favorite.png") no-repeat center center;
      background-size: contain;
    }
  }
  .main-title {
    font-size: 15px;
  }
  .absolute {
    right: 10px;
  }
  .show-more {
    margin: 35px auto;
  }

}
