.banner-top{
  width: 100%;
  float: left;
  position: relative;
  text-align: center;
  height: 145px;
  margin-top: 17px;
  img{
    object-fit: cover;
    width: 100%;
    height: 145px;
  }
}
.banner-top__wrap{
  width: 100%;
  position: absolute;
  height: 145px;
  left: 0;
  bottom: 0;
  z-index: 10;
  text-align: center;
  padding: 20px 0;
  box-sizing: border-box;
  h2, p{
    color: #fefefe;
    width: 100%;
    float: left;
    text-align: center;
    display: inline-block;
    margin: 0;
    font-weight: 700;
    font-size: 22px;
  }
  h2{
    display: -webkit-box;
    line-height: 1.2;
    height: calc(22px * 1.2 * 2);
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  p{
    font-size: 18px;
    font-weight: 400;
  }
}

.banner-date{
  display: inline-block;
  position: relative;
  font-size: 10px;
  font-weight: 400;
  text-transform: uppercase;
  color: #fff;
  background-color: rgba(255, 2, 0, 0.67);
  border-radius: 2px;
  padding: 5px 30px;
  box-sizing: border-box;
  margin-top: 12px;
}
