.cabinet__container {
  > .afisha-wrap__event{
    width: 100%;
    float: left;
    position: relative;
    > .item{
      width: 205px;
      float: left;
      position: relative;
      height: 265px;
      margin-right: 14px;
      margin-left: 10px;
      margin-bottom: 20px;
      @include breakpoint(max-width 600px){
        width: 100%;
        margin-left: 0;
        margin-right: 0;
      }
      &:last-of-type{
        margin-right: 0;
      }
      > .item-content{
        display: block;
        position: absolute;
        top: 265px;
        left: 0;
        width: 100%;
        height: 153px;
        transition: top 0.2s linear;
        @include breakpoint(max-width 600px){
          top: 120px;
        }
        .type{
          display: block;
          position: relative;
          float: left;
          width: 100%;
          text-transform: uppercase;
          margin: 0;
          color: #fff;
          font-size: 14px;
          font-weight: 400;
          text-overflow: ellipsis;
          overflow: hidden;
        }
        .name-item{
          display: block;
          position: relative;
          float: left;
          width: 100%;
          margin-top: 22px;
          margin-bottom: 13px;
          color: #fff;
          font-size: 16px;
          font-weight: 700;
          text-overflow: ellipsis;
          overflow: hidden;
          white-space: nowrap;
        }
        .time{
          display: block;
          position: relative;
          float: left;
          width: 100%;
          margin-top: 0;
          margin-bottom: 0;
          color: #fff;
          font-size: 20px;
          font-weight: 700;
          text-overflow: ellipsis;
          overflow: hidden;
          white-space: nowrap;
        }
      }
    }
    > .item:hover{
      > .item-content{
        top: 112px;
        transition: top 0.2s linear;
        padding: 26px 16px;
        @include box-sizing(border-box);
      }
    }
  }
}

.add_field_button{
  position: absolute;
  padding: 6px 20px;
  box-sizing: border-box;
  background-color: #ee2e24;
  border: none;
  display: block;
  border-radius: 5px;
  text-align: center;
  font-size: 12px;
  font-weight: 700;
  color: #fff;
  right: -123px;
  cursor: pointer;
}
