.cabinet {
  background-color: #edeef0;
  &__nav {
    display: block;
    position: relative;
    float: left;
    width: 223px;
    background-color: #fbfbfb;
    border: 1px solid #dedede;
    margin-top: 40px;
    margin-bottom: 229px;
    padding: 0;
    @include breakpoint(max-width 600px){
      margin-bottom: 0;
    }
    li {
      display: block;
      position: relative;
      width: 100%;
      float: left;
      a {
        display: block;
        position: relative;
        float: left;
        width: 100%;
        padding: 20px 14px;
        @include box-sizing(border-box);
        text-align: center;
        text-transform: capitalize;
        color: #040000;
        font-size: 17px;
        font-weight: 500;
      }
      a:hover:after{
        display: block;
        position: absolute;
        content: '';
        top: 17px;
        right: 0;
        width: 3px;
        height: 30px;
        background-color: #ff0200;
      }
      a.active {
        &:after {
          display: block;
          position: absolute;
          content: '';
          top: 17px;
          right: 0;
          width: 3px;
          height: 30px;
          background-color: #ff0200;
        }
      }
    }
  }
  &__wrapper{
    display: block;
    position: relative;
    float: left;
    width: calc(100% - 225px);
    margin-top: 40px;
    h3{
      display: block;
      position: relative;
      float: left;
      width: 100%;
      color: #040000;
      font-size: 25px;
      font-weight: 500;
      margin: 0;
      padding: 15px 21px;
      @include box-sizing(border-box);
    }
  }
  &__links{
    display: block;
    position: relative;
    float: left;
    width: 100%;
    &--box{
      display: block;
      position: relative;
      float: left;
      width: calc(100% - 331px);
      background-color: #fbfbfb;
      margin-right: 15px;
    }
    &--link{
      display: block;
      position: relative;
      float: left;
      text-align: center;
      color: black;
      font-size: 14px;
      font-weight: 700;
      padding: 14px 40px;
      @include box-sizing(border-box);
      &:after{
        display: block;
        position: absolute;
        content: '';
        width: 22px;
        height: 22px;
        top: 35px;
        left: 78px;
        transform: rotate(45deg);
        background-color: #fbfbfb;
      }
      span{
        color: #959595;
        font-size: 12px;
        font-weight: 400;
      }
    }
    .show-more{
      width: 151px;
      margin-top: 6px;
      &__icon{
        display: block;
        position: relative;
        float: left;
        top: 2px;
        width: 15px;
        height: 14px;
        background-image: url('../img/icons/plus-icon.png');
        background-repeat: no-repeat;
        -webkit-background-size: contain;
        background-size: contain;
      }
    }
  }
  &__container{
    display: block;
    position: relative;
    float: left;
    width: 100%;
    padding-left: 12px;
    padding-top: 28px;
    @include box-sizing(border-box);
    .business__sm-item {
      width: 212px;
    }
  }
  &__add{
    display: block;
    position: relative;
    float: left;
    width: 100%;
    p{
      display: block;
      position: relative;
      float: left;
      padding-left: 34px;
      @include box-sizing(border-box);
      margin-right: 32px;
      color: #040000;
      font-size: 16px;
      font-weight: 500;
    }
    .show-more{
      margin-top: 9px;
    }
  }
  &__packages{
    @include display(flex);
    @include flex-wrap(wrap);
    @include flex-direction(row);
    @include justify-content(center);
    position: relative;
    float: left;
    width: 100%;
    background-color: #fbfbfb;
    &--title{
      display: block;
      position: relative;
      float: left;
      width: 100%;
      margin-top: 30px;
      margin-bottom: 30px;
      text-align: center;
      color: #060400;
      font-size: 14px;
      font-weight: 700;
    }
    &--item{
      @include display-flex(flex);
      @include flex-wrap(wrap);
      @include flex-direction(column);
      @include align-items(center);
      position: relative;
      float: left;
      width: 235px;
      height: 281px;
      margin-bottom: 52px;
      border: 1px solid #e8e9ed;
      border-radius: 5px 0px 0px 5px;
      p:first-of-type{
        margin-top: 51px;
        color: #9fa3a7;
        font-size: 7px;
        font-weight: 400;
        text-transform: uppercase;
      }
      h3{
        margin-top: 20px;
        margin-bottom: 35px;
        color: #060400;
        font-size: 19px;
        font-weight: 700;
        line-height: 23px;
        text-align: center;
        padding: 0;
      }
      p:nth-of-type(2){
        text-align: center;
        color: #0c242e;
        font-size: 9px;
        font-weight: 600;
        line-height: 14px;
        margin: 0;
        a{
          color: #0c242e;
          text-decoration: underline;
        }
      }
    }
    &--item:hover{
      border: 1px solid #ee2e24;
      background-color: #ee2e24;
      p:first-of-type{
        color: #0c242e;
      }
      h3{
        color: #fbfbfb;
      }
      p:nth-of-type(2){
        color: #fbfbfb;
        a{
          color: #fbfbfb;
        }
      }
      .cabinet__packages--buy{
        color: #FFFFFF;
        border: 3px solid white;
      }
    }
    &--buy{
      display: block;
      position: relative;
      float: left;
      width: 93px;
      height: 33px;
      margin-top: 33px;
      border: 3px solid #ff0200;
      border-radius: 20px;
      text-align: center;
      color: #292929;
      font-size: 7px;
      font-weight: 400;
      line-height: 33px;
      text-transform: uppercase;
    }
  }
  &__add-company{
    display: block;
    position: relative;
    float: left;
    width: 100%;
    background-color: #fff;
  }
  &__add-company-form{
    @include display(flex);
    @include flex-wrap(wrap);
    @include flex-direction(row);
    @include justify-content(flex-start);
    position: relative;
    float: left;
    width: 100%;
    padding: 30px 42px;
    @include box-sizing(border-box);
    &--title{
      display: block;
      position: relative;
      float: left;
      width: 165px;
      height: 30px;
      text-align: left;
      margin: 0;
      color: black;
      font-size: 14px;
      font-weight: 400;
      line-height: 30px;
    }
    &--field{
      display: block;
      position: relative;
      float: left;
      width: 238px;
      height: 30px;
      margin-bottom: 40px;
      border: 1px solid #b8b8b9;
      padding: 1px 10px;
      @include box-sizing(border-box);
      &:focus{
        outline: none;
      }
    }
    &--block{
      display: block;
      position: relative;
      float: left;
      width: calc(100% - (238px + 165px + 2px));
      height: 30px;
    }
    .show-more{
      width: 128px;
      height: 30px;
      line-height: 11px;
      margin-left: 33px;
    }
    &--notice{
      display: block;
      position: relative;
      float: left;
      height: 30px;
      text-align: center;
      margin-top: 0;
      margin-bottom: 0;
      margin-left: 27px;
      margin-right: 10px;
      color: black;
      font-size: 12px;
      font-weight: 400;
      line-height: 30px;
    }
    &--text{
      display: block;
      position: relative;
      float: left;
      width: 644px;
      height: 96px;
      margin-bottom: 40px;
      border: 1px solid #b8b8b9;
      padding: 1px 10px;
      @include box-sizing(border-box);
      resize: none;
    }
  }
}