.comments-wrapper {
  position: relative;
  float: left;
  width: 100%;
  .after-comments {
    /*> .load-more {
      display: inline-block;
      position: relative;
      text-align: center;
      color: #fff;
      margin-left: 20px;
      margin-right: 20px;
      margin-top: 24px;
      font-size: 12px;
      font-weight: 700;
      background-color: #ee2e24;
      width: 180px;
      padding-top: 13px;
      padding-bottom: 13px;
      padding-left: 0;
      @include box-sizing(border-box);
      border-radius: 5px;
    }*/
    > h2 {
      font-size: 25px;
      color: #000;
      font-weight: 700;
      margin-top: 27px;
      letter-spacing: 1.2px;
      margin-left: 4px;
      display: inline-block;
      float: left;
      /*width: 61%;*/
      @include breakpoint(max-width 660px) {
        width: 100%;
        margin-left: 0;
        font-size: 20px;
      }
    }
    a {
      color: #01050a;
      font-size: 14px;
      padding-left: 22px;
      @include breakpoint(max-width 660px) {
        display: block;
        position: relative;
        float: left;
        width: 100%;
        margin-top: 10px;
        margin-bottom: 10px;
        margin-right: 0;
      }
      &:last-child {
        display: inline-block;
        position: relative;
        float: right;
        margin-top: 38px;
        margin-right: 43px;
        background-image: url('../img/info-icons/comment-icon-2.png');
        background-repeat: no-repeat;
      }
    }
    a.populiation {
      display: inline-block;
      position: relative;
      float: right;
      margin-top: 38px;
      margin-right: 0;
      background-image: url('../img/info-icons/comment-icon-1.png');
      background-repeat: no-repeat;
    }
  }
  .comments {
    background-color: #fff;
    padding-bottom: 32px;
    position: relative;
    float: left;
    width: 100%;
    @include breakpoint(max-width 660px) {
      width: 100%;
    }
    .comment-wrapper {
      display: flex;
      justify-content: space-between;
      border-bottom: 1px solid #ecf2fa;
      @include breakpoint(max-width 660px) {
        @include flex-wrap(wrap);
        @include flex-direction(column);
        @include justify-content(center);
      }
      &:last-child {
        border-bottom: none;
      }
      .user {
        padding-left: 19px;
        padding-right: 10px;
        padding-top: 18px;
        position: relative;
        width: 100px;
        @include box-sizing(border-box);
        @include breakpoint(max-width 660px) {
          width: 100%;
        }
        span {
          position: absolute;
          width: 23px;
          height: 23px;
          color: #fff;
          font-size: 11px;
          border: 2px solid #fff;
          background-color: #ee2e24;
          z-index: 1;
          border-radius: 25px;
          left: 14px;
          top: 11px;
          text-align: center;
          line-height: 24px;
        }
        .user-photo {
          width: 63px;
          height: 63px;
          overflow: hidden;
          border-radius: 35px;
          position: relative;
          background-color: #fff;
          img {
            size: 100%;
            object-fit: cover;
          }
          > span{
            display: block;
            position: relative;
            float: left;
            width: 30px;
            height: 30px;
            left: calc(50% - (30px/2));
            top: calc(50% - (30px/2));
            margin-top: 0;
            margin-left: 0;
            color: #ee2e24;
            font-size: 33px;
            text-transform: uppercase;
            text-align: center;
            line-height: 25px;
            background-color: transparent;
            border: 1px solid gray;
          }
        }
        a {
          display: block;
          width: 17px;
          height: 17px;
          position: relative;
          border-radius: 20px;
          display: inline-block;
          margin-top: 7px;
        }
        a.up {
          background-color: #fff6ef;
          margin-left: 12px;

          &:after {
            display: block;
            position: absolute;
            content: "";
            left: 5px;
            bottom: 6px;
            border: 4px solid transparent;
            border-bottom: 7px solid #fb945a;
            z-index: 2;
          }
        }
        a.down {
          background-color: #f6faff;

          &:after {
            display: block;
            position: absolute;
            content: "";
            left: 5px;
            bottom: 1px;
            border: 4px solid transparent;
            border-top: 7px solid #60a0e5;
            z-index: 2;
          }
        }
      }
      .comment {
        padding-top: 10px;
       width: calc(100% - 100px);
        @include breakpoint(max-width 660px) {
          width: 100%;
        }
        .child-comment {
          display: flex;
          @include breakpoint(max-width 660px) {
            @include flex-wrap(wrap);
            @include flex-direction(column);
            width: 100%;
          }
          .moder {
            font-size: 11px;
            color: #f6f9ff;
            background-color: #ee2e24;
            height: 17px;
            margin-top: 7px;
            border-radius: 2px;
            padding: 0 4px;
            @include box-sizing(border-box);
            @include breakpoint(max-width 660px) {
              width: 50%;
              position: relative;
              float: left;
            }
          }
          .comment-info {
            width: 60%;
            justify-content: flex-end;
            @include breakpoint(max-width 660px) {
              width: 50%;
              position: relative;
              float: left;
            }
          }
        }
        .comment-info-wrapper {
          display: flex;
          justify-content: space-between;
          @include breakpoint(max-width 660px) {
            @include flex-wrap(wrap);
            @include flex-direction(column);
            width: 100%;
          }
          .user-name {
            font-size: 16px;
            color: #01060c;
            font-weight: 600;
            margin-top: 4px;
          }
          .comment-info {
            display: flex;
            margin-right: 38px;
            @include breakpoint(max-width 660px) {
              margin: 10px 0;
            }
            .modern-comment {
              color: #f6f9ff;
              font-size: 11px;
              background-color: #ee2e24;
              padding-left: 5px;
              margin-left: 3px;
              height: 17px;
              letter-spacing: 0.4px;
              padding-right: 5px;
              margin-right: 13px;
            }
            a {
              font-size: 14px;
              color: #000101;
            }
            .time {
              font-size: 12px;
              color: #9d9d9d;
              margin-left: 12px;
            }
          }
        }
        .text {
          font-size: 15px;
          color: #000;
          margin-top: 4px;
          padding-right: 70px;
          padding-bottom: 25px;
        }
      }
    }
    .comment-wrapper.moder {
      background-color: #fff8f3;
    }
  }
}