.commercial {
  display: block;
  position: relative;
  float: left;
  width: 100%;
  background-color: #edeef0;
  &__wrapper {
    display: block;
    position: relative;
    float: left;
    width: 100%;
    margin-top: 25px;
  }
  &__content {
    display: block;
    position: relative;
    float: left;
    width: calc(100% - (14px + 260px));
    min-height: 624px;
    padding-top: 25px;
    padding-left: 27px;
    padding-right: 27px;
    @include box-sizing(border-box);
    margin-bottom: 60px;
    margin-right: 14px;
    background-color: #fff;
    @include breakpoint(max-width 770px) {
      width: calc(100% - (14px + 220px));
    }
    @include breakpoint(max-width 600px) {
      width: 100%;
      margin-right: 0;
    }
  }
  &__category {
    display: block;
    position: relative;
    float: left;
    width: 174px;
  }
  &__trigger {
    display: block;
    position: relative;
    float: left;
    width: 100%;
    &--title {
      display: block;
      position: relative;
      float: left;
      color: #0c242e;
      font-size: 14px;
      font-weight: 600;
      line-height: 25px;
    }
    &--icon {
      display: block;
      position: relative;
      float: left;
      width: 5px;
      height: 4px;
      margin-top: 13px;
      margin-left: 7px;
      background-image: url('../img/icons/triangle-icon.png');
      background-repeat: no-repeat;
      -webkit-background-size: 100% 100%;
      background-size: 100% 100%;
    }
  }
  &__search-form{
    display: block;
    position: relative;
    float: left;
    width: calc(100% - (174px));
  }
  &__category-list {
    display: none;
    position: absolute;
    width: 156px;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.22);
    border-radius: 2px;
    background-color: #ffffff;
    margin: 0;
    padding: 0;
    list-style: none;
    top: 40px;
    z-index: 2;
    > li {
      position: relative;
      float: left;
      width: 100%;
      color: #0c242e;
      font-size: 12px;
      font-weight: 600;
      padding-top: 7px;
      padding-bottom: 7px;
      padding-left: 9px;
      @include box-sizing(border-box);
      background-color: transparent;
      &:hover{
        color: #fb0023;
        background-color: #edeef0;
      }
    }
  }
  &__content-sidebar{
    display: block;
    position: relative;
    float: left;
    width: 174px;
  }
  &__sidebar-filter{
    display: block;
    position: relative;
    float: left;
    width: 100%;
    padding-left: 0;
    padding-right: 15px;
    @include box-sizing(border-box);
    &--type{
      display: block;
      position: relative;
      float: left;
      width: 100%;
      margin-top: 30px;
      padding: 10px 0;
      @include box-sizing(border-box);
      border-bottom: 1px solid #dedede;
      border-top: 1px solid #dedede;
      > .title{
        display: block;
        position: relative;
        float: left;
        width: 100%;
        color: #0c242e;
        font-size: 16px;
        font-weight: 600;
        margin-top: 0;
      }
      > .line-type {
        width: 100%;
        float: left;
        display: inline-block;
        > .input-checkbox{
          display: none;
        }
        > .label-checkbox {
          float: left;
          display: inline-block;
          position: absolute;
          background-image: url('../img/icons/checkbox-sprite.png');
          background-position: 0 0;
          background-repeat: no-repeat;
          width: 14px;
          height: 14px;
          cursor: pointer;
        }
        > .input-checkbox:checked + .label-checkbox{
          background-image: url('../img/icons/checkbox-sprite.png');
          background-repeat: no-repeat;
          height: 14px;
          display: block;
          background-position: -18px 0px;
          width: 14px;
          cursor: pointer;
        }
        > .text-type {
          display: inline-block;
          float: left;
          color: #0c242e;
          font-weight: 400;
          font-size: 14px;
          padding-left: 20px;
          @include box-sizing(border-box);
          line-height: 14px;
        }
      }
    }
    &--submit{
      display: block;
      position: relative;
      float: left;
      width: 109px;
      height: 34px;
      margin-top: 20px;
      border: none;
      border-radius: 5px;
      background-color: #ee2e24;
      text-align: center;
      color: #ffffff;
      font-size: 9px;
      font-weight: 700;
      text-transform: uppercase;
    }
    > .ad-charasteristics-form-priece{
      width: 100%;
      float: left;
      display: block;
      position: relative;
      padding:10px 0;
      @include box-sizing(border-box);
      > .ad-charasteristics-form-type-title{
        font-size: 16px;
        color: #0c242e;
        font-weight: 600;
        margin-top: 0;
      }
      #price,#price2 {
        border:1px solid #e1e1e1;
        padding:5px;
        width: 65%;
        display: inline-block;
        color: #000;
        font-size: 10px;
      }
      #options {
        display: block;
        width: 100%;
        float: left;
        label{
          width: 45%;
          color: #6f6f6f;
          font-size: 10px;
        }
      }
      #slider_price {
        margin-top:10px;
        background-color: #e3e3e3;
        position: relative;
        span{
          cursor: pointer;
        }
      }
      .ui-slider-range{
        background-color: #fff6c4;
      }
      .ui-slider .ui-slider-handle{
        background-color: #334a51;
        cursor: pointer;
        outline: none;
        width: 11px;
        height: 12px;
        position: absolute;
        top: 11px;
        &::before{
          content: "";
          width: 0;
          height: 0;
          position: absolute;
          margin-top: -10px;
          border-left: 6px solid transparent;
          border-right: 5px solid transparent;
          border-bottom: 10px solid #334a51;
        }
      }
      .ui-slider-horizontal{
        cursor: pointer;
      }
    }
  }
  &__ads{
    display: block;
    position: relative;
    float: left;
    width: calc(100% - (174px));
    > .average-ad-item {
      width: 100%;
      float: left;
      display: inline-block;
      padding: 11px 0 11px 1px;
      border-bottom: 1px solid #dedede;
      > .average-ad-item-thumb {
        width: 25%;
        float: left;
        display: block;
        height: 124px;
        position: relative;
        overflow: hidden;
        img {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          min-height: 100%;
        }
      }
      > .average-ad-item-content {
        width: 75%;
        float: left;
        display: inline-block;
        position: relative;
        padding-left: 15px;
        > .average-ad-price {
          float: right;
          min-width: 25px;
          text-align: right;
          font-size: 18px;
          color: #000;
          font-weight: 700px;
          padding-right: 10px;
          -webkit-box-sizing: border-box;
          box-sizing: border-box;
          margin-top: 15px;
        }
      }
    }
  }
}