#main-consultation{
  float: left;
  width: 100%;
  #article{
    width: 875px;
    float: left;
  }
  #aside{
    float: right;
    width: 260px;
    min-height: 600px;
    .consult-company{
      h3{
        background-color: #ee2e24;
        font-size: 16px;
        color: #fffcf4;
        padding: 10px 15px;
        margin-bottom: 10px;
        font-weight: 500;
      }
      ul{
        padding-left: 0;

        li{
          list-style: none;
          color: #040000;
          padding-left: 18px;
          margin-bottom: 25px;
          position: relative;
          &:after{
            width: 0;
            background: #ee2e24 none repeat scroll 0 0;
            bottom: 0;
            content: "";
            left: 0;
            position: absolute;
            right: 0;
            transition: all 0.5s ease 0s;
            height: 100%;
          }
          .title{
            margin-bottom: 10px;
            text-transform: uppercase;
            font-size: 16px;
            a{
              color: #040000;
              font-size: 16px;
              font-weight: bold;
              padding-top: 9px;
            }
          }
          .description{
            font-weight: bold;
            font-size: 12px;
            max-height: 0;
            overflow: hidden;
            transition: max-height .7s;
          }
          &:hover{
            .description{
              max-height: 70px;
              overflow: hidden;
              transition: max-height .7s;
              padding-bottom: 18px;
            }
            &:after{
              width: 5px;
            }
          }
        }
        li.active{
          .description{
            max-height: 70px;
            overflow: hidden;
          }
          &:after{
            width: 5px;
          }
        }
      }
    }
  }
  p{
    &:first-child{
      font-size: 17px;
      color: #0c242e;
      text-align: center;
      font-weight: 500;
      margin-top: 45px;
      margin-bottom: 0px;
    }
    &:nth-child(3){
      font-size: 14px;
      color: #0c242e;
      text-align: center;
      font-weight: 500;
      max-width: 470px;
      margin-left: auto;
      margin-right: auto;
    }
  }
  h1{
    font-weight: 800;
    font-size: 25px;
    color: #0c242e;
    text-transform: uppercase;
    border: 4px solid #ff0200;
    width: 32%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 14px;
    padding-right: 14px;
    text-align: center;
    margin-top: 13px;
    margin-bottom: 31px;
  }
  .owl-carousel{
    position: relative;
    width: 785px;
    margin-left: auto;
    margin-right: auto;
    .item{
      display: block;
      position: relative;
      width: 100%;
      float: left;
      text-align: center;
      font-size: 16px;
      color: #040000;
      font-weight: 700;
      &__img{
        display: block;
        position: relative;
        float: left;
        size: 108px;
        border-radius: 50%;
        overflow: hidden;
        margin-left: calc(50% - (108px/2));
        img{
          size: 100%;
          object-fit: cover;
        }
      }
      /*img{
        width: auto;
        margin: 0 auto;
      }*/
      p{
        position: relative;
        float: left;
        max-width: 100%;
        margin: 20px auto 0;
        color: #000;
      }
    }
    .owl-nav{
      .owl-prev{
        position: absolute;
        top: 50px;
        left: -37px;
      }
      .owl-next{
        position: absolute;
        right: -37px;
        top: 50px;
        /*right: -37px;*/
      }
    }
    .owl-dots{
      display: flex;
      width: 20px;
      margin: 60px auto;
      justify-content: space-between;

      .owl-dot{
        width: 7px;
        height: 7px;
        background-color: #e6cfda;
        border-radius: 15px;
      }
      .owl-dot.active{
        background-color: #ff0200;
      }
    }
  }
  .user-questions{
    background-color: #fff;
    padding: 27px 32px;
    position: relative;
    margin-bottom: 35px;

    h3{
      font-size: 17px;
      text-transform: uppercase;
      color: #040000;
      margin-top: 0;
      margin-bottom: 40px;
    }
    .question{
      border-bottom: 1px solid #ecf2fa;
      padding-bottom: 20px;
      padding-top: 20px;
      .title{
        font-size: 14px;
        font-weight: bold;
        color: #060000;
        margin-bottom: 15px;
      }
      .data-time{
        font-size: 15px;
        color: #030000;
        margin-right: 25px;
        float: left;
        min-height: 75px;
        background-image: url(../img/info-icons/icon-4.png);
        background-repeat: no-repeat;
        padding-left: 32px;
        background-position: 0 3px;
      }
      .text{
        font-size: 16px;
        font-weight: bold;
        color: #060000;
        width: 83%;
      }
      .info{
        text-align: right;
        margin-top: 20px;

        a{
          text-decoration: underline;
          color: #ee2e24;
          font-size: 15px;

          &:hover{
            text-decoration: none;
          }
        }
        .view{
          font-size: 15px;
          color: #030000;
          background-image: url(../img/info-icons/icon-3.png);
          background-repeat: no-repeat;
          padding-left: 26px;
          background-position: 0 5px;
          margin-left: 29px;
        }
      }
    }
    a.ask-question{
      position: absolute;
      background-color: #ff0200;
      font-size: 16px;
      color: #fff;
      margin-top: 41px;
      padding-right: 14px;
      padding-left: 7px;
      left: -7px;
      padding-bottom: 4px;
      &:before{
        border: 3px solid transparent;
        border-top: 3px solid #da763c;
        border-right: 4px solid #da763c;
        display: block;
        content: "";
        width: 0;
        height: 0;
        position: absolute;
        top: 26px;
        left: 0;
      }
    }
  }
}
