.consultants{
  width: 100%;
  float: left;
  position: relative;
}

.consultants__aside{
  width: 30%;
  float: left;
  position: relative;
}

.consultants__aside_item{
  width: 100%;
  float: left;
  position: relative;
  display: none;
  h3{
    color: #0c242e;
    width: 100%;
    text-align: left;
    border: 4px solid #ff0200;
    box-sizing: border-box;
    padding-left: 15px;
    margin: 0;
    font-size: 23px;
    font-weight: 700;
    line-height: 35px;
  }
  p{
    width: 100%;
    margin-top: 20px;
    display: inline-block;
    margin-bottom: 0;
    color: #080000;
    font-size: 14px;
    font-weight: 400;

  }
  .consultants__title{
    width: 100%;
    float: left;
    display: inline-block;
    margin: 30px 0;
    .thumb{
      width: 82px;
      height: 82px;
      display: inline-block;
      border-radius: 50%;
      background-color: #6fb0bc;
      box-shadow: 0 4px 24px rgba(0, 0, 0, 0.19);
      overflow: hidden;
      float: left;
      img{
        object-fit: cover;
        size: 100%;
      }
    }
    .name{
      color: #040000;
      display: inline-block;
      width: calc(100% - 150px);
      float: left;
      font-size: 17px;
      font-weight: 700;
      box-sizing: border-box;
      padding: 28px 0;
      margin-left: 40px;
      position: relative;
      &:before{
        content: "";
        width: 4px;
        height: 30px;
        background-color: #ee2e24;
        display: inline-block;
        position: absolute;
        left: -12px;
        margin-top: -4px;
      }
    }
  }
}

.consultants__aside_item.current{
  display: block;
}
.consultants__aside_tab{
  width: 100%;
  float: left;
  position: relative;
  ul{
    padding: 0;
    width: 100%;
    display: inline-block;
    margin: 0;
    li{
      width: 33%;
      float: left;
      list-style-type: none;
      text-align: center;
      a{
        color: #1d1d1d;
        font-size: 12px;
        font-weight: 700;
        box-sizing: border-box;
        text-transform: uppercase;
        text-decoration: none;
        .thumb{
          position: relative;
          width: 87px;
          height: 87px;
          border-radius: 50%;
          display: inline-block;
          overflow: hidden;
          img{
            object-fit: cover;
            size: 100%;
          }
        }
      }
    }
  }
}
.consultants__main{
  width: 70%;
  float: left;
  position: relative;
}
