#main-consultations{
  float: left;
  width: 100%;
  h1{
    font-weight: 700;
    font-size: 24px;
    color: #0c242e;
    text-align: center;
    border: 4px solid #ff0200;
    width: 331px;
    padding:0 10px;
    box-sizing: border-box;
    float: left;
    margin: 15px 0 0 0;
  }
  .search{
    float: right;
    width: 766px;
    position: relative;
    border: 1px solid #ff0200;
    border-right: none;
    height: 41px;
    border-radius: 0px 5px 5px 0px;
    background-color: #fff;
    margin-top: 15px;

    input{
      width: 81%;
      text-transform: uppercase;
      padding-top: 11px;
      font-size: 14px;
      color: #040000;
      padding-left: 18px;
      border: none;
    }
    button{
      color: #fff;
      background-color: #ee2e24;
      text-align: center;
      font-size: 12px;
      text-transform: uppercase;
      border-radius: 5px;
      border: none;
      width: 16%;
      height: 100%;
      float: right;

      &:hover{
        cursor: pointer;
      }
    }
  }
  #aside-consultations{
    float: left;
    width: 100%;
    > .accordion-menu{
      display: block;
      position: relative;
      float: left;
      width: 100%;
      margin-top: 50px;
      margin-bottom: 50px;
    }
    .single-consulting-menu{
      ul{

        li{
          a{
            font-family: "Roboto-Light";
          }
        }
        li.active{
          a{
            font-family: "Roboto-Bold";
          }
        }
        li.active:after{
          display: none;
        }
      }
    }
    ul{
      display: block;
      position: relative;
      float: left;
      width: 100%;
      padding-left: 0;
      list-style: none;
      margin: 0;
      li{
        display: block;
        position: relative;
        float: left;
        width: 100%;
        list-style: none;
        @include transition(max-height .7s);
       /* overflow: hidden;*/
        padding-left: 33px;
        padding-top: 5px;
        @include box-sizing(border-box);
        &:after{
          width: 0;
          background: #ee2e24 none repeat scroll 0 0;
          bottom: 0;
          content: "";
          left: 0;
          position: absolute;
          right: 0;
          transition: all .5s ease 0s;
          height: 33px;
          top: 0;
        }
        a{
          font-family: Roboto-Bold;
          font-size: 17px;
          color: #040000;
        }
        > ul{
          display: none;
          position: relative;
          float: left;
          width: 100%;
          padding-left: 0;
          @include transition(max-height .5s);
          li{
            display: block;
            position: relative;
            float: left;
            width: 100%;
            padding-left: 15px;
            @include box-sizing(border-box);
            &:after{
              display: none;
            }
            a{
              font-family: Roboto-Medium;
            }

            /* 3 lvl */
            ul{
              display: none;
              position: relative;
              float: left;
              width: 100%;
              padding-left: 0;
              list-style: none;
              margin: 0;
              li{
                padding-left: 12px;
                &:after{
                  display: none;
                }
                a{
                  font-family: Roboto-Light;
                }
              }
            }
          }
          /*li.active-children{
            max-height: 100%;
            @include transition(max-height .5s);
          }*/
        }
        /*ul.up-child{
          max-height: 100%;
          @include transition(max-height .5s);
        }*/
      }
      /*li.active{
        max-height: 100%;
        @include transition(max-height .7s);

        &:after{
          width: 5px;
        }
      }*/
    }
  }
  #article{
    background-color: #fff;
    padding-top: 15px;
    float: right;
    width: 766px;
    margin-top: 30px;
    margin-bottom: 20px;
    padding-left: 28px;
    padding-right: 12px;
    padding-bottom: 35px;

    h2{
      margin:0 0 10px 0;
    }
    .laws{
      .law{
        border-bottom: 1px solid #ecf2fa;
        padding-top: 20px;
        padding-bottom: 20px;

        &:last-child{
          border: none;
        }
        p{
          font-weight: 400;
          font-size: 15px;
          text-align: left;
          color: #000;
        }
      }
      .title{
        font-size: 14px;
        font-weight: 700;
        color: #060000;
        margin-bottom: 15px;
      }
      .data-time{
        font-size: 15px;
        color: #030000;
        margin-right: 25px;
        float: left;
        background-image: url(../img/info-icons/icon-4.png);
        background-repeat: no-repeat;
        padding-left: 32px;
        background-position: 0 3px;
        margin-bottom: 15px;
      }
      .title-law{
        font-size: 16px;
        font-weight: 600;
        width: 83%;
        margin-bottom: 15px;
      }
      .text{
        font-size: 16px;
        font-weight: 600;
        color: #060000;
      }
      .info{
        margin-top: 20px;

        a{
          text-decoration: underline;
          color: #ee2e24;
          font-size: 15px;

          &:hover{
            text-decoration: none;
          }
        }
        .view{
          font-size: 15px;
          color: #030000;
          background-image: url(../img/info-icons/icon-3.png);
          background-repeat: no-repeat;
          padding-left: 26px;
          background-position: 0 5px;
          margin-left: 29px;
        }
      }
    }
  }
}
