/*#main-consultations {
  float: left;
  width: 100%;
  h1 {
    font-weight: 700;
    font-size: 24px;
    color: #0c242e;
    text-align: center;
    border: 4px solid #ff0200;
    width: 331px;
    padding: 0 10px;
    box-sizing: border-box;
    float: left;
    margin: 15px 0 0 0;
  }
  .search {
    float: right;
    width: 766px;
    position: relative;
    border: 1px solid #ff0200;
    border-right: none;
    height: 41px;
    border-radius: 0px 5px 5px 0px;
    background-color: #fff;
    margin-top: 15px;

    input {
      width: 81%;
      text-transform: uppercase;
      padding-top: 11px;
      font-size: 14px;
      color: #040000;
      padding-left: 18px;
      border: none;
    }
    button {
      color: #fff;
      background-color: #ee2e24;
      text-align: center;
      font-size: 12px;
      text-transform: uppercase;
      border-radius: 5px;
      border: none;
      width: 16%;
      height: 100%;
      float: right;

      &:hover {
        cursor: pointer;
      }
    }
  }
}*/

