.currency-menu{
  display: block;
  position: relative;
  float: left;
  width: 100%;
  &__header {
    display: block;
    position: relative;
    float: left;
    width: 100%;
    margin-bottom: 20px;
    background: #fff;
    @include breakpoint(max-width 992px){
      position: fixed;
      background: #fff;
      top: 46px;
      left: 0;
      z-index: 5;
    }
    &__right {
      width: 100%;
      display: block;
      position: relative;
      float: left;
      @include breakpoint(max-width 992px){
        width: 100%;
      }
      ul{
        margin: 0;
        list-style: none;
        width: 100%;
        float: left;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        padding: 0 30px;
        @include breakpoint(max-width 992px){
          justify-content: flex-start;
          padding: 0 10px;
        }
        @include breakpoint(max-width 992px){
          justify-content: center;
          padding: 0 10px;
        }
        li{
          display: inline-block;
          margin-left: 4px;
          padding: 12px 15px;
          @include breakpoint(max-width 992px){
            justify-content: flex-start;
            padding: 0 10px 6px 0;
          }
          a{
            color: #000;
            font-weight: 600;
            text-transform: uppercase;
            @include breakpoint(max-width 992px){
              font-size: 12px;
            }
          }
          .active{
            color: #ff0200;
            font-weight: 700;
            position: relative;
            &:after{
              content: '';
              width: 6px;
              height: 6px;
              position: absolute;
              left: -14px;
              top: 7px;
              background: #ff0200;
              @include breakpoint(max-width 992px){
                top: 5px;
              }
            }
          }
        }
      }
    }
  }
}