.currency-market {
  display: block;
  position: relative;
  float: left;
  width: 100%;
  margin-top: 30px;
  min-height: calc(100vh - 266px);
  h1 {
    font-size: 22px;
    font-weight: 700;
    margin-top: 0;
  }
  .e-content {
    width: calc(100% - 300px);
    margin-right: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    position: relative;
    float: left;
    @include breakpoint(max-width 992px) {
      width: 100%;
      margin-right: 0;
    }

  }
}