.currency-widget{
  display: block;
  position: relative;
  float: left;
  width: 400px;
  margin-bottom: 20px;
  overflow-x: scroll;
  @include breakpoint(max-width 992px){
    width: 100%;
  }
  h1{
    font-size: 16px;
    font-weight: 600;
    color: #7d7e7f;
    margin-bottom: 30px;
  }
  ol{
    margin: 0;
    padding: 0;
    @include breakpoint(max-width 992px){
      padding-left: 30px;
    }
  }
  &__label{
    display: block;
    position: relative;
    float: left;
    width: 100%;
    background: transparent;
    margin-bottom: 20px;
    span{
      display: inline-block;
      padding: 8px 15px;
      background: #fff;
      box-sizing: border-box;
      font-size: 15px;
      font-weight: 600;
    }
  }
  &__content{
    display: block;
    position: relative;
    float: left;
    width: 100%;
    padding: 20px;
    background: #fff;
    table{
      width: 100%;
      overflow-x: scroll;
      thead{
        tr {
          text-align: center;

          background: #edeef0;
          td{
            text-transform: uppercase;
            padding: 11px 5px;
            font-size: 12px;
            font-weight: 600;
            width: 100px;
            text-align: center;
          }
        }
      }
      tr{
       width: 100%;
        &:nth-child(even){
          background: #edeef0;
        }
      }
      tbody{
        tr{
          text-align: center;
          td{
            padding: 5px 0;
          }
        }
      }
    }
  }
}
#container-currency, #container-coin, #container-metal{
  margin-bottom: 20px;
}