.currency-market {
  display: block;
  position: relative;
  float: left;
  width: 100%;
  margin-bottom: 30px;
  h1 {
    font-size: 22px;
    font-weight: 700;
    margin-top: 0;
    @include breakpoint(max-width 992px){
      margin-top: 24px;
    }
  }
  .e-content {
    width: calc(100% - 300px);
    margin-right: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    position: relative;
    float: left;
    &__title-wrapper{
      margin-bottom: 20px;
      position: relative;
      width: 100%;
      h2{
        font-size: 14px;
        font-weight: 400;
        margin: 0;
        span{
          color: #ff0200;
        }
      }
    }
    @include breakpoint(max-width 992px) {
      width: 100%;
      margin-right: 0;
    }
  }
}
.shadow-currency{
  box-shadow: 0 1px 4px 0 rgba(0,0,0,0.14);
  height: 100%;
  width: 100%;
}
.table-bordered, .table-bordered>tbody>tr>td, .table-bordered>tbody>tr>th, .table-bordered>tfoot>tr>td, .table-bordered>tfoot>tr>th, .table-bordered>thead>tr>td, .table-bordered>thead>tr>th{
  border: none;
}
