.editors-choice{
  display: block;
  position: relative;
  float: left;
  padding: 10px;
  background: #fff;
  width: 100%;
  &:before{
    content: '';
    position: absolute;
    top: -4px;
    height: 4px;
    left: 0;
    width: 45%;
    background: #ee2e24;
  }
  h2{
    font-size: 15px;
    position: relative;
    top: -5px;
    color: #ee2e24;
    margin: 15px 0;
    text-align: center;
    text-transform: uppercase;
  }
  .news__wrap_item-lg {
    width: 100%;
    margin: 0 0 10px 0;
    height: 200px;
    &:last-child{
      margin-bottom: 0;
    }
    .thumb {
      height: 200px;
      margin-bottom: 15px;
      position: relative;
      width: 100%;
      float: left;
      background: transparent;
      &:before {
        content: '';
        position: absolute;
        z-index: 2;
        top: 0;
        bottom: 0;
        height: 100%;
        width: 100%;
        background-image: linear-gradient(to top, black 0%, rgba(4, 0, 1, 0.98) 2%, transparent 100%);
      }
      .content-row h2 {
        font-size: 12px;
        margin-top: 8px;
        color: #fff;
        height: calc(12px * 1.4 * 2);
        line-height: 1.4;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
      }
      img {
        position: absolute;
        object-fit: cover;
        size: 100%;
        z-index: 1;
      }
    }
  }
}