.hashtag {
  width: 100%;
  float: left;
  position: relative;
  display: block;
  &__wrapper {
    display: flex;
    justify-content: flex-start;
    width: 100%;
    flex-wrap: wrap;
    padding: 0 24px;
    margin-bottom: 0;
    @include breakpoint(max-width 660px) {
      padding: 15px;
    }
    a{
      color: #e52d31;
      font-size: 10px;
      text-transform: uppercase;
    }
    &--item {
      border: 3px solid #cfe0ff;
      border-radius: 5px;
      padding: 5px 10px;
      margin: 0 5px;
      transition: 200ms ease;
      &:hover{
        border: 3px solid #e52d31;
        transition: 200ms ease;
      }
    }
  }
}