.header-second-menu {
  display: flex;
  justify-content: space-between;
  width: 100%;
  border-bottom: 1px solid #ddd;
  border-top: 1px solid #ddd;
  background: #fff;
  position: relative;
  @include breakpoint(max-width 992px) {
    display: none;
  }
  .second-menu-wrapper {
    display: flex;
    width: 100%;
    position: relative;
    height: 100%;
    .menu-lvl-1 {
      list-style: none;
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-wrap: wrap;
      padding: 0;
      margin: 0;
      width: 100%;
      height: 100%;
      .yet {
        &:hover .submenu-wrapper-yet {
          visibility: visible;
          transition: 500ms ease;
          opacity: 1;
        }
        &:hover {
          &:before {
            content: "";
            border: 10px solid transparent;
            border-bottom: 15px solid #cecece;
            height: 0;
            width: 0;
            background: transparent;
            position: absolute;
            top: 18px;
            margin-left: 15px;
          }
        }
      }
      li {
        height: 100%;
        display: flex;
        padding: 10px 19px;
        &:hover{
          color: #000;
        }
        //&:hover .submenu-wrapper {
        //  visibility: visible;
        //  transition: 500ms ease;
        //  opacity: 1;
        //}
        &:hover {
          &:before {
            content: "";
            border: 10px solid transparent;
            border-bottom: 15px solid #cecece;
            height: 0;
            width: 0;
            background: transparent;
            position: absolute;
            top: 18px;
            margin-left: 10px;
          }
        }
        .submenu-wrapper {
          display: block;
          visibility: hidden;
          position: absolute;
          left: 0;
          width: 100%;
          align-items: center;
          background: #cecece;
          min-height: 110px;
          height: 100%;
          top: 39px;
          .owl-carousel .owl-stage-outer {
            background: #cecece;
            user-select: none;
            -webkit-user-select: none;
          }
          .owl-carousel .owl-item {
            height: 110px;
          }
          ul {
            margin: 0;
            padding: 0;
            display: block;
            background: #cecece;
            width: 100%;
            position: absolute;
            float: left;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            li {
              padding: 0;
              position: relative;
              height: 100%;
              width: 100%;
              display: flex;
              justify-content: space-between;
              float: left;
              a {
                height: 100%;
                width: 100%;
                display: flex;
                justify-content: center;
                flex-wrap: wrap;
                padding: 28px 0;
                transition: 200ms ease;
                span {
                  display: block;
                  width: 100%;
                  text-align: center;
                }
                img {
                  height: 35px;
                  width: 35px;
                  display: block;
                  object-fit: contain;
                }
              }
              &:hover {
                background: rgba(255, 255, 255, .5);
                transition: 200ms ease;
              }
              img {
                height: 22px;
                object-fit: cover;
              }
              &:before, &:after {
                display: none;
              }
              &:hover {
                .menu-lvl-2 {
                  visibility: visible;
                  transition: 500ms ease;
                  opacity: 1;
                }
              }
              .menu-lvl-2 {
                position: absolute;
                right: -265px;

                background: #fff;
                z-index: 11;
                width: 260px;
                opacity: 0;
                transition: 200ms ease;
                padding: 20px;
                visibility: hidden;
                margin: 0;
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
                &:last-child {
                  left: -260px;
                  right: inherit;
                }
                li {
                  width: 100%;
                  display: block;
                  position: relative;
                  padding: 0;
                  a {
                    padding: 0;
                    &:before {
                      content: "";
                      height: 1px;
                      width: 12px;
                      position: relative;
                      background: #c5cbcd;
                      margin-left: 12px;
                      margin-right: 12px;
                      left: 0;
                    }
                  }
                }
              }
            }
          }
        }
        .submenu-wrapper-yet {
          justify-content: space-around;
          position: absolute;
          display: flex;
          left: 0;
          width: 100%;
          opacity: 0;
          visibility: hidden;
          align-items: center;
          min-height: 90px;
          background: #cecece;
          top: 39px;
          z-index: 10;
          ul {
            margin: 0;
            position: relative;
            display: block;
            float: left;
            flex-wrap: wrap;
            padding: 30px 50px;
            li {
              height: auto;
              position: relative;
              display: block;
              float: left;
              width: 20%;
              padding: 0 15px;
              a {
                transition: 200ms ease;
                padding: 0 15px;
                font-size: 12px;
                line-height: 20px;
              }
              img {
                height: 22px;
                object-fit: cover;
              }
              &:before, &:after {
                display: none;
              }
              &:hover {
                .menu-lvl-2 {
                  visibility: visible;
                  transition: 500ms ease;
                  opacity: 1;
                }
              }
              .menu-lvl-2 {
                position: absolute;
                right: -265px;
                top: -30px;
                background: #fff;
                z-index: 11;
                width: 265px;
                opacity: 0;
                transition: 200ms ease;
                padding: 20px;
                visibility: hidden;
                margin: 0;
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;

                li {
                  border-bottom: 1px solid #e1e4e6;
                  padding: 0;
                  &:last-child {
                    border: none;
                  }
                  a {
                    font-weight: 600;
                    padding-bottom: 5px;
                    margin-top: 10px;
                    padding-left: 0;
                    padding-right: 0;

                  }
                }
              }
              li {
                width: 100%;
                display: block;
                position: relative;
              }
            }
            a {
              line-height: 30px;
            }
            //&:last-of-type {
            //  .menu-lvl-2 {
            //    right: auto;
            //    left: -265px;
            //  }
            //}
          }
        }
      }
      a {
        color: #020100;
        font-size: 13px;
        width: 100%;
        transition: width .4s ease-in-out;
        display: flex;
        align-items: center;
        height: 100%;
        position: relative;
        &:hover {
          color: #ee2e24;
          transition: width ease-in-out 0.4s;
          &:before {
            width: 100%;
          }
        }
      }
      .actives {
        color: #ee2e24;
        &:before {
          display: block;
          position: absolute;
          content: "";
          top: -10px;
          left: 0;
          width: 100%;
          height: 1px;
          background-color: #ee2e24;
        }
      }
    }
  }
  .owl-controls {
    display: block;
    align-items: center;
    position: absolute;
    top: 37%;
    transform: translate(0, -50%);
    width: 100%;
    .fa-angle-left {
      font-size: 35px;
    }
    .fa-angle-right {
      font-size: 35px;
    display: inline-block;
    }
    .owl-prev {
      position: absolute;
      width: 30px;
      z-index: 13;
      height: 110px;
      display: flex;
      top: -41px;
      align-items: center;
      justify-content: center;
      transition: 200ms;
      background: rgba(0, 0, 0, 0.2);
      color: #fff;
      &:hover{
        background: rgba(0, 0, 0, 0.3);
        color: #fff;
      }
    }
    .owl-next {
      position: absolute;
      height: 110px;
      top: -41px;
      display: flex;
      align-items: center;
      width: 30px;
      justify-content: center;
      right: 0;
      z-index: 13;
      transition: 200ms;
      background: rgba(0, 0, 0, 0.2);
      color: #fff;
      &:hover{
        background: rgba(0, 0, 0, 0.3);
      }
    }
  }
}

//.overlay-menu {
//  background: #cecece;
//  overflow: hidden;
//  width: 100%;
//  min-height: 150px;
//  position: absolute;
//  padding: 0;
//  list-style: none;
//  visibility: hidden;
//  transition: 200ms ease;
//  justify-content: space-between;
//  align-items: center;
//  z-index: 8;
//  top: 0;
//}
//.overlay-wrap{
//  display: block;
//  position: relative;
//  float: left;
//  width: 100%;
//}
.active-menu{
  background: #fff;
  font-weight: 600;
  >a{
    color: #ee2e24!important;
  }
}