.home-content{
  width: 100%;
  float: left;
  position: relative;
  background-color: #edeef0;
  padding-top: 15px;
  padding-bottom: 20px;
  box-sizing: border-box;
}
//home-content__wrap

.home-content__wrap{
  width: 48%;
  float: left;
  position: relative;
  margin-right: 30px;
  .owl-controls{
    width: 100%;

    .owl-nav{
      position: absolute;
      top: 124px;
      text-align: center;
      width: 100%;
      .owl-prev, .owl-next{
        background-image: url("../img/home-content/left-arrow.png");
        width: 18px;
        height: 30px;
        background-repeat: no-repeat;
        background-size: contain;
        display: block;
        float: left;
        position: relative;
        margin-left: 20px;
      }
      .owl-next{
        float: right;
        background-image: url("../img/home-content/right-arrow.png");
        margin-right: 20px;
      }
    }
    .owl-dots{
      display: -webkit-flex;
      display: -ms-flex;
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;

      width: 100%;
      float: left;
      margin-top: 5px;
      .owl-dot{
        flex: 1 0 0;
        height: 7px;
        background-color: #101e23;
        position: relative;
        float: left;
      }
      .owl-dot.active{
        background-color: #ee2e24;
      }
    }
  }
}

// slider
.home-content__wrap_slider{
  width: 100%;
  height: 400px;
  float: left;
  .item{
    width: 100%;
    height: 400px;
    overflow: hidden;
    position: relative;
    img{
      size: 100%;
      object-fit: cover;
    }
    .content{
      width: 100%;
      position: absolute;
      bottom: 0;
      left: 0;
      padding: 10px 15px;
      box-sizing: border-box;
      background-color: rgba(14, 29, 35, 0.9);
      .content-row{
        width: 100%;
        float: left;
        margin-bottom: 15px;
        span, a{
          display: inline-block;
          margin-right: 15px;
          color: #fff;
          font-size: 10px;
          // font-family: $or;
          font-weight: 400;
          float: left;
          width: initial;
        }
        .view-icon{
          background-image: url("../img/home-content/view.png");
          size: 19px 13px;
          display: block;
          background-repeat: no-repeat;
          background-size: contain;
          float: left;
          margin-right: 5px;
        }
      }
      a{
        width: 100%;
        display: block;
        float: left;
      }
      h3{
        font-size: 16px;
        // font-family: $ob;
        font-weight: 700;
        color: #fff;
        margin: 0;
        width: 100%;
        text-align: left;
        float: left;
        display: inline-block;
        text-transform: uppercase;
      }
      p{
        display: inline-block;
        width: 100%;
        font-size: 16px;
        color: #fff;
        float: left;
        // font-family: $or;
        font-weight: 400;
      }

    }
  }
}
// slider


// enterprises
.home-content__wrap_enterprises{
  width: 100%;
  float: left;
  margin-top: 30px;
  position: relative;
  background-color: #fff;
  border: 1px solid rgba(185, 196, 213, 0.48);
  box-sizing: border-box;
  .title{
    width: 100%;
    float: left;
    position: relative;
    background-color: #ee2e24;
    padding: 10px;
    box-sizing: border-box;
    h2{
      width: 50%;
      float: left;
      margin: 0;
      text-transform: uppercase;
      color: #fff;
      font-size: 20px;
      // font-family: $ob;
      font-weight: 700;
    }
    a{
      width: 50%;
      float: right;
      font-size: 13px;
      // font-family: $or;
      font-weight: 400;
      color: #fff;
      display: inline-block;
      line-height: 12px;
      text-align: right;
      top: -2px;
      position: relative;
      .add-icon{
        size: 18px;
        display: inline-block;
        float: none;
        margin-right: 10px;
        position: relative;
        background-image: url("../img/home-content/add-icon.png");
        background-repeat: no-repeat;
        background-size: contain;
        top: 4px;
      }
    }
  }
}

.enterprises__wrap{
  width: 100%;
  float: left;
  padding: 5px;
  box-sizing: border-box;
  .item-small, .item-large{
    width: 31.4%;
    float: left;
    position: relative;
    margin: 5px;
    display: block;
    .thumb{
      width: 100%;
      height: 120px;
      float: left;
      display: block;
      overflow: hidden;
      img{
        size: 100%;
        object-fit: cover;
      }
    }
    .content{
      width: 100%;
      float: left;
      position: relative;
      height: 100px;
      background-color: #f4f4f4;
      padding: 8px;
      box-sizing: border-box;
      &:hover{
        background-color: #292929;
        h4,p{color: #fff;}
        -webkit-transition-duration: 0.9s;
        -moz-transition-duration: 0.9s;
        -o-transition-duration:0.9s;
        transition-duration: 0.9s;
      }
      h4{
        color: #292929;
        font-size: 15px;
        font-weight: 700;
        margin: 0;
        width: 100%;
        display: inline-block;
        text-align: left;

      }
      p{
        color: #292929;
        width: 100%;
        float: left;
        position: relative;
        display: inline-block;
        margin: 2px 0;
        font-size: 12px;
        font-weight: 400;
        line-height: 20px;
      }
    }
  }

  .item-large{
    width: 64.9%;
  }

  .show-enterprises{
    float: right;
    display: inline-block;
    color: #090000;
    font-size: 12px;
    font-weight: 700;
    text-decoration: underline;
    text-transform: uppercase;
    padding: 5px 0 10px;
    box-sizing: border-box;

  }
}

.red-arrow{
  background-image: url("../img/home-content/red-arrow.png");
  width: 5px;
  height: 9px;
  background-repeat: no-repeat;
  background-size: contain;
  display: block;
  position: relative;
  top: 4px;
  margin-left: 5px;
  float: right;
  margin-right: 5px;
}
// enterprises

// checkpoint

.home-content__wrap_checkpoint{
  width: 100%;
  float: left;
  margin-top: 30px;
  position: relative;
  background-color: #fff;
  border: 1px solid rgba(185, 196, 213, 0.48);
  box-sizing: border-box;
  text-align: center;
  padding-bottom: 15px;
  box-sizing: border-box;
  .color-zebra{
    width: 97%;
    height: 13px;
    display: inline-block;
    float: none;
    position: relative;
    background-image: url("../img/home-content/color-zebra.png");
    background-repeat: no-repeat;
    background-size: cover;
    margin: 12px auto 5px;
  }
  .title{
    width: 100%;
    float: left;
    position: relative;
    padding: 10px 35px 10px 10px;
    box-sizing: border-box;
    h2{
      width: 65%;
      float: left;
      margin: 0;
      text-transform: uppercase;
      color: #000;
      font-size: 20px;
      // font-family: $ob;
      font-weight: 700;
    }
    a{
      width: 35%;
      float: right;
      font-size: 13px;
      // font-family: $or;
      font-weight: 400;
      color: #000;
      display: inline-block;
      line-height: 12px;
      text-align: right;
      top: 9px;
      position: relative;
      .rect-icon{
        size: 10px 6px;
        display: inline-block;
        float: none;
        margin-right: 10px;
        position: relative;
        background-image: url("../img/home-content/rect-icon.png");
        background-repeat: no-repeat;
        background-size: contain;
        top: 0;
      }
    }
  }
  .item{
    width: 100%;
    float: left;
    position: relative;
    padding-left: 25px;
    box-sizing: border-box;
    padding-right: 15px;
    margin: 7px 0;
    text-align: left;
    .color_checkpoint{
      width: 22px;
      height: 23px;
      background-color: #ee2e24;
      border: 3px solid yellow;
      display: block;
      border-radius: 50%;
      float: left;
    }
    .item-city{
      width: 63%;
      float: left;
      position: relative;
      display: inline-block;
      padding-left: 15px;
      box-sizing: border-box;
      text-align: left;
      a{
        color: #120202;
        display: inline-block;
        font-size: 14px;
        font-weight: 400;
        line-height: 22px;
        margin-right: 5px;
        &:hover{
          text-decoration: underline;
        }
      }
    }
    p{
      width: calc(37% - 35px);
      float: left;
      display: inline-block;
      position: relative;
      color: #090000;
      font-size: 11px;
      font-weight: 600;
      line-height: 20px;
      margin: 0;
      text-align: left;
    }
  }
}

// checkpoint

.home-content__wrap_komunalka{
  width: 100%;
  float: left;
  position: relative;
  background-color: #fff;
  padding: 20px ;
  box-sizing: border-box;
  margin-top: 30px;
  h3{
    margin: 0;
    color: #070000;
    font-size: 20px;
    font-weight: 700;
    line-height: 16px;
    text-transform: uppercase;
    padding-bottom: 20px;
    position: relative;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border-bottom: 1px solid #edeef0;
    display: inline-block;
    width: 100%;
  }
}

.komunalka{
  width: 100%;
  float: left;
  margin-top: 20px;
}

.komunalka__item{
  display: inline-block;
  float: left;
}

.komunalka__icon{
  width: 43px;
  height: 43px;
  border: 1px solid #edeef0;
  display: inline-block;
  cursor: pointer;
  float: left;
  text-align: center;
  box-sizing: border-box;
  img{

    object-fit: contain;
    position: relative;
    top: 50%;
    float: none;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }
}

.komunalka__line{
  width: 295px;
  height: 43px;
  // border: 1px solid #edeef0;
  display: none;
  position: relative;
  float: left;
  color: #110101;
  font-size: 16px;
  font-weight: 400;
  line-height: 15px;
  text-align: right;
  padding: 14px 0;
  box-sizing: border-box;
  &:before{
    content: "";
    width: 1px;
    height: 30px;
    position: absolute;
    left: 0;
    margin-top: -7px;
    background-color: #ff0200;
  }
  .red-arrow{
    margin: 0 10px;
  }
}

.komunalka__line_active{
  border: 1px solid #ff0200;
  box-sizing: border-box;
  height: 43px;
  .komunalka__line{
    display: inline-block;
  }
  .komunalka__icon{
    border: none;
  }
}

.home-content__wrap_subscribe{
  width: 100%;
  padding: 10px;
  float: left;
  box-sizing: border-box;
  background-color: #fff;
  margin-top: 30px;
  .subscribe__wrap{
    width: 100%;
    float: left;
    position: relative;
    background-color: #f6f6f6;
    padding: 20px;
    box-sizing: border-box;
    h3{
      margin: 0;
      color: #070000;
      font-size: 20px;
      font-weight: 700;
      line-height: 16px;
      text-transform: uppercase;
      position: relative;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      border-bottom: 1px solid #edeef0;
      display: inline-block;
      width: 100%;
      padding: 20px 0;
      box-sizing: border-box;
    }
    form{
      width: 100%;
      float: left;
      position: relative;
      margin-top: 20px;
      input{
        width: 70%;
        display: inline-block;
        float: left;
        height: 45px;
        border: none;
        padding-left: 20px;
        box-sizing: border-box;
        background-color: #e7e7e7;
      }
      button{
        display: inline-block;
        width: 30%;
        float: left;
        height: 45px;
        color: #fff;
        background-color: #ee2e24;
        border-radius: 5px;
        border: none;
        font-size: 15px;
        font-weight: 600;
        line-height: 15px;
        text-transform: uppercase;
      }
    }
    .social-wrap{
      width: 100%;
      float: left;
      display: inline-block;
      margin-top: 20px;
      .social-wrap__item{
        size: 45px;
        display: block;
        float: left;
        position: relative;
        margin-right: 10px;
        text-align: center;
          img{
            width: 19px;
            height: 19px;
            object-fit: contain;
            position: relative;
            top: 50%;
            -webkit-transform: translateY(-50%);
            -ms-transform: translateY(-50%);
            transform: translateY(-50%);
          }
      }
      .vk{
        background-color: #527498;
      }
      .fb{
        background-color: #365aa4;
      }
      .ok{
        background-color: #ff8304;
      }
      .insta{
        background-color: #517fa4;
      }
      .twitter{
        background-color: #1ab2e8;
      }
      .google{
        background-color: #d6492f;
      }
      .pinterest{
        background-color: #ed1b22;
      }
      .vk{

      }
    }
  }
}
//home-content__wrap

// home-content__tape

.home-content__tape{
  width: 21.7%;
  float: left;
  margin-right: 30px;
  background-color: white;
  border: 1.5px solid #ee2e24;
  text-align: center;
  h2{
    width: 100%;
    float: left;
    padding: 15px 0;
    box-sizing: border-box;
    text-align: center;
    margin: 0;
    color: #fffcf4;
    font-size: 22px;
    font-weight: 700;
    line-height: 12px;
    background-color: #ee2e24;
    position: relative;
    &:after{
      content: "";
      position: absolute;
      width: 0;
    	height: 0;
      border-left: 5px solid transparent;
      border-right: 5px solid transparent;
      border-top: 8px solid #ee2e24;
      margin-top: 27px;
      left: 50%;
    }
  }
  .more_type{
    background-color: #ee2e24;
    border-radius: 5px;
    display: inline-block;
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    color: #fff;
    float: none;
    margin: 33px 0 20px;
    padding: 10px 15px;
    box-sizing: border-box;
  }
}

.tape__item{
  width: 100%;
  box-sizing: border-box;
  padding: 15px 15px 0 15px;
  float: left;
  display: inline-block;
  h4{
    color: #ee2e24;
    font-size: 14px;
    font-weight: 700;
    font-variant: small-caps;
    display: inline-block;
    float: left;
    text-align: left;
    width: 78%;
    margin: 0;
  }
  .time{
    color: #090000;
    text-align: left;
    display: inline-block;
    float: left;
    font-size: 14px;
    font-weight: 600;
    font-variant: small-caps;
    width: 22%;
  }
  p{
    display: inline-block;
    color: #050000;
    width: 100%;
    text-align: center;
    font-size: 13px;
    font-weight: 600;
    line-height: 24px;
    padding: 15px 0 10px;
    box-sizing: border-box;
    margin: 0;
    border-bottom: 1px solid #edeef0;
  }
}

.tape__item_pic{
  height: 159px;
  float: left;
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  overflow: hidden;
  position: relative;
  img{
    size: 100%;
    object-fit: cover;
  }
  .time{
    position: relative;
    width: 100%;
    top: 20px;
    float: left;
    text-align: left;
    padding-left: 5px;
    font-size: 14px;
    font-weight: 600;
    color: #fff;
    font-variant: small-caps;
  }
  p{
    display: inline-block;
    opacity: 0.77;
    background-color: #0c242e;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    margin: 0;
    position: relative;
    top: -73px;
    height: 68px;
    left: 0;
    bottom: 0;
    font-size: 13px;
    font-weight: 600;
    line-height: 24px;
    color: #fff;
    text-align: left;
  }
}


// home-content__tape



.home-content__sidebar{
  width: 24%;
  float: left;
  h3{
    margin: 0;
    color: #070000;
    font-size: 20px;
    font-weight: 700;
    line-height: 16px;
    text-transform: uppercase;
    // border-bottom: 5px solid #aeacb7;
    padding: 0 10px 5px;
    position: relative;
    box-sizing: border-box;
    &:before{
      content: "";
      display: inline-block;
      background-color: #070000;
      width: 2px;
      height: 100%;
    }
  }
}


.home-content__sidebar_stock{
  width: 100%;
  float: left;
  position: relative;

}

.stock__item{
  width: 100%;
  float: left;
  position: relative;
  background-color: #fff;
  height: 130px;
  overflow: hidden;
  border: 1px solid rgba(185, 196, 213, 0.48);
}

.stock__item_hide{
  display: block;
  z-index: 2;
  width: 100%;
  height: 130px;
  position: relative;
  background-color: #fff;

  p{
    margin: 0;
    color: #050000;
    font-size: 14px;
    font-weight: 700;
    line-height: 24px;
    width: 100%;
    float: left;
    padding: 20px 25px 0 40px;
    box-sizing: border-box;
  }
  a{
    float: right;
    display: inline-block;
    text-align: right;
    color: #050000;
    font-size: 12px;
    font-weight: 400;
    line-height: 15px;
    margin-top: 9px;
    padding-right: 10px;
    box-sizing: border-box;
    &:hover{
      text-decoration: underline;
    }
  }
}
.stock__item_visible{
  background-color: #fff;
  width: 100%;
  position: relative;
  text-align: center;
  z-index: 6;
  top: -130px;
  height: 130px;
  .thumb{
    width: 50%;
    float: left;
    position: relative;
    overflow: hidden;
    img{
      width: 100%;
      height: 130px;
      object-fit: cover;
    }
  }
  .content{
    width: calc(50% - 15px);
    float: left;
    position: relative;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    align-items: center;
    flex-flow: row wrap;
    height: 130px;
    p{
      color: #050000;
      display: inline-block;
      margin: 0;
      padding-left: 15px;
      box-sizing: border-box;
      font-size: 12px;
      font-weight: 700;
      line-height: 24px;
      text-align: left;
    }
  }
  .mouse-area{
    float: right;
    width: 15px;
    height: 130px;
    cursor: pointer;
    position: relative;
    img{
      size: 100%;
    }
  }
}

.red-line{
  width: 100%;
  float: left;
  display: inline-block;
  height: 7px;
  background-color: #ff0200;
}
.home-content__sidebar_poll{
  margin-top: 30px;
  width: 100%;
  float: left;
  background-color: #fff;
  border: 1px solid rgba(185, 196, 213, 0.48);
  // padding: 10px;
  box-sizing: border-box;
  h3{
    width: 100%;
    padding: 0;
    margin: 0;
    float: left;
    display: inline-block;
    border: none;
    text-align: center;
    color: #0f0101;
    font-size: 20px;
    font-weight: 700;
    line-height: 22px;
    border-top: 7px solid #ff0200;
    padding: 5px 0;
    box-sizing: border-box;
  }
  h5{
    width: 100%;
    margin: 0;
    text-align: center;
    color: #050000;
    float: left;
    font-size: 14px;
    font-weight: 700;
    line-height: 23px;
  }
  form{
    width: 100%;
    float: left;
    padding: 10px;
    box-sizing: border-box;
    p{
      color: #050000;
      font-size: 14px;
      font-weight: 400;
      line-height: 35px;
    }
    button{
      width: 100%;
      outline: none;
      border: none;
      cursor: pointer;
      background-color: #ff0200;
      box-shadow: 1px 1.7px 4px rgba(0, 0, 0, 0.08), 0 0 4px rgba(0, 0, 0, 0.12);
      color: #fff;
      font-size: 13px;
      font-weight: 400;
      line-height: 27px;
      .pencil{
        display: inline-block;
        position: relative;
        background-image: url("../img/home-content/pencil.png");
        width: 25px;
        height: 21px;
        background-repeat: no-repeat;
        background-size: contain;
        top: 3px;
        margin-right: 10px;
      }
    }
  }
}

.home-content__sidebar_consultation{
  margin-top: 30px;
  width: 100%;
  float: left;
  background-color: #fff;
  border: 1px solid rgba(185, 196, 213, 0.48);
  padding: 10px;
  box-sizing: border-box;
  padding-bottom: 10px;
  h3{
    border-bottom: none;
    position: relative;
    z-index: 6;
    padding-left: 0;
  }
  .ask{
    width: 100%;
    float: right;
    text-align: right;
    position: relative;
    display: inline-block;
    color: #050000;
    font-size: 12px;
    font-weight: 600;
    text-transform: uppercase;
    line-height: 10px;
    margin-bottom: 10px;
    .ask-icon{
      display: inline-block;
      size: 20px 22px;
      position: relative;
      background-image: url("../img/home-content/ask-icon.png");
      background-repeat: no-repeat;
      background-size: contain;
      top: 7px;
    }
  }
  .consultation-title{
    content: "";
    background-image: url("../img/home-content/consultation-title.png");
    size: 64px;
    display: block;
    position: absolute;
    background-repeat: no-repeat;
    background-size: contain;
    margin-top: -39px;
    z-index: 0;
    margin-left: -18px;
  }
  .show-more{
    float: right;
    display: inline-block;
    color: #090000;
    font-size: 12px;
    font-weight: 700;
    text-decoration: underline;
    text-transform: uppercase;
    padding: 5px 0 10px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin-top: 20px;
  }
}

.consultation__item{
  width: 100%;
  float: left;
  position: relative;
  margin: 12px 0;
  &:nth-of-type(odd){
    .thumb{
      margin-left: 15px;
      margin-right: 0;
    }
    .category{
      left: 79%;
    }
  }
  .thumb{
    size: 54px;
    overflow: hidden;
    border-radius: 50%;
    display: block;
    float: left;
    position: relative;
    margin-right: 15px;
    img{
      height: 100%;
      width: auto;
      left: 0;
      top: 0;
      object-fit: contain;
    }

  }
  .category{
    position: absolute;
    color: #050000;
    font-size: 12px;
    font-weight: 700;
    line-height: 10px;
    text-transform: uppercase;
    left: 0;
    margin-top: 61px;
    width: 54px;
    text-align: center;
  }
  p{
    color: #050000;
    font-size: 13px;
    font-weight: 600;
    width: calc(100% - 69px);
    float: left;
    // padding-left: 15px;
    box-sizing: border-box;
    line-height: 24px;
    padding-bottom: 18px;
    margin: 0;
    border-bottom: 1px solid #edeef0;
  }
}



.home-content__sidebar_exchange{
  width: 100%;
  float: left;
  position: relative;
  margin-top: 30px;

  .title__tabs{
    width: 100%;
    float: left;
    position: relative;

    ul{
      padding: 0;
      width: 100%;
      display: inline-block;
      margin: 0;
      li{
        width: 50%;
        float: left;
        list-style-type: none;
        text-align: center;
        a{
          color: #070000;
          font-size: 20px;
          font-weight: 700;
          line-height: 16px;
          text-transform: uppercase;
          text-decoration: none;
          text-align: left;
          padding-left: 10px;
          box-sizing: border-box;
        }
      }
    }
  }
  .page__tabs_target{
    width: 100%;
    float: left;
    display: inline-block;
    text-align: center;
  }
  .page__tabs_active{
    display: block;
    box-sizing: border-box;
    span{
      color: #ee2e24;
    }
  }
  .box-connent{
    width: 100%;
    float: left;
    position: relative;

    box-sizing: border-box;
  }

  .page__tabcontent{
    width: 100%;
    float: left;
    box-sizing: border-box;
    background-color: #fff;
    border: 1px solid rgba(185, 196, 213, 0.48);
    .show-more{
      float: right;
      display: inline-block;
      color: #090000;
      font-size: 12px;
      font-weight: 700;
      padding: 5px 0;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;

    }
    table{
      width: 100%;
      float: left;
      border-collapse: collapse;
      thead{
        background-color: #e2e2e2;
        tr{
          width: 100%;
          text-align: center;
          th{
            width: 33.3%;
            color: #050000;
            font-size: 14px;
            font-weight: 600;
            line-height: 24px;
            border: 1px solid #fff;
            border-top: none;
          }
        }
      }
      tbody{
        width: 100%;
        background-color: #fff;
        tr{
          width: 100%;
          text-align: center;

          td{
            width: 33.3%;
            color: #050000;
            font-size: 16px;
            font-weight: 700;
            line-height: 24px;
            text-transform: uppercase;
            border: 1px solid #edeef0;
            position: relative;
            .up{
              width: 0;
            	height: 0;
              border-left: 5px solid transparent;
              border-right: 5px solid transparent;
              border-bottom: 8px solid red;
              position: absolute;
              margin-top: 8px;
              margin-left: 4px;
            }
            .down{
              width: 0;
            	height: 0;
              border-left: 5px solid transparent;
              border-right: 5px solid transparent;
              border-top: 8px solid red;
              position: absolute;
              margin-top: 8px;
              margin-left: 4px;
            }
          }
        }
      }
    }
  }

  .one{
    display: block;
  }
  .two, .three, .four{
    display: none;
  }
}



.home-content__sidebar_weather{
  width: 100%;
  float: left;
  position: relative;
  background-color: #fff;
  border: 1px solid rgba(185, 196, 213, 0.48);
  margin-top: 30px;
  padding: 10px;
  box-sizing: border-box;
  h3{
    width: 100%;
    float: left;
    display: inline-block;
    padding-left: 0;
  }
}

.main-weather{
  width: 100%;
  float: left;
  position: relative;
  margin-top: 5px;
}
.main-weather__content{
  width: 50%;
  float: left;
  position: relative;
  text-align: left;

  .city, .date, .precipitation{
    width: 100%;
    float: left;
    display: inline-block;
    color: #ee2e24;
    font-weight: 700;
    font-size: 14px;
    margin: 3px 0;
  }
  .date, .precipitation{
    color: #050000;
    font-weight: 600;
  }
}

.main-weather__pic{
  width: 25%;
  float: left;
  text-align: center;
  overflow: hidden;
  img{
    width: 100%;
    height: auto;
    object-fit: contain;
  }
}

.main-weather_temp{
  width: 25%;
  float: left;
  position: relative;
  text-align: center;
  font-weight: 600;
  color: #000;
  font-size: 52px;
}
.week-weather{
  width: 100%;
  float: left;
  position: relative;
  margin-top: 10px;
}

.week-weather__item{
  width: 27.3%;
  margin-right: 23px;
  float: left;
  position: relative;
  display: block;
  &:last-of-type{
    margin-right: 0;
  }
}

.week-weather__date{
  width: 100%;
  float: left;
  display: inline-block;
  text-align: center;
  color: #050000;
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
  text-transform: uppercase;
}

.week-weather__pic{
  width: 50%;
  float: left;
  position: relative;
  text-align: center;
  overflow: hidden;
  img{
    width: 100%;
    height: auto;
  }
}


.week-weather_temp{
  width: 50%;
  float: left;
  position: relative;
  text-align: center;
  font-weight: 400;
  color: #000;
  font-size: 25px;
}
