.home-content__hot-topics-russ {
  display: flex;
  position: relative;
  margin-top: 60px;
  width: 100%;
  float: left;
  flex-wrap: wrap;
  .left-column {
    width: 310px;
    margin-right: 20px;
    position: relative;
    display: block;
    @include breakpoint(max-width 1200px){
      width: 100%;
      margin-right: 0;
    }
    .title {
      position: absolute;
      width: 195px;
      height: 45px;
      display: flex;
      align-items: center;
      justify-content: center;
      background: #ee2e24;
      top: -22px;
      span {
        display: inline-block;
        text-transform: uppercase;
        color: #fff;
        text-align: center;
        font-size: 16px;
        font-weight: 700;
      }
    }
    &__content {
      padding: 30px 15px 15px 15px;
      display: flex;
      align-items: center;
      background: #fff;
      flex-wrap: wrap;
      margin-bottom: 15px;
      h2 {
        font-size: 16px;
        color: #0b0000;
        font-weight: 700;
        width: 100%;
        margin-top: 15px;
      }
      p {
        color: #000;
        font-size: 13px;
        width: 100%;
        margin: 20px 0;
      }
    }
    .item {
      margin-bottom: 15px;
      background: #fff;
      position: relative;
      display: flex;
      width: 100%;
      height: 95px;
      align-items: center;
      img {
        width: 112px;
        height: 100%;
        object-fit: cover;
      }
      p {
        width: calc(100% - 112px);
        color: #000;
        font-size: 12px;
        box-sizing: border-box;
        margin: 0;
        height: calc(12px * 1.5 * 5);
        line-height: 1.2;
        -webkit-line-clamp: 4;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
        display: flex;
        justify-content: center;
        padding: 0 25px;
        align-items: center;
      }
    }
  }
  .right-column {
    width: calc(100% - 330px);
    display: block;
    float: left;
    position: relative;
    @include breakpoint(max-width 1200px){
      width: 100%;
    }
    &__content {
      background: #fff;
      display: block;
      width: 100%;
      position: relative;
      margin-bottom: 20px;
      a {
        color: #000;
        width: 100%;
        position: relative;
        display: inline-block;
      }
      p {
        font-size: 13px;
        border-bottom: 1px solid #dbdbdb;
        line-height: 1.3;
        margin: 0 20px;
        padding: 15px 0;
        display: block;
      }
      img{
        width: 100%;
        height: 107px;
        object-fit: cover;

      }

    }
    .news__wrap_item-lg{
      margin: 0;
      .thumb {
        height: 207px;
        position: relative;
        width: 100%;
        float: left;
        background: transparent;
        &:before{
          content: '';
          position: absolute;
          z-index: 2;
          top: 0;
          bottom: 0;
          height: 100%;
          width: 100%;
          background-image: linear-gradient(to top, black 0%, rgba(4, 0, 1, 0.98) 2%, transparent 100%);
        }
        .content-row h2{
          font-size: 13px;
          color: #fff;
          height: calc(13px * 1.4 * 2);
          line-height: 1.4;
          -webkit-line-clamp: 2;
          -webkit-box-orient: vertical;
          overflow: hidden;
          text-overflow: ellipsis;
        }
        img{
          position: absolute;
          object-fit: cover;
          size: 100%;
          z-index: 1;
        }
      }
    }
  }

}