.home-content__hot-topics-russ {
  display: flex;
  position: relative;
  margin-top: 60px;
  width: 100%;
  float: left;
  flex-wrap: wrap;
  .business__sm-item--views {
    height: auto!important;
    &:before {
      height: 13px;
      width: 13px;
      top: 3px;
    }
  }
  .left-column {
    width: 340px;
    margin-right: 15px;
    position: relative;
    display: block;
    @include breakpoint(max-width 1200px) {
      width: 100%;
      margin-right: 0;
    }
    .title {
      position: absolute;
      width: 195px;
      height: 45px;
      display: flex;
      align-items: center;
      justify-content: center;
      background: #ee2e24;
      top: -22px;
      span {
        display: inline-block;
        text-transform: uppercase;
        color: #fff;
        text-align: center;
        font-size: 16px;
        font-weight: 700;
      }
    }
    &__content {
      padding: 30px 15px 15px 15px;
      display: flex;
      align-items: center;
      background: #fff;
      flex-wrap: wrap;
      margin-bottom: 25px;
      box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.14);
      h2 {
        font-size: 16px;
        color: #0b0000;
        font-weight: 700;
        width: 100%;
        margin-top: 15px;
      }
      p {
        color: #000;
        font-size: 13px;
        width: 100%;
        margin: 5px 0;
      }
      .hashtag__wrapper {
        margin: 0;
        padding: 0;
        align-items: center;
        p {
          margin: 0;
        }
      }
    }
    .item {
      margin-bottom: 25px;
      background: #fff;
      position: relative;
      display: flex;
      width: 100%;
      height: 100px;
      align-items: center;
      box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.14);
      .hashteg-mini {

      }
      img {
        width: 112px;
        height: 100px;
        object-fit: cover;
      }
      &__wrapper {
        width: calc(100% - 112px);
        box-sizing: border-box;
        display: flex;
        justify-content: center;
        padding: 0 18px;
        align-items: center;
        flex-wrap: wrap;
        p {
          height: 57px;
          line-height: 1.2;
          -webkit-line-clamp: 4;
          -webkit-box-orient: vertical;
          overflow: hidden;
          text-overflow: ellipsis;
          color: #000;
          margin: 0;
          font-size: 12px;
        }
        .hashtag-wrap {
          display: flex;
          align-items: center;
          .hashteg-mini{
            border: 1px solid #cfe0ff;
            -webkit-border-radius: 5px;
            border-radius: 5px;
            padding: 3px;
            margin: 5px;
            font-size: 10px;
            color: #e52d31;
            text-transform: uppercase;
            transition: 200ms ease;
            &:hover{
              border: 1px solid #e52d31;
            }
          }
        }
      }
    }
  }
  .right-column {
    width: calc(100% - 355px);
    display: block;
    float: left;
    position: relative;
    @include breakpoint(max-width 1200px) {
      width: 100%;
    }
    &__content {
      background: #fff;
      box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.14);
      display: block;
      width: 100%;
      position: relative;
      margin-bottom: 25px;
      a {
        color: #000;
        width: 100%;
        position: relative;
        display: inline-block;
      }
      p {
        font-size: 13px;
        border-bottom: 1px solid #f79f9b;
        line-height: 1.3;
        margin: 0 15px;
        padding: 15px 0;
        display: block;
      }
      .border-none{
        border: none;
      }
      img {
        width: 100%;
        height: 107px;
        object-fit: cover;

      }

    }
    .news__wrap_item-lg {
      margin: 0;
      height: auto;
      .thumb {
        height: 150px;
        margin-bottom: 15px;
        position: relative;
        width: 100%;
        float: left;
        background: transparent;
        &:before {
          content: '';
          position: absolute;
          z-index: 2;
          top: 0;
          bottom: 0;
          height: 100%;
          width: 100%;
          background-image: linear-gradient(to top, black 0%, rgba(4, 0, 1, 0.98) 2%, transparent 100%);
        }
        .content-row h2 {
          font-size: 13px;
          color: #fff;
          height: calc(13px * 1.4 * 2);
          line-height: 1.4;
          -webkit-line-clamp: 2;
          -webkit-box-orient: vertical;
          overflow: hidden;
          text-overflow: ellipsis;
        }
        img {
          position: absolute;
          object-fit: cover;
          size: 100%;
          z-index: 1;
        }
      }
    }
  }
  .comments {
    position: relative;
    display: inline-block;
    margin-left: 25px;
    margin-right: 6px;
    font-size: 13px !important;
    color: #000 !important;
    font-weight: 600;
    &:before {
      content: '';
      left: -17px;
      top: 4px;
      width: 13px;
      height: 13px;
      position: absolute;
      background: url("../img/icons/new-chat-icon.png") no-repeat center center;
      background-size: contain;
    }
  }
}