.news-slider-index{
  width: 100%;
  float: left;
  position: relative;
  padding-bottom: 40px;
  box-sizing: border-box;
  .separator{
    width: 450px;
  }
  .owl-carousel{
    height: 345px;
    float: left;
    position: relative;
    margin-right: 10px;
    &:last-of-type{
      margin-right: 0;
    }
    .item{
      width: 100%;
      height: 345px;
      float: left;
      position: relative;
      background-image: linear-gradient(to top,rgba(0,0,0,0.4) 18%,transparent 50%);
      &:hover{
        /*img{
          @include filter(grayscale(100%));
        }*/
        .item__info{
          height: 100px;
         /* background-image: linear-gradient(to top, black 0%, rgba(4, 0, 1, 0.98) 2%, transparent 100%);*/
          @include transition(height 200ms ease-in);
        }
      }
      &__info{
        display: block;
        position: relative;
        float: left;
        width: 100%;
        height: 40px;
        overflow: hidden;
        @include transition(height 200ms ease-in);
        /*background-image: linear-gradient(to top, black 0%, rgba(4, 0, 1, 0.98) 2%, transparent 100%);*/
        > h4{
          display: inline-block;
          display: -webkit-box;
          width: 100%;
          height: calc(13px * 1.3 * 2);
          float: left;
          color: #fff;
          font-size: 13px;
          font-weight: 700;
          text-transform: uppercase;
          margin: 5px 0;
          text-align: left;
          line-height: 1.3;
          -webkit-line-clamp: 2;
          -webkit-box-orient: vertical;
          overflow: hidden;
          text-overflow: ellipsis;
        }
        > p{
          display: inline-block;
          display: -webkit-box;
          width: 100%;
          height: calc(13px * 1.2 * 2);
          float: left;
          color: #fff;
          font-size: 13px;
          font-weight: 400;
          margin-top: 10px;
          margin-bottom: 0;
          text-align: left;
          line-height: 1.2;
          -webkit-line-clamp: 2;
          -webkit-box-orient: vertical;
          overflow: hidden;
          text-overflow: ellipsis;
        }
      }
      img{
        z-index: -1;
        position: absolute;
        size: 100%;
        object-fit: cover;
      }
      .content-item{
        width: 100%;
        position: absolute;
        display: inline-block;
        left: 0;
        bottom: 0;
        padding: 7px;
        box-sizing: border-box;
        .content-row{
          width: 100%;
          float: left;
          display: inline-block;
          position: relative;
          h3, span{
            display: inline-block;
            margin-right: 15px;
            color: #fff;
            font-size: 12px;
            font-weight: 400;
            float: left;
            width: auto;
          }
          .view-icon{
            background-image: url("../img/home-content/view.png");
            size: 19px 13px;
            display: block;
            background-repeat: no-repeat;
            background-size: contain;
            float: left;
            margin-right: 5px;
          }
          .open-soc{
            color: #ee2e24;
            cursor: pointer;
            &:hover{
              color: #ee2e24;
            }
          }
          .hide-social{
            left: 0;
            margin-top: -42px;
            &:after{
              right: 155px;
            }
          }
        }
        a{
          color: #fff;
          width: 100%;
          float: left;
          display: inline-block;
          font-size: 13px;
          font-weight: 700;
          text-transform: uppercase;
          margin: 5px 0;
          text-align: left;
        }
      }
    }
  }
  .js-carousel-1{
    width: 35%;
  }
  .js-carousel-2{
    width: 27%;
  }
  .js-carousel-3{
    width: 20%;
  }
  .js-carousel-4{
    width: 15.3%;
    margin-right: 0;
  }
}

.news-slider-wrap{
  width: 100%;
  float: left;
  position: relative;
  margin-bottom: 40px;
}


.news-slider-index-panel{
  width: 100%;
  float: left;
  position: relative;
  h3{
    color: #000101;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    display: inline-block;
    margin: 0;
    text-align: left;
    float: left;
    position: relative;
    &::after{
      content: "";
      width: 550px;
      height: 7px;
      background-color: #ee2e24;
      display: inline-block;
      margin-left: 15px;
      position: relative;
    }
  }
  .buttons-wrap{
    width: 33%;
    top: -5px;
    margin-left: 10px;
    float: left;
    position: relative;
    a{
      display: inline-block;
      background-color: #ee2e24;
      border-radius: 5px;
      color: #fff;
      font-size: 11px;
      font-weight: 400;
      line-height: 11px;
      padding: 10px 30px;
      box-sizing: border-box;
      text-transform: uppercase;
      margin-right: 10px;
      &:last-of-type{
        margin-right: 0;
      }
    }
  }
}

.slider-nav{
  width: 8%;
  right: 4.4%;
  z-index: 6;
  bottom: 26px;
  position: absolute;
  display: inline-block;
  .customPrevBtn, .customNextBtn{
    display: block;
    position: relative;
    background-image: url("../img/icons/left-arrow.png");
    background-repeat: no-repeat;
    background-size: contain;
    width: 36px;
    height: 31px;
    float: left;
  }
  .customNextBtn{
    background-image: url("../img/icons/right-arrow.png");
    float: right;
  }
}
