.news-slider-index{
  width: 100%;
  float: left;
  position: relative;
  padding-bottom: 40px;
  box-sizing: border-box;
  .separator{
    width: 450px;
  }
  .owl-carousel{
    height: 290px;
    float: left;
    position: relative;
    margin-right: 10px;
    &:last-of-type{
      margin-right: 0;
    }

    .item{
      width: 100%;
      height: 290px;
      float: left;
      position: relative;
      img{
        size: 100%;
        object-fit: cover;
      }
      .content-item{
        width: 100%;
        position: absolute;
        left: 0;
        bottom: 0;
        padding: 7px;
        box-sizing: border-box;
        height: 90px;
        overflow: hidden;
        h4{
          color: #fff;
          width: 100%;
          float: left;
          display: inline-block;
          font-size: 13px;
          // line-height: 20px;
          font-weight: 700;
          text-transform: uppercase;
          margin: 5px 0;
          text-align: left;
        }
        p{
          color: #fff;
          width: 100%;
          float: left;
          display: inline-block;
          font-size: 13px;
          line-height: 20px;
          font-weight: 400;
          margin: 0;
          text-align: left;
        }
      }
    }
  }
  .js-carousel-1{
    width: 35%;
  }
  .js-carousel-2{
    width: 27%;
  }
  .js-carousel-3{
    width: 20%;
  }
  .js-carousel-4{
    width: 15.3%;
    margin-right: 0;
  }
}

.news-slider-wrap{
  width: 100%;
  float: left;
  position: relative;
  margin-bottom: 40px;
}


.news-slider-index-panel{
  width: 100%;
  float: left;
  position: relative;
  h3{
    color: #000101;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    display: inline-block;
    margin: 0;
    text-align: left;
    float: left;
    position: relative;
    &::after{
      content: "";
      width: 550px;
      height: 7px;
      background-color: #ee2e24;
      display: inline-block;
      margin-left: 15px;
      position: relative;
    }
  }
  .buttons-wrap{
    width: 33%;
    top: -5px;
    margin-left: 10px;
    float: left;
    position: relative;
    a{
      display: inline-block;
      background-color: #ee2e24;
      border-radius: 5px;
      color: #fff;
      font-size: 11px;
      font-weight: 400;
      line-height: 11px;
      padding: 10px 30px;
      box-sizing: border-box;
      text-transform: uppercase;
      margin-right: 10px;
      &:last-of-type{
        margin-right: 0;
      }
    }
  }
}

.slider-nav{
  width: 8%;
  right: 4.4%;
  z-index: 6;
  bottom: 26px;
  position: absolute;
  display: inline-block;
  .customPrevBtn, .customNextBtn{
    display: block;
    position: relative;
    background-image: url("../img/icons/left-arrow.png");
    background-repeat: no-repeat;
    background-size: contain;
    width: 36px;
    height: 31px;
    float: left;
  }
  .customNextBtn{
    background-image: url("../img/icons/right-arrow.png");
    float: right;
  }
}
