.button-second-menu {
  display: block;
  position: relative;
  float: left;
  width: 100%;
  a {
    color: #000;
    font-size: 16px;
    margin-top: 10px;
  }
  @include breakpoint(min-width 992px) {
    display: none;
  }
}

.mobile-second-menu {
  display: none;
  position: fixed;
  height: 100vh;
  width: 100%;
  background: #fff;
  z-index: 9998;
  top: 0;
  overflow-y: scroll;
  left: 0;
  &__header {
    display: block;
    position: relative;
    float: left;
    width: 100%;
    border-bottom: 1px solid #cecece;
    padding: 12px 16px;
    text-align: center;
    .header-m-arrow{
      position: absolute;
      height: 100%;
      width: 50px;
      left: 0;
      top: 0;
      display: none;
      justify-content: center;
      align-items: center;
      transform: rotate(180deg);
      background: url("../img/second-menu/arrow-right.svg") no-repeat center center;
      background-size: auto 12px;
    }
    span {
      font-size: 16px;
    }
    a {
      float: right;
      display: inline-block;
    }
  }
  &__wrap{
    position: relative;
    width: 100%;
    float: left;
    overflow: hidden;
    //display: flex;
  }

  .mobile-menu-lvl-1{
    margin: 0;
    display: flex;
    align-items: center;
    flex-direction: column;
    list-style: none;
    position: relative;
    width: 100%;
    padding: 0;
    //flex-shrink: 0;

    li {
      width: 100%;
      border-bottom: 1px solid #cecece;
      position: relative;
      &:before{
        content: "";
        position: absolute;
        top: 50%;
        right: 16px;
        width: 7px;
        height: 12px;
        margin-top: -6px;
        background: url("../img/second-menu/arrow-right.svg") no-repeat;
        background-size: auto 12px;
      }
      a{
        padding: 12px 16px;
        box-sizing: border-box;
        display: inline-block;
        font-size: 16px;
        width: 100%;
        color: rgba(0,0,0,.87);
        img{
          padding-right: 16px;
        }
      }
    }
  }
  .mobile-menu-lvl-2{
    display: none;
    z-index: 9999;
    background: #fff;
    min-height: 100%;
    overflow: hidden;
    position: relative;
    width: 100%;
    margin: 0;
    //display: flex;
    transition: 500ms ease;
    align-items: center;
    flex-direction: column;
    overflow-y: auto;
    padding: 0;
    top: 0;
    //transform: translateX(100%);
    //flex-shrink: 0;
    li {
      width: 100%;
      border-bottom: 1px solid #cecece;
      position: relative;
      &:before{
        content: "";
        position: absolute;
        top: 50%;
        right: 16px;
        width: 7px;
        height: 12px;
        margin-top: -6px;
        background: url("../img/second-menu/arrow-right.svg") no-repeat;
        background-size: auto 12px;
      }
      a{
        padding: 12px 16px;
        box-sizing: border-box;
        display: inline-block;
        font-size: 16px;
        width: 100%;
        color: rgba(0,0,0,.87);
        img{
          padding-right: 16px;
        }
      }
    }
  }
}