.button-second-menu {
  display: block;
  position: relative;
  float: left;
  width: 100%;
  a {
    color: #092531;
    font-size: 15px;
    margin-top: 10px;
    font-weight: 600;
    letter-spacing: 1px;
  }
  &__hamburger {
    display: flex;
    flex-direction: column;
    justify-content: center;
    float: left;
    width: 20px;
    height: 20px;
    background: #ee2d24;
    margin-right: 10px;
    span {
      width: 11px;
      height: 1px;
      background: #fff;
      margin: 1.5px auto;
    }
  }

  @include breakpoint(min-width 992px) {
    display: none;
  }
}
.mobile-second-menu {
  display: none;
  position: fixed;
  height: 100vh;
  width: 100%;
  padding-left: 40px;
  background: #f9f9f9;
  z-index: 9998;
  top: 0;
  overflow-y: scroll;
  left: 0;

  & .change-shop-categories {
    position: absolute;
    top: 107px;
    left: -96px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 238px;
    height: 34px;
    color: #fff;
    font-size: 12px;
    font-weight: 700;
    letter-spacing: .68px;
    background-color: #ee2e24;
    border: none;
    border-radius: 15px 0 0 0;
    transform: rotate(-90deg) translateZ(0);
    outline: none;

    & img {
      width: 12px;
      height: auto;
      margin-left: 8px;
    }
  }

  &__header {
    display: block;
    position: relative;
    float: left;
    width: 100%;
    border-bottom: 1px solid #cecece;
    padding: 12px 16px;
    text-align: center;
    border-left: 1px solid #cecece;
    .header-m-arrow {
      position: absolute;
      height: 100%;
      width: 50px;
      left: 0;
      top: 0;
      display: none;
      justify-content: center;
      align-items: center;
      transform: rotate(180deg);
      background: url("../img/second-menu/arrow-right.svg") no-repeat center center;
      background-size: auto 12px;
    }
    span {
      font-size: 16px;
    }
    a {
      float: right;
      display: inline-block;
    }
  }
  &__wrap {
    position: relative;
    width: 100%;
    float: left;
    overflow: hidden;
    border-left: 1px solid #cecece;
    //display: flex;
  }

  .mobile-menu-lvl-1 {
    margin: 0;
    display: flex;
    align-items: center;
    flex-direction: column;
    list-style: none;
    position: relative;
    width: 100%;
    padding: 0;
    //flex-shrink: 0;

    li {
      width: 100%;
      border-bottom: 1px solid #cecece;
      position: relative;
      &:before {
        content: "";
        position: absolute;
        top: 50%;
        right: 16px;
        width: 7px;
        height: 12px;
        margin-top: -6px;
        background: url("../img/second-menu/arrow-right.svg") no-repeat;
        background-size: auto 12px;
      }
      a {
        padding: 12px 16px;
        box-sizing: border-box;
        display: inline-block;
        font-size: 16px;
        width: 100%;
        color: rgba(0, 0, 0, .87);
        img {
          padding-right: 16px;
        }
      }
    }
  }
  .mobile-menu-lvl-2 {
    display: none;
    z-index: 9998;
    background: #fff;
    min-height: 100%;
    overflow: hidden;
    position: relative;
    width: 100%;
    margin: 0;
    //display: flex;
    transition: 500ms ease;
    align-items: center;
    flex-direction: column;
    overflow-y: auto;
    padding: 0;
    top: 0;
    //transform: translateX(100%);
    //flex-shrink: 0;
    li {
      width: 100%;
      border-bottom: 1px solid #cecece;
      position: relative;
      &:before {
        content: "";
        position: absolute;
        top: 50%;
        right: 16px;
        width: 7px;
        height: 12px;
        margin-top: -6px;
        background: url("../img/second-menu/arrow-right.svg") no-repeat;
        background-size: auto 12px;
      }
      a {
        padding: 12px 16px;
        box-sizing: border-box;
        display: inline-block;
        font-size: 16px;
        width: 100%;
        color: rgba(0, 0, 0, .87);
        img {
          padding-right: 16px;
        }
      }
    }
  }
  .mobile-menu-lvl-3 {
    display: none;
    z-index: 9999;
    background: #fff;
    min-height: 100%;
    overflow: hidden;
    position: relative;
    width: 100%;
    margin: 0;
    //display: flex;
    transition: 500ms ease;
    align-items: center;
    flex-direction: column;
    overflow-y: auto;
    padding: 0;
    top: 0;
    //transform: translateX(100%);
    //flex-shrink: 0;
    li {
      width: 100%;
      border-bottom: 1px solid #cecece;
      position: relative;
      &:before {
        content: "";
        position: absolute;
        top: 50%;
        right: 16px;
        width: 7px;
        height: 12px;
        margin-top: -6px;
        background: url("../img/second-menu/arrow-right.svg") no-repeat;
        background-size: auto 12px;
      }
      a {
        padding: 12px 16px;
        box-sizing: border-box;
        display: inline-block;
        font-size: 16px;
        width: 100%;
        color: rgba(0, 0, 0, .87);
        img {
          padding-right: 16px;
        }
      }
    }
  }
}