.news {
  width: 100%;
  float: left;
  position: relative;
  padding: 40px 0;
  box-sizing: border-box;
  .news-slider-index-panel {
    padding-left: 10px;
    box-sizing: border-box;
    margin-bottom: 8px;
    > h3{
      display: block;
      position: relative;
      float: left;
      width: calc(100% - (144px + 10px));
      font-size: 16px;
      &:after{
        width: calc(100% - 146px);
        height: 1px;
        top: -6px;
      }
    }
    > .buttons-wrap {
      width: 144px;

      top: -5px;
      margin-left: 10px;
      float: left;
      position: relative;
    }
    .hot-tag {
      width: 100%;
      float: left;
      display: inline-block;
      a {
        color: #060000;
        font-size: 16px;
        font-weight: 400;
        line-height: 22px;
        margin-right: 15px;
      }
    }
  }
}

.news__wrap {
  width: 100%;
  float: left;
  position: relative;
  .home-content__wrap_subscribe {
    width: 48%;
    margin-top: 11px;
    .subscribe__wrap {
      h3 {
        padding-bottom: 5px;
      }
      form {
        margin-top: 5px;
      }
    }
    .social-wrap {
      .social-wrap__item {
        margin-top: 5px;
      }
      h4 {
        padding: 11px 0;
      }
    }
  }
}

.news__wrap_item-sm, .news__wrap_item-lg {
  width: 23%;
  float: left;
  position: relative;
  height: 225px;
  box-sizing: border-box;
  margin: 11px;
  .thumb {
    width: 100%;
    height: 174px;
    overflow: hidden;
    float: left;
    position: relative;
    img {
      size: 100%;
      object-fit: cover;
    }
    .content-row {
      position: absolute;
      width: 100%;
      bottom: 0;
      left: 0;
      padding: 10px;
      box-sizing: border-box;
      a, span {
        display: inline-block;
        color: #fff;
        font-size: 12px;
        font-weight: 400;
        float: left;
        width: auto;
        &:last-of-type {
          float: right;
          text-align: right;
        }
      }
      a {
        float: right;
        text-align: right;
      }
      .view-icon {
        background-image: url("../img/home-content/view.png");
        size: 19px 13px;
        display: block;
        background-repeat: no-repeat;
        background-size: contain;
        float: left;
        margin-right: 5px;
      }
    }
  }
  .content-item {
    width: 100%;
    float: left;
    position: relative;
    float: left;
    color: #060000;
    line-height: 22px;
    padding: 5px;
    box-sizing: border-box;
    &::after {
      content: "";
      width: 80%;
      height: 2px;
      background-color: #fff;
      position: absolute;
      left: 10%;
      bottom: -6px;
    }
    p {
      width: 75%;

      margin: 0;
      text-align: left;
      display: inline-block;
      float: left;
      a {
        font-size: 14px;
        font-weight: 700;
        color: #000;
        display: block;
        width: 100%;
        display: -webkit-box;
        line-height: 1.2;
        height: calc(14px * 1.2 * 2);
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }
    span {
      width: 25%;
      font-size: 12px;
      font-weight: 400;
      display: inline-block;
      float: right;
      bottom: -23px;
      text-align: right;
    }
  }

}

.news__wrap_item-lg {
  width: 48%;
  .thumb {
    height: 225px;
    .content-row {
      h2 {
        width: 100%;
        font-size: 20px;
        font-weight: 700;
        margin: 0;
        color: #fff;
        text-align: left !important;
        display: block;
        float: left;
        display: -webkit-box;
        line-height: 1.4;
        height: calc(20px * 1.4 * 1);
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
      }
      span {
        float: left;
        margin-right: 5px;
        &:last-of-type {
          float: left;
        }
      }
    }
  }
}

.news__wrap_buttons {
  width: 100%;
  float: left;
  position: relative;
  text-align: center;
  margin-top: 30px;
  .businessScroll > .rotate-arrow {
    background-image: url("../img/home-content/red-arrow.png");
    width: 5px;
    height: 9px;
    background-repeat: no-repeat;
    background-size: contain;
    display: inline-block;
    position: absolute;
    top: 15px;
    margin-left: -22px;
    margin-right: 0;
    transform: rotate(180deg);
  }
  a, .archive-news {
    color: #090000;
    font-size: 12px;
    font-weight: 700;
    text-decoration: underline;
    text-transform: uppercase;
    margin: 0 20px;
    cursor: pointer;
    .rotate-arrow {
      background-image: url("../img/home-content/red-arrow.png");
      width: 5px;
      height: 9px;
      background-repeat: no-repeat;
      background-size: contain;
      display: inline-block;
      position: absolute;
      top: 15px;
      margin-left: 22px;
      margin-right: 0;
      transform: rotate(0deg);
    }
    .datepicker-inline {
      margin-top: 23px;
      left: 55%;
    }
  }
  .show-more {
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    color: #fff;
    text-align: center;
    padding: 10px 25px;
    box-sizing: border-box;
    background-color: #ee2e24;
    border-radius: 5px;
    display: inline-block;
    text-decoration: none;
  }
}
/*.rotate-arrow {
  background-image: url("../img/home-content/red-arrow.png");
  width: 5px;
  height: 9px;
  background-repeat: no-repeat;
  background-size: contain;
  display: inline-block;
  position: absolute;
  top: 15px;
  margin-left: -22px;
  margin-right: 0;
  transform: rotate(180deg);
}*/
.news__wrap_item-sm-hot {
  width: 23%;
  float: left;
  position: relative;
  height: 225px;
  box-sizing: border-box;
  margin: 11px;
  .thumb {
    height: 218px;
    overflow: hidden;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  .hover-wrap {
    display: inline-block;
    position: absolute;
    left: 0;
    height: 218px;
    width: 100%;
    top: 0;
    padding: 20px;
    box-sizing: border-box;
    border: 4px solid #fff;
    background-color: rgba(68, 68, 68, 0.45);
    h2 {
      width: 100%;
      margin: 0;
      //a{
      color: #fbfafa;
      font-size: 16px;
      font-weight: 700;
      text-align: left;
      position: absolute;
      left: 20px;
      width: 90%;
      // padding-right: 20px;
      // box-sizing: border-box;
      display: -webkit-box;
      bottom: 30px;
      line-height: 1.4;
      height: calc(16px * 1.4 * 4);
      -webkit-line-clamp: 4;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis;
      //}
    }
    .category {
      width: 100%;
      float: left;
      position: relative;
      color: #fbfafa;
      font-size: 13px;
      font-weight: 700;
      line-height: 18px;
      display: inline-block;
      .category-star {
        size: 29px;
        display: inline-block;
        position: relative;
        background-repeat: no-repeat;
        background-size: contain;
        background-image: url("../img/icons/star.png");
        margin-right: 5px;
        top: 7px;
      }
    }
  }
}
