.parser{
  display: block;
  position: relative;
  float: left;
  width: 100%;
  background-color: #edeef0;
  &__title{
    display: block;
    position: relative;
    float: left;
    width: 100%;
    margin-top: 41px;
    margin-bottom: 29px;
    color: #000000;
    font-size: 22px;
    font-weight: 700;
  }
  &__top-counter{
    display: block;
    position: relative;
    float: left;
    width: 260px;
    height: 51px;
    margin-right: 13px;
    background-color: #ffffff;
    @include breakpoint(max-width 1024px){
      width: calc(100% - 13px);
      margin-bottom: 10px;
    }
    > a{
      display: block;
      position: relative;
      float: left;
      width: 100%;
      text-align: center;
      color: #4c5b69;
      font-size: 15px;
      font-weight: 700;
      line-height: 47px;
      > .counter{
        display: inline-block;
        position: relative;
        width: 29px;
        margin-bottom: -2px;
        margin-left: 5px;
        margin-right: 5px;
        padding: 0 5px;
        @include box-sizing(border-box);
        border-radius: 4px;
        background-color: #ee2e24;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        color: #fff;
        font-size: 11px;
        font-weight: 100;
        text-transform: uppercase;
        text-align: center;
        line-height: 15px;
      }
    }
  }
  &__top-link{
    display: block;
    position: relative;
    float: left;
    width: calc(100% - (260px + 13px));
    height: 51px;
    background-color: #ffffff;
    @include breakpoint(max-width 1024px){
      width: calc(100% - 13px);
      margin-bottom: 10px;
    }
    > a{
      display: block;
      position: relative;
      float: left;
      margin-top: 15px;
      margin-left: 25px;
      padding-left: 26px;
      @include box-sizing(border-box);
      color: #010408;
      font-size: 15px;
      font-weight: 700;
      &:before{
        display: block;
        position: absolute;
        content: '';
        width: 16px;
        height: 12px;
        top: 5px;
        left: 0;
        background-image: url('../img/icons/mail-icon.png');
        background-repeat: no-repeat;
        -webkit-background-size: cover;
        background-size: cover;
      }
    }
  }
  &__top-nav{
    @include display-flex(flex);
    @include flex-wrap(wrap);
    @include flex-direction(row);
    @include justify-content(center);
    position: relative;
    float: left;
    width: 100%;
    margin-top: 26px;
    margin-bottom: 18px;
    padding: 0;
    list-style: none;
    li{
      position: relative;
      margin: 0 11px;
      a{
        display: block;
        position: relative;
        float: left;
        width: 100%;
        color: #040000;
        font-size: 12px;
        font-weight: 700;
        text-transform: uppercase;
      }
    }
    li:after{
      display: block;
      position: absolute;
      content: '';
      width: 1px;
      height: 14px;
      top: 2px;
      right: -12px;
      background-color: #040000;
    }
    li:last-of-type:after{
      background-color: transparent;
    }
  }
  &__wrapper{
    display: block;
    position: relative;
    float: left;
    width: 100%;
    /*column-count: 2;
    column-gap: 0;*/
    .grid-sizer{
      width: 50%;
    }
    .grid-item {
      width: 45%;
      float: left;
    }
    @include breakpoint(max-width 1024px){
      /*column-count: 1;*/
    }
  }
  &__column{
    @include display-flex(flex);
    @include flex-direction(column);
    position: relative;
    float: left;
  }
  &__element{
    display: block;
    position: relative;
    float: left;
    width: 406px;
    break-inside: avoid;
    margin-bottom: 24px;
    margin-left: 18px;
    padding: 17px 20px;
    @include box-sizing(border-box);
    border-radius: 0 0 3px 3px;
    background-color: #ffffff;
    @include breakpoint(max-width 1200px){
      width: 306px;
    }
    @include breakpoint(max-width 1024px){
      width: calc(100% - 18px);
      margin-left: 0;
    }
    &--author{
      display: block;
      position: relative;
      float: left;
      width: 100%;
      margin-bottom: 11px;
      padding-bottom: 16px;
      @include box-sizing(border-box);
      border-bottom: 1px solid #edeef0;
      .avatar{
        display: block;
        position: relative;
        float: left;
        width: 35px;
        height: 35px;
        margin-right: 8px;
        img{
          size: 100%;
          border-radius: 50%;
          object-fit: cover;
        }
      }
      .name{
        display: block;
        position: relative;
        float: left;
        color: #120000;
        font-size: 15px;
        font-weight: 400;
        line-height: 36px;
      }
      .date{
        display: block;
        position: relative;
        float: right;
        color: rgba(3,0,0,0.7);
        font-size: 13px;
        font-weight: 400;
        line-height: 36px;
      }
    }
    &--title{
      display: block;
      position: relative;
      float: left;
      width: 100%;
      margin-top: 0;
      margin-bottom: 25px;
      color: #000000;
      font-size: 15px;
      font-weight: 400;
    }
    &--descr{
      display: block;
      display: -webkit-box;
      position: relative;
      float: left;
      width: 100%;
      height: calc(15px * 1.4 * 3);
      margin-top: 0;
      margin-bottom: 0;
      color: #000000;
      font-size: 15px;
      font-weight: 400;
      line-height: 1.4;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
      overflow: hidden;
      -o-text-overflow: ellipsis;
      text-overflow: ellipsis;
      @include transition(0.4s);
    }
    &--text-show{
      display: block;
      position: relative;
      float: left;
      width: 100%;
      height: auto;
      margin-top: 0;
      margin-bottom: 0;
      color: #000000;
      font-size: 15px;
      font-weight: 400;
      line-height: 1.4;
      overflow: inherit;
      @include transition(0.4s);
    }
    &--more{
      display: block;
      position: relative;
      float: left;
      margin-top: 15px;
      color: #fc716a;
      font-size: 14px;
      font-weight: 400;
      text-decoration: underline;
      &:hover{
        color: #fc716a;
        text-decoration: none;
      }
    }
    &--tools{
      display: block;
      position: relative;
      float: left;
      width: 100%;
      margin-top: 12px;
      padding-top: 13px;
      @include box-sizing(border-box);
      border-top: 1px solid #edeef0;
      > .like {
        display: inline-block;
        position: relative;
        float: left;
        margin-left: 0;
        .like-set-icon {
          float: left;
          position: relative;
          width: 12px;
          height: 12px;
          top: 3px;
          background-image: url('../img/icons/new-like-icon.png');
          background-repeat: no-repeat;
          background-position: 0 0;
          background-size: contain;
        }
        .like-counter {
          font-size: 13px;
          float: left;
          position: relative;
          color: #000;
          font-weight: 400;
          top: 0;
          margin-left: 10px;
        }
      }
      > .like.active {
        .like-set-icon {
          background-image: url('../img/icons/new-like-filled-icon.png');
        }
      }
      > .views {
        display: inline-block;
        position: relative;
        float: right;
        width: auto;
        padding-left: 26px;
        margin-right: 0;
        color: #000;
        font-size: 13px;
        background-image: url('../img/icons/eye-new-icon.png');
        background-repeat: no-repeat;
        background-size: 16px 16px;
        background-position: 0 1px;
        &:before{
          display: none;
        }
      }
      > .comments {
        display: inline-block;
        position: relative;
        float: right;
        font-size: 13px;
        color: #000;
        margin-right: 20px;
        padding-left: 24px;
        background-image: url('../img/icons/new-chat-icon.png');
        background-position: 0 2px;
        background-repeat: no-repeat;
        background-size: 16px 16px;
      }
    }
    &--comments-block{
      display: none;
      position: relative;
      float: left;
      width: 100%;
      max-height: 500px;
      overflow-y: scroll;
      margin-top: 20px;
      @include transition(0.4s);
      > .avatar{
        display: block;
        position: relative;
        float: left;
        width: 35px;
        height: 35px;
        margin-right: 8px;
        img{
          size: 100%;
          border-radius: 50%;
          object-fit: cover;
        }
      }
      > .name{
        display: block;
        position: relative;
        float: left;
        width: calc(100% - (35px + 8px));
        color: #120000;
        font-size: 15px;
        font-weight: 400;
        line-height: 36px;
      }
      > p{
        display: block;
        position: relative;
        float: left;
        width: 100%;
        margin-top: 5px;
        margin-bottom: 5px;
        color: #000000;
        font-size: 15px;
        font-weight: 400;
        line-height: 1.4;
      }
    }
    >.social-wrap__item{
      display: block;
      position: absolute;
      width: 35px;
      height: 35px;
      text-align: center;
      line-height: 22px;
      margin-bottom: 0;
      margin-top: 0;
      top: 52px;
      left: -18px;
      img{
        width: 19px;
        height: 19px;
        object-fit: contain;
        position: relative;
        max-width: 20px;
        margin-top: 8px;
        top: 0;
        -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
        transform: translateY(0);
      }
    }
    &--photo{
      display: block;
      position: relative;
      float: left;
      width: 100%;
      height: 205px;
      margin-top: 13px;
      overflow: hidden;
      img{
        size: 100%;
        object-fit: cover;
      }
    }
  }
  &__element:nth-of-type(even){

  }
  &__element:nth-of-type(odd){

  }
  &__more{
    display: block;
    position: relative;
    float: left;
    width: 100%;
    > .show-more{
      width: 200px;
      margin-top: 20px;
      margin-bottom: 20px;
      margin-left: calc(50% - (200px/2));
      &:hover{
        color: #fff;
      }
    }
  }
  &__single-wrapper{
    display: block;
    position: relative;
    float: left;
    width: 100%;
    > .parser__element{
      width: 100%;
      margin-left: 0;
      > .social-wrap__item{
        top: auto;
        bottom: 74px;
      }
      > .parser__element--descr{
        height: auto;
        -webkit-line-clamp: initial;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
        margin-bottom: 20px;
      }
      > .parser__element--tools{
        > .views, .comments{
          float: left;
          margin-left: 20px;
          margin-right: 0;
        }
      }
    }
  }
  .business__wrapper{
    > .business__content{
      > .parser__title {
        margin-top: 10px;
      }
    }
  }
}