.photo{
  display: block;
  position: relative;
  float: left;
  width: 100%;
  // background-color: #f4f4f4;
  &__box{
    display: block;
    position: relative;
    float: left;
    width: 100%;
  }
  &__trigger{
    display: none;
    position: relative;
    float: left;
    width: 100%;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 15px;
    color: #0d0101;
    font-size: 20px;
    font-weight: 700;
  }
  &__left{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    position: relative;
    float: left;
    width: 403px;
    margin-top: 50px;
    &--item{
      display: block;
      position: relative;
      float: left;
      width: 100%;
      height: 204px;
      overflow: hidden;
      margin-bottom: 12px;
      img{
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
      &:last-of-type{
        margin-bottom: 33px;
      }
    }
  }
  &__center{
    display: block;
    position: relative;
    float: left;
    width: calc(100% - (403px + 180px));
    padding: 0 9px 0 13px;
    @include border-box;
    margin-top: 50px;
    h3{
      display: block;
      position: relative;
      float: left;
      width: calc(100% - 180px);
      height: 27px;
      margin-top: 0;
      margin-bottom: 15px;
      color: #0d0101;
      font-size: 20px;
      font-weight: 700;
    }
    p{
      display: block;
      position: relative;
      float: left;
      width: calc(100% - 180px);
      height: 96px;
      overflow: hidden;
      text-overflow: ellipsis;
      margin-top: 0;
      margin-bottom: 0;
      padding-right: 16px;
      @include border-box;
      color: #0d0101;
      font-size: 15px;
      font-weight: 400;
      line-height: 24px;
      @include breakpoint(max-width 1024px){
        width: calc(100% - 134px);
      }
    }
    &--img{
      display: block;
      position: relative;
      float: left;
      width: 180px;
      height: 134px;
      margin-right: 0;
      margin-top: -41px;
      overflow: hidden;
      @include breakpoint(max-width 1024px){
        width: 134px;
      }
      img{
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
    &--imgs{
      display: block;
      position: relative;
      float: left;
      width: 100%;
      margin-top: 5px;
      .photo__center--img{
        margin-right: 10px;
        margin-bottom: 9px;
        margin-top: 0;
      }
      .photo__left--item{
        width: 355px;
        height: 277px;
        float: right;
        @include breakpoint(max-width 1024px){
          width: 219px;
        }
      }
    }
  }
  &__right{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    position: relative;
    float: left;
    width: 180px;
    margin-top: 50px;
    &--item{
      display: block;
      position: relative;
      float: left;
      width: 100%;
      height: 134px;
      overflow: hidden;
      margin-bottom: 9px;
      img{
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
      &:last-of-type{
        margin-bottom: 33px;
      }
    }
  }
}
