.promotions-sidebar {
  display: block;
  position: relative;
  float: left;
  width: 250px;
  margin-right: 10px;
  @include breakpoint(max-width 992px) {
    width: 100%;
  }
  .main-title {
    margin-left: 0;
    width: 100%;
    text-align: center;
    margin-top: 0;
  }
  .recommended {
    width: 100%;
    margin-bottom: 15px;
    display: flex;
    flex-wrap: wrap;
    position: relative;
    background: #fff;
    @include breakpoint(max-width 992px){
      width: 49%;
    }
    .img {
      width: 100%;
      height: 115px;
      img {
        object-fit: cover;
        width: 100%;
        height: 100%;
      }
    }
    .title {
      padding: 10px 15px;
      font-weight: 700;
      font-size: 15px;
      margin: 0;
      color: #000;
    }
    .desc {
      display: flex;
      flex-wrap: nowrap;
      justify-content: space-between;
      margin-bottom: 20px;
      width: 100%;
      position: relative;
      padding: 0 15px;
      a {
        color: #060000;
        font-size: 15px;
        font-weight: 600;
      }
      .review {
        font-size: 15px;
        color: #060000;
        font-weight: 600;
      }
    }
  }
  .stock {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    position: relative;
    background: #fff;
    margin-bottom: 20px;
    &:last-child{
      margin-bottom: 0;
    }
    @include breakpoint(max-width 992px){
      width: 48%;
      float: left;
      margin: 2% 1%;
    }
    .title {
      text-align: center;
      font-size: 15px;
      font-weight: 700;
      padding: 0 20px;
      width: 100%;
      color: #000;
    }
    .img {
      width: 100%;
      img {
        object-fit: cover;
        width: 100%;
        height: 180px;
      }
    }
    .desc {
      text-align: center;
      margin: 10px 0;
      font-weight: 600;
      font-size: 15px;
      width: 100%;
      padding: 0 20px;
      span {
        display: block;
      }
    }
  }
}
.absolute{
  position: absolute!important;
}
