.promotions-sidebar {
  display: block;
  position: relative;
  float: right;
  width: 250px;
  @include breakpoint(max-width 992px) {
    width: 100%;
    margin-right: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    position: relative !important;
    margin-bottom: 20px;
  }
  .main-title {
    margin-left: 0;
    width: 100%;
    text-align: center;
    margin-top: 0;
  }
  .recommended {
    width: 100%;
    margin-bottom: 15px;
    display: flex;
    flex-wrap: wrap;
    position: relative;
    background: #fff;
    @include breakpoint(max-width 992px){
      width: 49%;
    }
    @include breakpoint(max-width 660px){
      width: 100%;
    }
    .img {
      width: 100%;
      height: 115px;
      img {
        object-fit: cover;
        width: 100%;
        height: 100%;
      }
    }
    .title {
      padding: 10px 15px;
      font-weight: 700;
      font-size: 15px;
      margin: 0;
      color: #000;
    }
    .desc {
      display: flex;
      flex-wrap: nowrap;
      justify-content: space-between;
      margin-bottom: 20px;
      width: 100%;
      position: relative;
      padding: 0 15px;
      a {
        color: #060000;
        font-size: 15px;
        font-weight: 600;
      }
      div{
        position: relative;
        .review {
          font-size: 15px;
          color: #060000;
          font-weight: 600;
          &:before{
            display: block;
            position: absolute;
            content: "";
            top: 5px;
            left: -19px;
            width: 15px;
            height: 12px;
            background-image: url(../img/info-icons/icon-3.png);
            background-repeat: no-repeat;
            background-size: contain;
          }
        }
      }
    }
  }
  .stock {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    position: relative;
    background: #fff;
    margin-bottom: 20px;
    &:last-child{
      margin-bottom: 0;
      @include breakpoint(max-width 992px){
        margin-bottom: 20px;
        margin-top: 0;
      }
    }
    @include breakpoint(max-width 992px){
      width: 48%;
      float: left;
      margin: 2% 1%;
    }
    @include breakpoint(max-width 660px){
      width: 100%;
    }
    .title {
      text-align: center;
      font-size: 15px;
      font-weight: 700;
      padding: 0 20px;
      width: 100%;
      color: #000;
      @include breakpoint(max-width 992px){
        padding: 20px;
      }
    }
    .img {
      width: 100%;
      img {
        object-fit: cover;
        width: 100%;
        height: 180px;
      }
    }
    .desc {
      text-align: center;
      margin: 10px 0;
      font-weight: 600;
      font-size: 15px;
      width: 100%;
      padding: 0 20px;
      span {
        display: block;
      }
    }
  }
  .company-sidebar{
    @include breakpoint(max-width 992px){
      width: 49%;
    }
    @include breakpoint(max-width 660px){
      width: 100%;
    }
  }

}
.absolute{
  position: absolute!important;
  right: 10px;
}
.fixed{
  margin-left: 900px;
}
