.register{
  display: block;
  position: relative;
  float: left;
  width: 100%;
  height: 270px;
  margin: 200px 0;
  .register-form-container{
    height: 100%;
    .panel-default{
      border-color: transparent;
    }
    .panel{
      padding-top: 20px;
      height: 100%;
      border: 1px solid transparent;
      border-radius: 0;
      background-color: #ecedef;
    }
  }
}