#aside{
  width: 255px;
  float: right;

  .more-news{
    h3{
      color: #fffcf4;
      font-size: 16px;
      font-weight: 700;
      background-color: #ee2e24;
      padding: 7px 16px;
      margin-top: 0;
      margin-bottom: 0;
    }
    ul{
      padding-left: 0;
      margin-top: 10px;

      li{
        list-style: none;
        height: 72px;
        padding-left: 17px;
        position: relative;

        &:after{
          width: 0;
          background: #ee2e24 none repeat scroll 0 0;
          bottom: 0;
          content: "";
          left: 0;
          position: absolute;
          right: 0;
          transition: all 0.5s ease 0s;
          height: 100%;
        }
        &:hover{
          &:after{
            width: 5px;
          }
          a{
            color: #ee2e24;
          }
        }

        span{
          font-size: 14px;
          color: #030000;
          background-image: url(../img/info-icons/icon-4.png);
          background-repeat: no-repeat;
          padding-left: 24px;
          background-position: 0px 3px;
        }
        a{
          font-size: 12px;
          color: #040300;
          font-weight: 700;
          display: block;
          transition: color 300ms ease 0s;
          line-height: 20px;
          margin-top: 6px;
        }
      }
    }
  }
  .articles{
    margin-left: 5px;
    margin-top: 152px;

    .article{
      position: relative;
      min-height: 254px;

      img{
        position: absolute;
        z-index: -1;
      }
      .time{
        text-transform: uppercase;
        font-size: 8px;
        color: #fff;
        padding-right: 15px;
        padding-left: 15px;
        position: absolute;
        margin-top: 140px;
      }
      a{
        color: #fff;
        font-size: 16px;
        padding-left: 15px;
        padding-right: 15px;
        position: absolute;
        margin-top: 158px;
      }
      .po-teme{
        position: absolute;
        background-color: #ff0200;
        font-size: 14px;
        color: #fff;
        margin-top: 18px;
        padding-right: 14px;
        padding-left: 7px;
        left: -7px;
        padding-bottom: 4px;

        &:before{
          border: 3px solid transparent;
          border-top: 3px solid #da763c;
          border-right: 4px solid #da763c;
          display: block;
          content: "";
          width: 0px;
          height: 0px;
          position: absolute;
          top: 23px;
          left: 0px;
        }
      }
    }
  }
}