.rubrick-slider {
  width: 100%;
  float: left;
  position: relative;
}

.rubrick-slider__wrap {
  width: 100%;
  float: left;
  position: relative;
  height: 585px;
  margin: 40px 0;
  .owl-controls {
    position: absolute;
    top: 7px;
    width: 32%;
    .owl-nav {
      display: inline-block;
      width: 100%;
      float: left;
      .owl-next {
        display: inline-block;
        background-repeat: no-repeat;
        background-size: contain;
        width: 18px;
        height: 30px;
        float: right;
        background-image: url("../img/icons/black-arrow.png");
      }
    }
  }
}

.rubrick-slider__item {
  width: 100%;
  float: left;
  height: 585px;
}

.rubrick-slider__title {
  width: 100%;
  margin: 0 0 40px;
  float: left;
  position: relative;
  padding-left: 45px;
  box-sizing: border-box;
  h2 {
    width: 30%;
    float: left;
    color: #060000;
    text-align: left;
    font-size: 30px;
    font-weight: 700;
    margin: 0;
    line-height: 1.4;
  }
  p {
    width: 53%;
    float: left;
    position: relative;
    color: #040000;
    text-align: left;
    font-size: 16px;
    font-weight: 400;
    border-left: 2px solid rgba(0, 0, 0, 0.15);
    padding-left: 20px;
    margin: 0;
    box-sizing: border-box;
    display: -webkit-box;
    height: calc(16px * 1.2 * 2);
    line-height: 1.2;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .go-rubrick {
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    color: #fff;
    text-align: center;
    padding: 10px 25px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    background-color: #ee2e24;
    border-radius: 5px;
    display: inline-block;
    text-decoration: none;
    float: right;
    top: 6px;
    position: relative;
  }
}

.rubrick-slider__item_wrap {
  width: 100%;
  float: left;
  position: relative;
}

.item__big {
  width: 50%;
  float: left;
  position: relative;
  height: 500px;
  margin-right: 11px;
  img {
    @include filter(grayscale(100%));
    size: 100%;
    object-fit: cover;
  }
  .item__big_content {
    position: absolute;
    left: 0;
    bottom: 0;
    padding: 20px;
    box-sizing: border-box;
    h4 {
      width: 100%;
      display: inline-block;
      position: relative;
      margin: 0 0 40px;
      a {
        font-size: 25px;
        font-weight: 400;
        color: #fff;
        display: block;
        display: -webkit-box;
        height: calc(25px * 1.2 * 2);
        line-height: 1.2;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
        &:hover {
          color: #ee2e24;
          -webkit-transition-duration: .5s;
          transition-duration: .5s;
        }
      }
    }
  }
}

.item__small {
  width: 22%;
  height: 240px;
  float: left;
  position: relative;
  margin: 0 11px 22px 11px;
  img {
    @include filter(grayscale(100%));
    size: 100%;
    object-fit: cover;
  }
  .item__small_content {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    h4 {
      width: 100%;
      display: inline-block;
      position: relative;
      margin: 20px 0 0;
      a {
        font-size: 18px;
        font-weight: 400;
        color: #fff;
        display: block;
        display: -webkit-box;
        height: calc(18px * 1.2 * 2);
        line-height: 1.2;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
        &:hover {
          color: #ee2e24;
          -webkit-transition-duration: .5s;
          transition-duration: .5s;
        }
      }
    }
  }
}

.hour-ago {
  float: left;
  font-size: 8px;
  font-weight: 400;
  text-transform: uppercase;
  display: inline-block;
  color: #fff;
  line-height: 22px;
}

.item__content_panel {
  display: inline-block;
  float: right;
  position: relative;
  text-align: right;
  a, span {
    display: inline-block;
    position: relative;
    font-size: 12px;
    font-weight: 400;
    color: #fff;
    text-align: left;
    width: initial !important;
    margin-left: 8px;
    .comments-icon {
      size: 16px !important;
      float: left;
      display: inline-block;
      position: relative;
      background-image: url("../img/icons/comments-icon1.png");
      background-repeat: no-repeat;
      background-size: contain;
      margin-right: 5px;
      top: 2px;
    }
  }
}

.view-icon {
  background-image: url("../img/home-content/view.png");
  size: 19px 13px;
  display: block;
  background-repeat: no-repeat;
  background-size: contain;
  float: left;
  margin-right: 5px;
}

.toggle_mnu__rubrick {
  display: block;
  width: 40px;
  height: 40px;
  position: absolute;
  z-index: 3;
  border: none;
  left: 7px;
  top: 41px;
  outline: none;
  cursor: pointer;
  background-color: transparent;
}

.toggle_mnu__rubrick span {
  display: block;
}

.sandwich {
  width: 34px;
  height: 34px;
  position: absolute;
  top: 10px;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  z-index: 200;
}

.sw-topper {
  position: relative;
  top: 0;
  width: 34px;
  height: 3px;
  background-color: #ee2e24;
  border: none;
  border-radius: 4px 4px 4px 4px;
  transition: transform 0.5s, top 0.2s;
  display: block;
}
.sw-bottom {
  position: relative;
  width: 34px;
  height: 3px;
  top: 6.6px;
  background-color: #ee2e24;
  border: none;
  border-radius: 4px 4px 4px 4px;
  transition: transform 0.5s, top 0.2s;
  transition-delay: 0.2s, 0;
}
.sw-footer {
  position: relative;
  width: 34px;
  height: 3px;
  top: 13.5px;
  background-color: #ee2e24;
  border: none;
  border-radius: 4px 4px 4px 4px;
  transition: all 0.5s;
  transition-delay: 0.1s;
}
.sandwich.active .sw-topper {
  top: 9px;
  transform: rotate(-45deg);
}
.sandwich.active .sw-bottom {
  top: 6px;
  transform: rotate(45deg);
}
.sandwich.active .sw-footer {
  opacity: 0;
  top: 0;
  transform: rotate(180deg);
}
#dotscustom {
  display: none !important;
  position: absolute;
  width: 188px;
  left: 10px;
  top: 81px;
  background-color: #f6f6f6;
  border: 7px solid #fff;
  box-sizing: border-box;
  z-index: 25;
  padding-left: 36px;
  div {
    font-weight: 700;
    font-size: 15px;
    text-align: left;
    margin: 3px 0;
    float: left;
    width: 100%;
    cursor: pointer;
  }
}
