.search-content {
  display: block;
  position: relative;
  float: left;
  width: 100%;
  background-color: #edeef0;
  min-height: calc(100vh - 648px);
  @include breakpoint(max-width 992px){
    min-height: inherit;
  }
  &__wrapper {
    display: block;
    position: relative;
    float: left;
    width: 100%;
    padding: 0 30px;
    background-color: #fff;
    border-radius: 0 0 3px 3px;
    margin-bottom: 122px;
  }
  &__breadcrumbs {
    @include display-flex(flex);
    @include flex-wrap(wrap);
    @include flex-direction(row);
    @include justify-content(flex-start);
    position: relative;
    width: 100%;
    padding: 0;
    list-style: none;
    @include box-sizing(border-box);
    margin-top: 19px;
    margin-bottom: 32px;
    @include breakpoint(max-width 660px){
      @include flex-direction(column);
    }
    li {
      position: relative;
      margin-right: 18px;
      @include breakpoint(max-width 660px){
        width: 100%;
        margin-right: 0;
        margin-top: 5px;
        margin-bottom: 5px;
      }
      a {
        display: block;
        position: relative;
        float: left;
        width: 100%;
        color: #040000;
        font-size: 10px;
        font-weight: 600;
        text-transform: uppercase;
        @include breakpoint(max-width 660px){
          font-size: 14px;
        }
        &:after {
          display: block;
          position: absolute;
          content: '';
          width: 1px;
          height: 11px;
          top: 2px;
          right: -9px;
          background-color: #040000;
          @include breakpoint(max-width 660px){
            display: none;
          }
        }
      }
    }
    li:last-of-type {
      a:after {
        display: none;
      }
    }
  }
  &__items {
    display: block;
    position: relative;
    float: left;
    width: 100%;
    .no-result{
      font-size: 30px;
      margin-bottom: 15px;
      font-weight: 700;
    }
  }
  &__box{
    display: block;
    position: relative;
    float: left;
    width: 100%;
    &:after{
      display: block;
      position: absolute;
      content: '';
      left: 193px;
      bottom: 0;
      width: 856px;
      height: 1px;
      background-color: #ecf2fa;
      @include breakpoint(max-width 660px){
        width: 100%;
        left: 0;
      }
    }
  }
  &__item {
    display: block;
    position: relative;
    float: left;
    width: 100%;
    margin: 25px 0;
    @include box-sizing(border-box);
   /* &:after{
      display: block;
      position: absolute;
      content: '';
      left: 193px;
      bottom: -26px;
      width: 856px;
      height: 1px;
      background-color: #ecf2fa;
      @include breakpoint(max-width 660px){
        width: 100%;
        left: 0;
      }
    }*/
    &--title {
      display: block;
      display: -webkit-box;
      position: relative;
      float: left;
      width: 162px;
      height: calc(17px * 3 * 1.2);
      color: #0c242e;
      font-size: 15px;
      font-weight: 700;
      margin-top: 0;
      padding-right: 17px;
      @include box-sizing(border-box);
      line-height: 1.2;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis;
      @include breakpoint(max-width 660px){
        width: 100%;
        text-align: center;
      }
    }
    &--img {
      display: block;
      position: relative;
      float: left;
      size: 110px 106px;
      overflow: hidden;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
    &--content{
      display: block;
      position: relative;
      float: left;
      width: calc(100% - (162px + 110px));
      padding-left: 22px;
      @include box-sizing(border-box);
      @include breakpoint(max-width 660px){
        width: calc(100% - 110px);
      }
      > h3{
        display: block;
        display: -webkit-box;
        position: relative;
        float: left;
        width: 448px;
        height: calc(15px * 1.2 * 2);
        margin-top: 0;
        margin-bottom: 0;
        margin-right: 18px;
        color: #0c242e;
        font-size: 15px;
        font-weight: 700;
        line-height: 1.2;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
        @include breakpoint(max-width 992px){
          width: 100%;
        }
      }
      > span{
        display: block;
        position: relative;
        float: left;
        color: #060000;
        font-size: 12px;
        font-weight: 400;
      }
      > p{
        display: block;
        display: -webkit-box;
        position: relative;
        float: left;
        width: 100%;
        height: calc(13px * 2 * 1.2);
        margin-bottom: 0;
        color: #0c242e;
        font-size: 13px;
        font-weight: 400;
        line-height: 1.2;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }
  }
  &__box:last-of-type{
    margin-bottom: 100px;
    &:after{
      display: none;
    }
  }
}