.sidebar-discussed {
  display: block;
  position: relative;
  float: left;
  width: 100%;
  background: #fff;
  border-top: 4px solid #ee2e24;
  border-bottom: 1px solid #c6c6c6;
  border-right: 1px solid #c6c6c6;
  border-left: 1px solid #c6c6c6;
  padding: 15px;
  box-sizing: border-box;
  &__big-item {
    display: block;
    position: relative;
    float: left;
    width: 100%;
    border-bottom: 1px solid #d8d8d8;
    h2{
      color: #000000;
      text-align: center;
      font-size: 14px;
      font-weight: 700;
      margin-bottom: 15px;
      margin-top: 0;
      line-height: 21.29px;
    }

    &__img {
      max-height: 250px;
      width: 100%;
      height: 100%;
      img{
        object-fit: cover;
        width:100%;
        height: 100%;
      }
    }
    &__text{
      display: flex;
      width: 100%;
      margin: 10px 0;
      p{
        color: #000;
        font-size: 13px;
       margin: 0;
      }
    }
    &__comments{
      display: flex;
      justify-content: flex-end;
      width: 100%;
    }
  }

}