.sidebar-discussed {
  display: block;
  position: relative;
  float: left;
  width: 100%;
  background: #fff;
  border-top: 4px solid #ee2e24;
  border-bottom: 1px solid #c6c6c6;
  border-right: 1px solid #c6c6c6;
  border-left: 1px solid #c6c6c6;
  padding: 15px;
  box-sizing: border-box;
  &__big-item {
    display: block;
    position: relative;
    float: left;
    width: 100%;
    box-sizing: border-box;
    border-bottom: 1px solid #d8d8d8;
    margin-bottom: 15px;
    h2 {
      color: #000000;
      text-align: center;
      font-size: 14px;
      font-weight: 700;
      margin-bottom: 15px;
      margin-top: 0;
      line-height: 21.29px;
    }

    &__img {
      max-height: 250px;
      width: 100%;
      height: 100%;
      img {
        object-fit: cover;
        width: 100%;
        height: 100%;
      }
    }
    &__text {
      display: flex;
      width: 100%;
      margin: 10px 0;
      p {
        color: #000;
        font-size: 13px;
        margin: 0;
      }
    }
    &__comments {
      display: flex;
      justify-content: space-between;
      width: 100%;
      align-items: center;
      .tag{
        width: 84%;
      }
      .hashteg-mini{
        border: 1px solid #cfe0ff;
        border-radius: 5px;
        padding: 3px;
        margin: 5px;
        font-size: 10px;
        color: #e52d31;
        text-transform: uppercase;
        transition: .2s ease;
        &:hover{
          border: 1px solid #e52d31;
        }
      }
      a {
        display: inline-block;
        text-align: right;
        color: #000;
        span{
          font-size: 12px;
        }
        img {
          width: 13px;
          height: 13px;
          object-fit: contain;
        }
      }
    }
  }
  &__small-item {
    display: block;
    position: relative;
    width: 100%;
    border-bottom: 1px solid #d8d8d8;
    box-sizing: border-box;
    float: left;
    margin-bottom: 15px;
    &:last-child{
      border-bottom: none;
      margin-bottom: 0;
    }
    &__img {
      width: 100px;
      margin-bottom: 15px;
      height: 70px;
      display: block;
      float: left;
      margin-right: 10px;
      img {
        object-fit: cover;
        height: 100%;
        width: 100%;
      }
    }
    &__text {
      width: calc(100% - 110px);
      float: left;
      &__comments {
        display: flex;
        justify-content: flex-start;
        width: 100%;
        a {
          display: inline-block;
          text-align: right;
          color: #000;
          margin-bottom: 15px;
          span{
            font-size: 12px;

          }
          img {
            width: 13px;
            height: 13px;
            object-fit: contain;
          }
        }
      }
      p {
        color: #000;
        font-size: 13px;
        height: calc(12px * 1.3 * 3);
        line-height: 1.3;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
        margin-bottom: 5px;
      }
    }
  }

}