#main-single-news{
  float: left;
  width: 100%;
  margin-top: 25px;
  margin-bottom: 25px;
  .container{
    position: relative;
  }
  #article{
    width: 875px;
    float: left;
    .thumbnail-wrapper{
      margin-bottom: 16px;
      width: 100%;
      height: 500px;
      float: left;
      img{
        size: 100%;
        object-fit: cover;
      }
    }
    .breadcrumbs{
      font-size: 16px;
      color: #060000;
      font-weight: 700;
      padding-left: 23px;
      margin-bottom: 20px;
      a{
        font-size: 14px;
        color: #060000;
        /*font-weight: 700;
        letter-spacing: 0.5px;*/
      }
      span{
        margin-left: 7px;
        margin-right: 7px;
      }
    }
    .content-single-wrapper{
      background-color: #ffffff;
      padding-left: 27px;
      padding-right: 27px;
      padding-top: 36px;
      padding-bottom: 60px;
      position: relative;
      h1{
        color: #060000;
        font-weight: 800;
        font-size: 28px;
        margin-top: 0;
        line-height: 38px;
      }
      .content-info{
        font-size: 15px;
        color: #030000;
        .author{
          background-image: url('../img/info-icons/icon-1.png');
          background-repeat: no-repeat;
          padding-left: 33px;
          background-position: 7px 3px;
          margin-right: 32px;
        }
        .comments{
          background-image: url('../img/info-icons/icon-2.png');
          background-repeat: no-repeat;
          padding-left: 24px;
          background-position: 0px 4px;
          margin-right: 20px;
        }
        .views{
          width: auto;
          background-image: url('../img/info-icons/icon-3.png');
          background-repeat: no-repeat;
          padding-left: 26px;
          background-position: 0px 8px;
          margin-right: 29px;
          color: #000;
          font-size: 15px;
          line-height: 28px;
          &:before{
            display: none;
          }
        }
        .data-time{
          background-image: url('../img/info-icons/icon-4.png');
          background-repeat: no-repeat;
          padding-left: 32px;
          background-position: 0px 3px;
        }
        .like{
          // float: left;
          display: inline-block;
          position: relative;
          margin-left: 20px;
        }
        .like-icon, .like-set-icon{
          background-image: url('../img/info-icons/chat.png');
          background-repeat: no-repeat;
          // padding-left: 32px;
          background-position: 0 0px;
          background-size: contain;
          float: left;
          width: 16px;
          height: 16px;
          position: relative;
          top: 6px;
        }
        .like-set-icon{
          background-image: url('../img/info-icons/like-set-icon.png');
        }
        .like-counter{
          font-size: 14px;
          position: relative;
          float: left;
          position: relative;
          color: #000;
          font-weight: 400;
          top: 4px;
          margin-left: 10px;
        }
      }
      .content-single{
        font-size: 16px;
        color: #060000;
        font-weight: 500;
        margin-top: 35px;
        line-height: 28px;
        p{
          margin-bottom: 20px;
        }
        img.align-center{
          display: block;
          margin-left: auto;
          margin-right: auto;
        }
      }
      .tags{
        border-top: 1px solid #f0f0f0;
        padding-left: 30px;
        padding-top: 14px;
        margin-top: 14px;
        @include box-sizing(border-box);
        h3{
          font-size: 18px;
          color: #000;
          font-weight: 600;
          float: left;
          margin-right: 25px;
          margin-top: 0;
        }
        a{
          font-size: 10px;
          text-transform: uppercase;
          color: #01060b;
          border: 1px solid #c3e1ff;
          padding:8px 12px 7px;
          border-radius: 3px;
          display: inline-block;
          margin-bottom: 5px;
          &:hover{
            font-weight: 700;
            cursor: pointer;
          }
        }
      }
    }
  }
  .scroll.move{
    margin-top: 24px;
  }
}

a.load-more{
  text-transform: uppercase;
  color: #fff;
  display: flex;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 32px;
  font-size: 12px;
  font-weight: 700;
  background-color: #ee2e24;
  width: 200px;
  padding-top: 13px;
  padding-bottom: 13px;
  border-radius: 5px;
}
