.single-shop {
  position: relative;
  float: left;
  width: 100%;
  &__detail {
    width: 100%;
    position: relative;
    float: left;
    margin-bottom: 10px;
  }
  &__gallery {
    position: relative;
    width: 470px;
    height: 450px;
    float: left;
    margin-right: 10px;
    padding: 10px;
    background-color: #fbfbfb;
  }
  &__gallery-wrap {
    width: calc(100% - 70px);
    height: 100%;
    float: left;
    display: block;
  }
  &__gallery-item {
    display: flex;
    align-items: center;
    height: 100%;
    position: relative;
    img {
      display: block;
      max-width: 100%;
      max-height: 100%;
    }
  }
  &__gallery-nav {
    float: left;
    width: 60px;
    margin-right: 10px;
  }
  &__gallery-nav-it {
    margin: 5px 0;
    height: 60px;
    border: 1px solid #e9e9e9 !important;
    img {
      height: 100%;
      width: 100%;
      object-fit: contain;

    }
  }
  &__info {
    padding: 15px;
    width: calc(100% - 480px);
    display: block;
    float: left;
    background-color: #fbfbfb;
  }
  &__info-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    border-bottom: 1px solid #e7e7e7;
    padding-bottom: 15px;
    margin-bottom: 15px;
  }
  &__product-title {
    color: #000000;
    font-size: 15px;
    font-weight: 700;
    width: 420px;
    margin: 0;
  }
  &__deliver {
    display: inline-block;
    position: relative;
    width: 50px;
    color: #000;
    font-size: 11px;
    font-weight: 400;
    &:after {
      content: '';
      position: absolute;
      height: 30px;
      width: 30px;
      left: -42px;
      top: 0;
      background: url("../img/shop/icons/deliver.png") no-repeat center center;
      background-size: contain;
      transition: 100ms ease;

    }
    &:hover {
      color: #000;
      &:after {
        background: url("../img/shop/icons/deliver-hover.png") no-repeat center center;
        background-size: contain;
        transition: 100ms ease;
      }
    }
  }
  &__review-stars {
    width: 100%;
  }
  &__info-content {
    position: relative;
    width: 100%;
    border-bottom: 1px solid #e7e7e7;
    padding-bottom: 15px;
    margin-bottom: 15px;
  }
  &__info-item {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    > div {
      margin-right: 40px;
      color: #000000;
      font-size: 13px;
      width: 76px;
      font-weight: 400;
      &:last-child {
        width: auto;
        margin-right: 0;
      }
    }
  }
  &__payment-method {
    display: inline-block;
    position: relative;
    width: 50px;
    color: #000;
    font-size: 11px;
    font-weight: 400;
    &:after {
      content: '';
      position: absolute;
      height: 30px;
      width: 30px;
      left: -42px;
      top: 0;
      background: url("../img/shop/icons/payment-method-icon.png") no-repeat center center;
      background-size: contain;
      transition: 100ms ease;

    }
    &:hover {
      color: #000;
      &:after {
        background: url("../img/shop/icons/payment-method-hover.png") no-repeat center center;
        background-size: contain;
        transition: 100ms ease;
      }
    }
  }
  &__info-footer {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
  }
  &__desires {
    position: relative;
    color: #444;
    font-size: 15px;
    font-weight: 400;
    transition: 200ms ease;
    &:hover {
      color: #ee2e24;
      transition: 200ms ease;
    }
    &:after {
      content: '';
      position: absolute;
      top: 0;
      left: -33px;
      width: 24px;
      height: 22px;
      background: url("../img/shop/icons/shop-heart-icon.png") no-repeat center center;
      background-size: contain;
    }
  }
  &__store-info {
    position: relative;
    width: 300px;
    float: left;
    margin-right: 10px;
    &--title {
      float: left;
      width: 100%;
      margin: 0;
      font-size: 15px;
      font-weight: 700;
      color: #000000;
    }
    .call-center {
      position: relative;
      display: block;
      color: #000000;
      font-size: 13px;
      font-weight: 400;
      width: 120px;
      float: left;
      padding-left: 46px;
      margin-bottom: 10px;
      margin-top: 10px;
      &:after {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        width: 31px;
        height: 31px;
        background: url("../img/shop/icons/operator.png") no-repeat center center;
        background-size: contain;
      }
    }
  }
  &__seller {
    position: relative;
    width: 100%;
    float: left;
    padding: 25px 17px;
    margin-bottom: 10px;
    background-color: #fbfbfb;
    .all-actions__company {
      width: 100%;
      margin: 20px 0;
    }
    .company-rating {
      float: left;
      width: 100%;
      margin-bottom: 20px;
      p {
        margin: 0;
        font-size: 13px;
        font-weight: 600;
        span {
          color: #ee2e24;
          font-size: 16px;
          font-weight: 700;
        }
      }
      a {
        color: #075882;
        font-weight: 600;
        text-decoration: underline;
      }
    }
    .company-page-btn {
      color: #ee2e24;
      font-size: 13px;
      font-weight: 700;
      letter-spacing: -0.1px;
      width: 100%;
      display: inline-block;
      text-align: center;
      padding: 10px;
      border-radius: 5px;
      border: 1px solid #ff0000;
      &:hover {
        border-color: lighten(#ff0000, 15%);
        color: lighten(#ee2e24, 15%);
      }
    }
  }
  &__buy-history {
    position: relative;
    width: 100%;
    float: left;
    padding: 25px 17px;
    margin-bottom: 10px;
    background-color: #fbfbfb;
  }
  &__buy-history-wrap {
    display: flex;
    float: left;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    div {
      width: 50%;
      margin-bottom: 10px;
      span {
        display: block;
        font-weight: 600;
      }
      .title {
        color: #000000;
        font-size: 13px;
        margin-top: 15px;
        line-height: 25px;
      }
      .value {
        color: #a3a3a3;
        position: relative;
        padding-left: 25px;
        &:after {
          content: '';
          position: absolute;
          top: 0;
          left: 0;
          width: 20px;
          height: 20px;
          background: url("../img/shop/icons/flag-russ.png") no-repeat center center;
          background-size: contain;
        }
      }
      .amount {
        color: #a6a4a4;
        font-size: 12px;
      }
      .date {
        color: #000000;
        font-size: 13px;
      }
    }
  }
  &__main-content {
    position: relative;
    float: left;
    width: calc(100% - 310px);
  }
  &__tabs {
    position: relative;
    float: left;
    width: 100%;
    background: #fff;
  }
  &__tab-links {
    display: flex;
    list-style: none;
    float: left;
    width: 100%;
    padding: 12px 10px;
    margin: 0;
    border-bottom: 1px solid #edeef0;
    li {
      cursor: pointer;
      padding: 10px 15px;
      margin-right: 10px;
      color: #000000;
      font-size: 12px;
      font-weight: 600;
      background-color: #eeeeee;
    }
    .feedback {
      border-radius: 5px;
      background-color: #ee2e24;
      color: #fff;
      transition: 200ms ease;
      &:hover {
        background-color: darken(#ee2e24, 10%);
        transition: 200ms ease;
      }
    }
    .active {
      background-color: #413e3d;
      color: #fff;
    }
    .feedback.active {
      background-color: #ee2e24;
    }
  }
  &__tab-content {
    position: relative;
    width: 100%;
    float: left;
    padding: 15px 10px;
    div {
      animation: fadeEffect 200ms;
    }
  }
  &__tab-title {
    margin: 0;
    color: #000000;
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 15px;
  }
  &__characteristics-wrap {
    display: flex;
    width: 100%;
    align-items: center;
    margin-bottom: 15px;
  }
  &__characteristics {
    width: 50%;
    ul {
      list-style: none;
      padding: 0;
      margin: 0;
      li {
        color: #000000;
        font-size: 12px;
        font-weight: 300;
        line-height: 20px;
      }
    }
  }
  &__description-img {
    position: relative;
    width: 380px;
    margin-right: 25px;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  &__description {
    position: relative;
    width: calc(100% - 405px);
    color: #000000;
    font-size: 12px;
    font-weight: 300;
    line-height: 20px;
  }
  &__view-more {
    position: relative;
    float: left;
    width: 100%;
  }
  &__view-title {
    width: 100%;
    float: left;
    margin: 20px 0;
    color: #000000;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: -0.1px;
  }
  .shop__top-sales-elements {
    margin-bottom: 20px;
    .category-price {
      right: 70px;
    }
    .category-price__new {
      font-size: 13px;
    }
  }
  .social-wrapper-shop {
    display: flex;
    flex-direction: column;
    position: absolute;
    right: -46px;
    top: 60px;
    @include breakpoint(max-width 800px) {
      display: none;
    }

    a {
      display: block;
      width: 35px;
      height: 35px;
      text-align: center;
      line-height: 22px;
      margin-bottom: 7px;
      margin-top: 0;
      /*border-radius: 5px;*/
      /* transition: all .4s ease-in-out;*/
      span {
        display: none;
        color: #fff;
        position: absolute;
        top: 9px;
        right: 0;
        border-left: 1px solid #fff;
        height: 20px;
        line-height: 16px;
        padding-left: 6px;
        padding-right: 6px;
        transition: all .4s ease-in-out;
      }
      /* &:hover {
         width: 60px;
         margin-left: -25px;
         transition: all .4s ease-in-out;
         img {
           left: -16px;
           transition: all .4s ease-in-out;
         }
         span {
           display: block;
           transition: all .4s ease-in-out;
         }
       }*/
      img {
        max-width: 20px;
        margin-top: 8px;
        top: 0;
        -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
        transform: translateY(0);
        /* transition: all .4s ease-in-out;*/
      }
    }

    .vk {
      background-color: #527498;
    }
    .fb {
      background-color: #365aa4;
    }
    .ok {
      background-color: #ff8304;
    }
    .insta {
      background-color: #517fa4;
    }
    .google {
      background-color: #d6492f;
    }
    .twitter {
      background-color: #1ab2e8;
    }
    .pinterest {
      background-color: #ed1b22;
    }
    .telegram {
      background: #2ca5e0;
    }
    .live-journal {
      background: #16539a;
    }
    .in {
      background: #007ab9;
    }
  }
  #main-single-news .social-wrapper.fixed {
    position: fixed;
    top: 0;
    left: -149px;
    margin-left: inherit;
  }
  #main-single-news .social-wrapper.absolute {
    position: absolute;
    /*bottom: 50px;*/
    top: 0;
    /*left: -293px;*/
  }
  #main-single-news .social-wrapper.move {
    margin-top: 116px;
  }
  .vk {
    background-color: #527498;
  }
  .fb {
    background-color: #365aa4;
  }
  .ok {
    background-color: #ff8304;
  }
  .insta {
    background-color: #517fa4;
  }
  .google {
    background-color: #d6492f;
  }
  .twitter {
    background-color: #1ab2e8;
  }
  .pinterest {
    background-color: #ed1b22;
  }
  .telegram {
    background: #2ca5e0;
  }
  .live-journal {
    background: #16539a;
  }
  .in {
    background: #007ab9;
  }
  .old-price {
    color: #000000;
    font-size: 13px;
    font-weight: 400;
    text-decoration: line-through;
  }
  .price-sail {
    color: #ee2e24;
    font-size: 17px;
    font-weight: 700;
  }
  .total-cost {
    color: #000000;
    font-size: 14px;
    font-weight: 700;
  }
  .discount {
    display: inline-block;
    color: #075882;
    font-size: 13px;
    font-weight: 600;
    position: relative;
    margin-left: 50px;
    padding-left: 10px;
    &:after {
      content: '-52%';
      position: absolute;
      left: -40px;
      top: -10px;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      color: #fff;
      width: 38px;
      height: 38px;
      background-color: #ee2e24;
    }
    &:hover {
      text-decoration: underline;
    }
  }
  .numbers {
    width: 73px;
    height: 25px;
    position: relative;
    .number {
      font-size: 10px;
      font-weight: 700;
      border-radius: 13px 13px 13px 12px;
      text-align: center;
      border: 2px solid #d6d6d6;
      text-transform: uppercase;
      letter-spacing: 2.88px;
      width: 100%;
      height: 100%;
    }
    .plus {
      position: absolute;
      right: 10px;
      top: 3px;
      color: #9fa3a7;
      .fa {
        color: #9fa3a7;
        font-weight: 700;
      }
    }
    .minus {
      position: absolute;
      left: 10px;
      top: 3px;
      .fa {
        color: #9fa3a7;
        font-weight: 700;
      }
    }
  }
  .button-buy {
    border-radius: 5px;
    background-color: #ee2e24;
    padding: 12px 19px;
    color: #fff;
    transition: 200ms ease;
    font-size: 13px;
    font-weight: 700;
    letter-spacing: -0.1px;
    &:hover {
      background-color: darken(#ee2e24, 10%);
      transition: 200ms ease;
    }
  }
  .button-basket {
    padding: 12px 19px;
    margin: 0 20px;
    border-radius: 5px;
    background-color: #6c7376;
    color: #fff;
    transition: 200ms ease;
    font-size: 13px;
    font-weight: 700;
    letter-spacing: -0.1px;
    &:hover {
      background-color: darken(#6c7376, 10%);
      transition: 200ms ease;
    }
  }
  .promotion-seller {
    color: #075882;
    font-size: 13px;
    font-weight: 600;
    border-bottom: 1px solid #075882;
    span {
      color: #000000;
      display: block;
      text-decoration: none;
    }
  }
  .shop__top-tools {
    margin-bottom: 0;
  }
  .breadcrumbs {
    li {
      &:after {
        content: '>';
      }
    }
    a {
      text-decoration: none;
      font-size: 14px;
    }
  }
  .rating-stars {
    width: 100%;
    display: flex;
    align-items: center;
    margin-top: 20px;
    a {
      color: #075882;
      font-weight: 600;
      font-size: 13px;
      display: inline-flex;
      align-items: center;
      margin-right: 5px;
      &:hover {
        text-decoration: underline;
      }
      span {
        color: #ee2e24;
        font-size: 16px;
        margin-right: 5px;
        font-weight: 700;
        text-decoration: none;
      }
    }
  }
  .rating-stars ul {
    list-style-type: none;
    padding: 0;
    margin-right: 12px;
    margin-bottom: 0;
    float: left;
    display: block;
    -moz-user-select: none;
    -webkit-user-select: none;
  }
  .rating-stars ul > li.star {
    display: inline-block;
    cursor: pointer;
  }
  .rating-stars ul > li.star > i.fa {
    font-size: 1.2em;
    color: #ccc;
  }
  .rating-stars ul > li.star.hover > i.fa {
    color: #ffc80a;
  }
  .rating-stars ul > li.star.selected > i.fa {
    color: #ffc80a;
  }
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  @keyframes fadeEffect {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
}