.single-shop {
  position: relative;
  float: left;
  width: 100%;
  &__detail {
    width: 100%;
    position: relative;
    float: left;
    margin-bottom: 10px;
  }
  &__gallery {
    width: 470px;
    float: left;
    background-color: #fbfbfb;
    margin-right: 10px;
    padding: 10px;
  }
  &__info {
    padding: 15px;
    width: calc(100% - 480px);
    display: block;
    float: left;
    background-color: #fbfbfb;
  }
  &__info-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    border-bottom: 1px solid #e7e7e7;
    padding-bottom: 15px;
    margin-bottom: 15px;
  }
  &__product-title {
    color: #000000;
    font-size: 15px;
    font-weight: 700;
    width: 420px;
    margin: 0;
  }
  &__deliver {
    display: inline-block;
    position: relative;
    width: 50px;
    color: #000;
    font-size: 11px;
    font-weight: 400;
    &:after {
      content: '';
      position: absolute;
      height: 30px;
      width: 30px;
      left: -42px;
      top: 0;
      background: url("../img/shop/icons/deliver.png") no-repeat center center;
      background-size: contain;
      transition: 100ms ease;

    }
    &:hover {
      color: #000;
      &:after {
        background: url("../img/shop/icons/deliver-hover.png") no-repeat center center;
        background-size: contain;
        transition: 100ms ease;
      }
    }
  }
  &__review-stars {
    width: 100%;
  }
  &__info-content {
    position: relative;
    width: 100%;
    border-bottom: 1px solid #e7e7e7;
    padding-bottom: 15px;
    margin-bottom: 15px;
  }
  &__info-item {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    > div {
      margin-right: 40px;
      color: #000000;
      font-size: 13px;
      width: 76px;
      font-weight: 400;
      &:last-child {
        width: auto;
        margin-right: 0;
      }
    }
  }
  &__payment-method {
    display: inline-block;
    position: relative;
    width: 50px;
    color: #000;
    font-size: 11px;
    font-weight: 400;
    &:after {
      content: '';
      position: absolute;
      height: 30px;
      width: 30px;
      left: -42px;
      top: 0;
      background: url("../img/shop/icons/payment-method-icon.png") no-repeat center center;
      background-size: contain;
      transition: 100ms ease;

    }
    &:hover {
      color: #000;
      &:after {
        background: url("../img/shop/icons/payment-method-hover.png") no-repeat center center;
        background-size: contain;
        transition: 100ms ease;
      }
    }
  }
  .old-price {
    color: #000000;
    font-size: 13px;
    font-weight: 400;
    text-decoration: line-through;
  }
  .price-sail {
    color: #ee2e24;
    font-size: 17px;
    font-weight: 700;
  }
  .total-cost {
    color: #000000;
    font-size: 14px;
    font-weight: 700;
  }
  .discount {
    display: inline-block;
    color: #075882;
    font-size: 13px;
    font-weight: 600;
    position: relative;
    margin-left: 50px;
    padding-left: 10px;
    &:after {
      content: '-52%';
      position: absolute;
      left: -40px;
      top: -10px;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      color: #fff;
      width: 38px;
      height: 38px;
      background-color: #ee2e24;
    }
    &:hover {
      text-decoration: underline;
    }
  }
  .numbers {
    width: 73px;
    height: 25px;
    position: relative;
    .number {
      font-size: 10px;
      font-weight: 700;
      border-radius: 13px 13px 13px 12px;
      text-align: center;
      border: 2px solid #d6d6d6;
      text-transform: uppercase;
      letter-spacing: 2.88px;
      width: 100%;
      height: 100%;
    }
    .plus {
      position: absolute;
      right: 10px;
      top: 3px;
      color: #9fa3a7;
      .fa {
        color: #9fa3a7;
        font-weight: 700;
      }
    }
    .minus {
      position: absolute;
      left: 10px;
      top: 3px;
      .fa {
        color: #9fa3a7;
        font-weight: 700;
      }
    }
  }
  .button-buy {
    border-radius: 5px;
    background-color: #ee2e24;
    padding: 12px 19px;
    color: #fff;
    transition: 200ms ease;
    font-size: 13px;
    font-weight: 700;
    letter-spacing: -0.1px;
    &:hover {
      background-color: darken(#ee2e24, 10%);
      transition: 200ms ease;
    }
  }
  .button-basket {
    padding: 12px 19px;
    margin: 0 20px;
    border-radius: 5px;
    background-color: #6c7376;
    color: #fff;
    transition: 200ms ease;
    font-size: 13px;
    font-weight: 700;
    letter-spacing: -0.1px;
    &:hover {
      background-color: darken(#6c7376, 10%);
      transition: 200ms ease;
    }
  }
  .promotion-seller {
    color: #075882;
    font-size: 13px;
    font-weight: 600;
    border-bottom: 1px solid #075882;
    span {
      color: #000000;
      display: block;
      text-decoration: none;
    }
  }
  .shop__top-tools {
    margin-bottom: 0;
  }
  .breadcrumbs {
    li {
      &:after {
        content: '>';
      }
    }
    a {
      text-decoration: none;
      font-size: 14px;
    }
  }
  .rating-stars {
    width: 100%;
    display: flex;
    align-items: center;
    margin-top: 20px;
    a {
      color: #075882;
      font-weight: 600;
      font-size: 13px;
      display: inline-flex;
      align-items: center;
      margin-right: 5px;
      &:hover {
        text-decoration: underline;
      }
      span {
        color: #ee2e24;
        font-size: 16px;
        margin-right: 5px;
        font-weight: 700;
        text-decoration: none;
      }
    }
  }
  .rating-stars ul {
    list-style-type: none;
    padding: 0;
    margin-right: 12px;
    margin-bottom: 0;
    float: left;
    display: block;
    -moz-user-select: none;
    -webkit-user-select: none;
  }
  .rating-stars ul > li.star {
    display: inline-block;
    cursor: pointer;
  }
  .rating-stars ul > li.star > i.fa {
    font-size: 1.2em;
    color: #ccc;
  }
  .rating-stars ul > li.star.hover > i.fa {
    color: #ffc80a;
  }
  .rating-stars ul > li.star.selected > i.fa {
    color: #ffc80a;
  }
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}