.single-afisha{
  float: left;
  width: 100%;

  .container{
    background-color: #fff;
    padding-top: 22px;
    padding-left: 55px;
    padding-right: 55px;
    margin-bottom: 40px;
    padding-bottom: 35px;

    .what-to-see{
      margin-bottom: 45px;
      padding-left: 0;
      padding-right: 0;

      h3{
        width: 79%;
      }
      a.view-more{
        display: inline-block;
        font-size: 14px;
        text-transform: uppercase;
        font-weight: 700;
        color: #090000;
        text-decoration: underline;
        padding-right: 43px;
        position: relative;

        &:after{
          display: block;
          position: absolute;
          width: 7px;
          height: 13px;
          content: "";
          background-image: url(../img/home-content/red-arrow.png);
          background-repeat: no-repeat;
          right: 15px;
          top: 4px;
        }

        &:hover{
          text-decoration: none;
        }
      }
      .afisha-events__wrap{
        display: block;
        float: left;
        width: 100%;
        margin-bottom: 50px;

        .item{
          margin: 15px;
          float: left;
        }
      }
    }

  }
  .age{
    font-size: 20px;
    color: #000;
    font-weight: 700;
    text-transform: uppercase;
  }
  h1{
    font-size: 25px;
    font-weight: 700;
  }
  .afisha-content-wrapper{
    display: flex;
    justify-content: space-between;
    margin-top: 29px;

      .thumbnail-afisha{
        width: 29%;

        img{
          width: 100%;
          height: auto;
        }
      }
      .afisha-content{
        font-size: 16px;
        color: #060000;
        width: 68%;
        font-weight: 700;

        .date-time{
          font-size: 19px;
          color: #030000;
          background-image: url(../img/info-icons/icon-4.png);
          background-repeat: no-repeat;
          padding-left: 40px;
          font-weight: 400;
          background-size: 21px;
          background-position: 0 6px;
          line-height: 35px;
        }
        p{
          margin-bottom: 35px;
        }
      }
  }
  .maps{
    margin-top: 45px;

    .tabs__caption{
      padding-left: 0;
      border-bottom: 1px solid #e3e3e3;

      li{
        list-style: none;
        display: inline-block;
        border-top: 1px solid #e3e3e3;
        border-left: 1px solid #e3e3e3;
        border-right: 1px solid #e3e3e3;
        padding: 8px;
        border-radius: 7px 7px 0px 0px;

        &:hover{
          cursor: pointer;
        }

        .date{
          display: flex;
          width: 28%;

          .day{
            font-weight: 500;
            font-size: 48px;
            line-height: 49px;
            margin-right: 8px;
          }
          .weekday{
            flex-direction: column;
            display: flex;

            span{
              &:first-child{
                color: #ccc;
              }
            }
          }
        }
      }
      li.active{
        border-color: #ff0000;
      }
    }
    .maps-info{
      display: flex;

      .date{
        display: flex;
        width: 28%;

        .day{
          font-weight: 500;
          font-size: 48px;
          line-height: 49px;
          margin-right: 8px;
        }
        .weekday{
          flex-direction: column;
          display: flex;

          span{
            &:first-child{
              color: #ccc;
            }
          }
        }
      }
      .adress{
        font-size: 14px;
        color: #060000;
        font-weight: 700;
        width: 14%;
      }
    }

    .map{
      h3{
        font-size: 20px;
      }

    }
  }
}
.ymaps{
  height: 250px;
  width: 100%;
}
.tabs__content {
  display: none; /* по умолчанию прячем все блоки */
}
.tabs__content.active {
  display: block; /* по умолчанию показываем нужный блок */
}

.main-consultations-sidebar{
  float: left;
  display: inline-block;
  width: 331px;
}
