.social-networks {
  display: flex;
  justify-content: space-between;
  width: 100%;
  background: #f6f9ff;
  &__header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    @include breakpoint(max-width 660px){
      flex-wrap: wrap;
      justify-content: center;
      text-align: center;
    }
    h2 {
      margin-top: 30px;
      margin-bottom: 48px;
      color: #000;
      font-weight: 700;
      font-size: 30px;
      @include breakpoint(max-width 660px){
        margin-bottom: 30px;
        width: 100%;
      }
    }
    a {
      color: #010408;
      font-weight: 700;
      font-size: 15px;
      margin-bottom: 3px;
      display: inline-block;
      .fa-envelope-o {
        margin-right: 5px;
        color: #ee2e24;
      }
    }
  }
  &__content {
    display: flex;
    justify-content: space-between;
    width: 100%;
    position: relative;
    margin-bottom: 40px;
    flex-wrap: wrap;
    @include breakpoint(max-width 992px){
      justify-content: space-around;
    }
    &--item {
      max-width: 279px;
      background: #fff;
      height: 300px;
      box-shadow: 0 1px 4px 0 rgba(0,0,0,0.14);
      @include breakpoint(max-width 1200px){
        margin-top: 50px;
      }
      @include breakpoint(max-width 660px){
        width: 100%;
        max-width: inherit;
        margin-top: 10px;
      }
      .item-photo {
        width: 75px;
        height: 75px;
        border-radius: 50%;
        overflow: hidden;
        margin: 0 auto;
        position: relative;
        top: -26px;
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
      .item-tittle {
        padding: 0 20px;
        width: 100%;
        display: flex;
        h2 {
          font-size: 15px;
          color: #000;
          font-weight: 700;
          margin: 0;
          display: block;
          display: -webkit-box;
          position: relative;
          float: left;
          width: 100%;
          height: calc(15px * 1.2 * 2);
          line-height: 1.2;
          -webkit-line-clamp: 2;
          -webkit-box-orient: vertical;
          overflow: hidden;
          text-overflow: ellipsis;
        }
      }
      .item-description{
        display: flex;
        padding: 0 20px;
        width: 100%;
        margin-top: 15px;
        p{
          font-size: 13px;
          font-weight: 400;
          display: block;
          margin: 0;
          display: -webkit-box;
          position: relative;
          float: left;
          width: 100%;
          height: calc(13px * 1.2 * 2);
          line-height: 1.2;
          -webkit-line-clamp: 2;
          -webkit-box-orient: vertical;
          overflow: hidden;
          text-overflow: ellipsis;
          color: #000;
        }
      }
      .item-img{
        display: flex;
        padding: 0 ;
        width: 100%;
        max-height: 130px;
        height: 100%;
        margin-top: 15px;
        position: relative;
        text-align: center;
        img{
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
        .item-links{
          position: absolute;
          bottom: -24px;
          background: #fff;
          color: #01050c;
          padding: 10px 20px;
          transform: translate(-50%, 0);
          left: 50%;
          font-size: 10px;
          text-decoration: underline;
          span{
            text-decoration: none;
          }
        }
      }
    }
    .more{
      text-align: right;
      display: block;
      width: 100%;
      margin-bottom: 0;
      @include breakpoint(max-width 660px){
        text-align: center;
        margin: 0 20px;
      }
    }
  }
}