@import "_company";
@import "_ads";
@import "_photo";
@import "_home-content";
@import "_afisha";
@import "_index-slider";
@import "_news";
@import "_single-news";
@import "_what-say";
@import "_rubrick-slider";
@import "_bannner-top";
@import "_afisha-menu";
@import "_afisha-top-slider";
