@import "_company";
@import "_ads";
@import "_photo";
@import "_home-content";
@import "_afisha";
@import "_index-slider";
@import "_news";
@import "_single-afisha.scss";
@import "_single-news";
@import "_consultation";
@import "_comments";
@import "_what-say";
@import "_right_sidebar_news.scss";
@import "_rubrick-slider";
@import "_socials";
@import "_bannner-top";
@import "_afisha-menu";
@import "_afisha-top-slider";
@import "_afisha-events";
@import "_breadcrumbs";
@import "_consultants"; 