@import "_company";
@import "_ads";
@import "_photo";
@import "_home-content";
@import "_afisha";
@import "_activation";
@import "_news";
@import "_single-afisha.scss";
@import "_single-news";
@import "_consultation";
@import "_comments";
@import "_what-say";
@import "_rubrick-slider";
@import "_socials";
@import "_banner-top";
@import "_afisha-top-slider";
@import "_breadcrumbs";
@import "_consultants";
@import "_consultations";
@import "_business";
@import "_cabinet";
@import "_cabinet-profile-setting";
@import "_cabinet-afisha";
@import "_dev";
@import "_search-panel";
@import "_search-content";
@import "_register";
@import "_parser";
@import "_commercial";
@import "_stock";
