.search-people-form {
  font-family: 'Open Sans';
  clear: both;
  max-width: 1132px;
  background-image: url('../img/search-people-form/search_people_form_background.jpg');
  margin: 0 auto;
  padding: 26px 30px 40px;
  &__modal {
    display: none;
    position: fixed;
    z-index: 100;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba($color: #000000, $alpha: 0.9);
    .search-people-form__modal-content {
      background-color: #fefefe;
      margin: 15% auto;
      padding: 20px;
      border: 1px solid #888;
      width: 80%;
      max-width: 400px;
      & > div {
        margin-top: 10px;
        display: flex;
        flex-direction: column;
        & > span,
        label {
          padding-bottom: 5px;
        }
      }
      // .search-people-form__modal-name {
      //   input {
      //     width: 300px;
      //   }
      // }
      .search-people-form__modal-okButton {
        display: flex;
        align-items: center;
        button {
          width: 100px;
        }
      }
    }
  }
  &__headerBlock {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    button {
      text-transform: uppercase;
      width: 230px;
      height: 42px;
      border-radius: 4px;
      border: none;
      background-color: #ff0200;
      font-size: 14px;
      font-weight: 700;
      text-transform: uppercase;
      color: #ffffff;
    }
  }
  h3 {
    margin: 0 0 15px;
    font-size: 22px;
    font-weight: 700;
    text-transform: uppercase;
    color: #ee2e24;
  }
  &__header {
    max-width: 575px;
    font-size: 12px;
    line-height: 15px;
    font-weight: 400;
    color: #ffffff;
    margin: 0 0 15px;
  }
  .search-people-form__inputSelects {
    display: flex;
    max-width: 695px;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-grow: 1;
    .inputSelect {
      display: inline-block;
      width: 330px;
      position: relative;
      margin-top: 10px;
      &_place-select {
        font-size: 12px;
        color: #637278;
        line-height: 20px;
      }
      &:after {
        content: '';
        display: block;
        position: absolute;
        top: 50%;
        right: 15px;
        transform: translateY(-50%);
        border-style: solid;
        border-width: 7px 4px 0 4px;
        border-color: red transparent transparent transparent;
        pointer-events: none;
      }
      .up-selects {
        display: flex;
        align-items: center;
        height: 42px;
        background-color: #fff;
        font-size: 14px;
        color: #03121c;
      }
    }
  }
  &__input-button {
    margin-top: 35px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 25px;
    .search-people-form__text-input {
      display: inline-block;
      position: relative;
      max-width: 450px;
      height: 42px;
      width: 100%;
      margin-bottom: 15px;
      margin-right: 15px;
    }
    input {
      display: block;
      width: 100%;
      height: 100%;
      padding: 10px 30px 10px 10px;
      background-color: #fff;
      font-size: 14px;
      border: none;
      border-radius: 4px;
      &::placeholder {
        color: #637278;
        font-size: 12px;
      }
    }
    button {
      text-transform: uppercase;
      width: 230px;
      height: 42px;
      border-radius: 4px;
      border: none;
      background-color: #ff0200;
      font-size: 14px;
      font-weight: 700;
      text-transform: uppercase;
      color: #ffffff;
    }
  }
  &__footer {
    margin: 0;
    max-width: 680px;
    font-size: 12px;
    color: #ffffff;
    span {
      font-weight: 700;
      color: #ee2e24;
    }
  }
  &__form-telegram {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    .search-people-form__form {
      max-width: 695px;
      width: 100%;
    }
    .search-people-form__telegram {
      width: 240px;
      color: #fff;
      margin: 0 70px 20px 15px;
      h4 {
        font-size: 15px;
        margin: 15px 0;
      }
      p {
        font-size: 10px;
      }
    }
  }
}
