.main-title {
  display: block;
  position: relative;
  float: left;
  background-color: #ee2e24;
  padding: 7px 22px 9px;
  @include border-box;
  margin-top: 42px;
  margin-bottom: 33px;
  margin-left: 76px;
  color: #ffffff;
  font-size: 17px;
  font-weight: 700;
  text-transform: uppercase;
  z-index: 2;
  &:after {
    display: block;
    position: absolute;
    content: "";
    bottom: -7px;
    left: 47px;
    width: 0;
    height: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-top: 8px solid #ee2e24;
  }
}

.separator {
  display: block;
  position: absolute;
  content: "";
  top: 63px;
  left: 10px;
  width: 345px;
  height: 2px;
  background-color: #ffffff;
  z-index: 1;
}

.more {
  display: block;
  position: relative;
  float: right;
  margin-top: 30px;
  margin-bottom: 31px;
  margin-right: 37px;
  color: #090000;
  font-size: 15px;
  font-weight: 700;
  text-decoration: underline;
  text-transform: uppercase;
  .fa {
    display: inline-block;
    position: absolute;
    top: 5px;
    right: -35px;
    color: #ff0200;
  }
}

// .content {
//   width: 100%;
//   float: left;
//   position: relative;
//   height: 100px;
//   background-color: #f4f4f4;
//   padding: 8px;
//   @include border-box;
//   @include transition(0.9s);
//   &:hover {
//     color: white;
//     background-color: #292929;
//   }
// }

#overlay {
  z-index: 3;
  position: fixed;
  background-color: #fff;
  opacity: 0.8;
  -moz-opacity: 0.8;
  filter: alpha(opacity=80);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  cursor: pointer;
  display: none;
}

.inputError {
  color: red !important;
  border: 1px solid #FF0000 !important;
  box-shadow: 0 0 4px rgba(255, 0, 0, .47), inset 0 1px 3px rgba(0, 0, 0, .17);
}
