.page-section {
  a {
    width: 100%;
    float: left;
  }
}

.main-title {
  display: block;
  position: relative;
  float: left;
  background-color: #ee2e24;
  padding: 7px 22px 9px;
  @include border-box;
  margin-top: 42px;
  margin-bottom: 33px;
  margin-left: 76px;
  color: #ffffff;
  font-size: 17px;
  font-weight: 700;
  text-transform: uppercase;
  z-index: 2;
  @include breakpoint(max-width 600px) {
    margin-left: 0;
    margin-top: 0;
  }
  &:after {
    display: block;
    position: absolute;
    content: "";
    bottom: -7px;
    left: 47px;
    width: 0;
    height: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-top: 8px solid #ee2e24;
  }
}

.separator {
  display: block;
  position: absolute;
  content: "";
  top: 63px;
  left: 10px;
  width: 345px;
  height: 2px;
  background-color: #ffffff;
  z-index: 1;
  @include breakpoint(max-width 660px) {
    width: 100%;
  }
}

.more {
  display: block;
  position: relative;
  float: right;
  margin-top: 30px;
  margin-bottom: 31px;
  margin-right: 37px;
  color: #090000;
  font-size: 15px;
  font-weight: 700;
  text-decoration: underline;
  text-transform: uppercase;
  /*@include breakpoint(max-width 770px){
    margin-top: ;
  }*/
  .fa {
    display: inline-block;
    position: absolute;
    top: 5px;
    right: -35px;
    color: #ff0200;
  }
}

.more-block {
  display: block;
  position: relative;
  float: left;
  width: 100%;
  > .show-more {

  }
}

.show-more {
  display: inline-block;
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
  color: #fff;
  text-align: center;
  padding: 10px 25px;
  @include box-sizing(border-box);
  background-color: #ee2e24;
  border-radius: 5px;
  text-decoration: none;
  &:hover, &:focus {
    color: #fff;
  }
}

.cabinet__links {
  .show-more {
    display: inline-block;
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    color: #fff;
    text-align: center;
    padding: 10px 25px;
    @include box-sizing(border-box);
    background-color: #ee2e24;
    border-radius: 5px;
    text-decoration: none;
    &:hover {
      color: #fff;
    }
  }
}

.cabinet__links {
  .show-more {
    display: inline-block;
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    color: #fff;
    text-align: center;
    padding: 10px 25px;
    @include box-sizing(border-box);
    background-color: #ee2e24;
    border-radius: 5px;
    text-decoration: none;
  }
}

.section-title {
  width: 50%;
  float: left;
  display: inline-block;
  font-size: 22px;
  font-weight: 700;
  text-align: left;
  margin: 0;
  margin-bottom: 15px;
  @include breakpoint(max-width 600px) {
    width: 100%;
  }
}

.rew-title {
  display: block;
  position: relative;
  float: left;
  width: 176px;
  padding: 5px 16px;
  background-color: #a0a3a8;
  margin-left: calc(50% - (176px / 2));
  @include box-sizing(border-box);
  text-align: center;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  color: white;
  font-size: 13px;
  font-weight: 700;
}

.rew-wrap {
  width: calc(100% - 46px);
  float: left;
  position: relative;
  padding-left: 8px;
  @include box-sizing(border-box);
  .name {
    color: rgba(30, 4, 4, 0.83);
    font-size: 16px;
    font-weight: 700;
    display: inline-block;
    width: 100%;
    text-align: left;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }
}

.rew-descr {
  display: block;
  display: -webkit-box;
  position: relative;
  width: 100%;
  height: calc(14px * 2 * 1.4);
  margin-top: 0;
  margin-bottom: 0;
  float: left;
  text-align: left;
  color: black;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.4;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.recommend {
  display: block;
  position: absolute;
  top: 17px;
  right: -9px;
  width: 154px;
  background-color: #f7a200;
  text-transform: uppercase;
  color: #fbfafa;
  font-size: 12px;
  font-weight: 700;
  line-height: 30px;
  z-index: 2;
  &:after {
    display: block;
    position: absolute;
    content: '';
    width: 0;
    height: 0;
    right: 0;
    top: 30px;
    border-top: 7px solid #da763c;
    border-right: 7px solid transparent;
  }
  &__star {
    display: block;
    position: relative;
    float: left;
    width: 29px;
    height: 29px;
    margin-left: 12px;
    margin-right: 9px;
    background-image: url('../img/icons/star.png');
    background-repeat: no-repeat;
    background-size: contain;
  }
}

.views {
  display: block;
  position: relative;
  float: left;
  width: 182px;
  color: #ffffff;
  font-size: 13px;
  font-weight: 400;
  padding-left: 26px;
  @include box-sizing(border-box);
  &:before {
    display: block;
    position: absolute;
    content: '';
    top: 4px;
    left: 8px;
    width: 15px;
    height: 12px;
    background-image: url('../img/info-icons/eye-white-icon.png');
    background-repeat: no-repeat;
    background-size: contain;
  }
}

#Go_Top {
  position: fixed;
  right: 30px;
  bottom: 60px;
  z-index: 2;
  display: none;
  padding: 9px 10px;
  @include box-sizing(border-box);
  size: 50px;
  border-radius: 50%;
  background-color: #e6e3e3;
  cursor: pointer;
  img {
    width: 30px;
  }
}

#overlay {
  z-index: 9901;
  position: fixed;
  background-color: #fff;
  opacity: 0.8;
  -moz-opacity: 0.8;
  filter: alpha(opacity=80);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  cursor: pointer;
  display: none;
}

#black-overlay {
  position: fixed;
  background-color: #000;
  opacity: 0.8;
  -moz-opacity: 0.8;
  filter: alpha(opacity=80);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  cursor: pointer;
  display: none;
  z-index: 9901;
}

.inputError {
  color: red !important;
  border: 1px solid #FF0000 !important;
  box-shadow: 0 0 4px rgba(255, 0, 0, .47), inset 0 1px 3px rgba(0, 0, 0, .17);
}

.open-soc {
  // position: absolute;
  // right: 0;
  // top: 0;
  float: right;
  position: relative;
  top: 3px;
  cursor: pointer;
  // width: 50px;
  // height: 33px;
  // background-color: rgba(238, 46, 36, 0.85);
  // text-align: center;
  i.fa.fa-random.fa-lg {
    // font-size: 20px;
    font-size: 13px;
    vertical-align: 1px;
    color: #fff;
    position: relative;
    // top: 8px;
    &:hover {
      color: #ee2e24;
    }
  }
}

.hide-social {
  padding: 5px;
  box-sizing: border-box;
  display: none;
  @include flex-wrap(wrap);
  @include flex-direction(row);
  @include justify-content(space-around);
  float: left;
  position: absolute;
  width: 100%;
  /*height: 100px;*/
  background-color: #090000;
  margin-top: -36px;
  left: 0;
  &:after {
    display: block;
    position: absolute;
    width: 0;
    height: 0;
    content: '';
    right: 4px;
    bottom: -10px;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 10px solid #090000;
  }
  > a, span {
    width: 20px;
    height: 20px;
    display: block;
    color: #fff;
    font-size: 14px;
    font-weight: 400;
    float: left;
    position: relative;
    margin-right: 0;
    text-align: center;
    margin-top: 0;
    &:hover {
      i {
        color: #ee2e24;
      }
    }
  }
}

// .hide-social {
//   width: 50px;
//   // height: 33px;
//   background-color: rgba(238, 46, 36, 0.85);
//   position: absolute;
//   top: 0;
//   right: 0;
//   display: none;
//   // display: block;
//   z-index: 99999;
//   > a, span {
//     width: 50px;
//     height: 40px;
//     display: block;
//     float: left;
//     font-size: 14px;
//     font-weight: 400;
//     float: left;
//     position: relative;
//
//     text-align: center;
//     i{
//       font-size: 17px;
//       vertical-align: 1px;
//       color: #fff;
//       position: relative;
//       top: 12px;
//     }
//   }
//   .vk-soc:hover{
//     background-color: #778db0;
//   }
//   .twi-soc:hover{
//     background-color: #00b5f5;
//   }
//   .fb-soc:hover{
//     background-color: #3b5ca2;
//   }
//   .ok-soc:hover{
//     background-color: #f48420;
//   }
//   .more-soc{
//     width: 50px;
//     height: 33px;
//     float: left;
//     box-sizing: border-box;
//     padding: 15px 11px;
//     &:hover{
//       background-color: #000;
//     }
//     span{
//       background-color: #fff;
//       border-radius: 50px;
//       margin: 0 2px;
//       overflow: hidden;
//       display: inline-block;
//       size: 5px;
//       float: left;
//     }
//   }
// }
.pagination {
  position: relative;
  float: left;
  width: 100%;
  padding: 10px;
  @include box-sizing(border-box);
  ul {
    @include display-flex(flex);
    @include flex-wrap(wrap);
    @include flex-direction(row);
    @include justify-content(center);
    width: 100%;
    padding: 0;
    margin: 0;
    list-style: none;
    li {
      float: left;
      a {
        position: relative;
        float: left;
        /*   width: 100%;
           height: 100%;*/
        padding: 10px 15px;
        @include box-sizing(border-box);
        text-align: center;
        color: #0c242e;
        font-size: 15px;
        font-weight: 700;
        &:hover {
          color: #ee2e24;
        }
      }
    }
    li.active {
      a {
        color: #ee2e24;
      }
    }
    li.pagination-prew {
      a {
        display: block;
        position: relative;
        float: left;
        width: 14px;
        height: 25px;
        margin-top: 9px;
        padding: 0;
        background-image: url('../img/icons/arrow-left.png');
        background-repeat: no-repeat;
        -webkit-background-size: contain;
        background-size: contain;
      }
    }
    li.pagination-next {
      a {
        display: block;
        position: relative;
        float: left;
        width: 14px;
        height: 25px;
        margin-top: 9px;
        padding: 0;
        background-image: url('../img/icons/arrow-right.png');
        background-repeat: no-repeat;
        -webkit-background-size: contain;
        background-size: contain;
      }
    }
  }
}

#vk_groups {
  display: block;
  position: relative;
  float: left;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-family: inherit;
  font-weight: 500;
  line-height: inherit;
  color: inherit;
}

.field-login-form-rememberme label {
  padding-left: 100px;
}

.commercial__ads-sidebar {
  padding-right: 0;
}

.what-say__wrap_item .wrapi {
  width: 100% !important;
}

button#saveInfo {
  cursor: pointer;
  height: auto;
  width: auto;
  @include breakpoint(max-width 992px) {
    float: none;
    margin-left: 0;
    margin-right: 0;
    text-align: center;
  }
}

.calc {
  width: 86%;
}

.modal.fade .modal-dialog {
  @include breakpoint(min-width 768px) {
    margin: 0;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    max-width: 820px;
    width: 100%;
  }
}

#modalType {
  position: fixed;
  top: auto;
  left: auto;
  background: rgba(0, 0, 0, .8) !important;

}

.krajee-default.file-preview-frame {
  position: relative;
  display: block;
  margin: 5px;
  border: none;
  box-shadow: 1px 1px 5px 0 #a2958a;
  padding: 6px;
  width: 47%;
  float: left;
  box-sizing: border-box;
  text-align: center;
}

.file-preview-image {
  width: 100% !important;
  object-fit: contain;
}

.file-preview {
  float: left;
  > .close {
    display: none;
  }

}

.btn-primary {
  color: #fff;
  background-color: #ee2e24 !important;
  border-color: #ee2e24 !important;
}

.cabinet__list .advert:before {
  background-image: url(../img/icons/add-icon-hover.png) !important;
}

.form-control:focus {
  box-shadow: none;
  border: 1px solid #b8b6b6;
}

.file-footer-buttons .kv-file-zoom, .kv-file-upload {
  display: none;
}

.file-upload-indicator {
  display: none;
}


.business__sm-item--views {
  text-overflow: initial !important;
  overflow: inherit !important;
}

.lineAddAds {
  display: none;
}

.register .register-form-container .panel .panel-body > form .control-label {
  line-height: inherit;
}

aside#aside {
  @include breakpoint(max-width 660px) {
    position: relative;
    width: 100%;
    left: 0;
  }
}

div#business-stock-sidebar {
  @include breakpoint(max-width 660px) {
    position: relative !important;
    margin-bottom: 15px;
  }
}

.main-consultations-sidebar {
  @include breakpoint(max-width 992px) {
    width: 100% !important;
    h1 {
      margin-top: 0 !important;
      margin-bottom: 0 !important;
    }
  }
}

.main-consultations-sidebar {
  @include breakpoint(max-width 660px) {
    width: 100% !important;
  }
}

#aside-consultations ul li {
  @include breakpoint(max-width 660px) {
    padding-left: 0 !important;
  }

}

.consultants__main {
  @include breakpoint(max-width 660px) {
    width: 100% !important;
    padding-left: 0 !important;
  }
}

.modal-categories .modal-content .modal-body .modal-item {
  @include breakpoint(max-width 660px) {
    width: 49% !important;
  }
}

.register .panel-default > .panel-heading {
  color: #333;
  background-color: transparent;
  border-color: transparent;
  text-align: center;
  h3 {
    font-weight: 600;
  }
}

.cabinet__container .right .content-forma .form-line .memo-error {
  @include breakpoint(max-width 992px) {
    right: 0 !important;
    top: -17px !important;
    &:after {
      display: none;
    }
  }
  @include breakpoint(max-width 660px) {
    top: -3px !important;
  }
}

.cabinet__container .right .content-forma .form-line .memo {
  @include breakpoint(max-width 992px) {
    right: 0 !important;
    &:after {
      display: none;
    }
  }
}

.sw-footer, .sw-bottom, .sw-topper {
  background: #fff !important;
}

.register {
  min-height: calc(100vh - 587px);
  @include breakpoint(max-width 992px) {
    height: auto !important;
    min-height: auto;
  }
}

.subscribe__wrap .errorMsgClass {
  position: absolute;
  top: -20px;
  @include breakpoint(max-width 660px) {
    top: -16px;
    right: 17px;
  }
}

.business__sidebar--add {
  @include breakpoint(max-width 1024px) {
    margin-left: 0 !important;
  }
}

.afisha-events__wrap .item .item-content .time {
  @include breakpoint(max-width 992px) {
    font-size: 14px !important;
  }
}

.afisha-events__wrap .item .item-content .name-item {
  @include breakpoint(max-width 992px) {
    font-size: 16px !important;
    line-height: 1.1 !important;
  }
}

#more-company-box {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
}

.modal-company .rew-wrap .title {
  margin-top: 6px;
  margin-bottom: 30px;
  width: 100%;
  font-size: 24px;
}

.memo {
  @include breakpoint(max-width 992px) {
    display: none !important;
  }
}

.modal-categories .modal-content .modal-body .column-modal {
  @include breakpoint(max-width 992px) {
    width: 50% !important;
  }
}

div#w0-warning-0 {
  @include breakpoint(max-width 992px) {
    display: none !important;
  }
}

select.large-select.filterAdsFields {
  width: 100%;
}

#article {
  .laws .law table {
    width: 100% !important;
  }
}

.select2-container--krajee {
  float: left;
  margin-bottom: 20px;
}

.search-panel__submit {
  height: 33px !important;
  border-radius: 0 !important;
  margin-left: 0 !important;
  width: 20% !important;
}

.select2-container--krajee .select2-selection--multiple {
  border-radius: 0;
  border: 0;
  outline: none;
  min-height: 43px;
}

.select2-container--krajee.select2-container--open .select2-selection, .select2-container--krajee .select2-selection:focus {
  box-shadow: none;
}

.select2-container--krajee .select2-results__option--highlighted[aria-selected] {
  background-color: #ee2e24;
}

.s2-togall-button {
  color: #ee2e24;
}

.select2-container--krajee .select2-results__option[aria-selected=true] {
  color: #fff;
  background-color: rgba(238, 46, 36, .5);
}

.select2-container--krajee .select2-selection--multiple .select2-selection__choice {
  margin: 11px 0 0 6px;
}

.select2-container--krajee .select2-selection--multiple .select2-selection__clear {
  margin: 6px 10px 0 10px;
}

.select2-container--krajee .select2-selection--multiple .select2-search--inline .select2-search__field {
  height: 43px;
}

.modal-callback__textarea {
  overflow-x: hidden;
}

input#error-user-name {
  margin-bottom: 20px !important;
}

.fixed {
  position: fixed !important;
  top: 0;
  margin-left: 890px;
}

.absolute {
  position: absolute !important;
  bottom: 30px;
  right: 0;
}

.home-like {
  color: #000 !important;
  border: none;
  display: inline-block;
  .fa-heart {
    font-size: 11px;
  }
  .like-counter {
    font-size: 11px;
  }
}

span.select2.select2-container.select2-container--krajee.select2-container--below {
  width: 80% !important;
}

span.select2.select2-container.select2-container--krajee.select2-container--focus {
  width: 80% !important;
}

span.select2.select2-container.select2-container--krajee {
  width: 80% !important;
}

.compat-object-fit {
  background-size: cover;
  background-position: center center;

  img {
    opacity: 0;
  }
  > .content {
    z-index: 5;
  }
  &:after {
    content: '';
    background-image: linear-gradient(0deg, rgba(0, 0, 0, .8) 18%, transparent 50%);
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 0;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
  }
}

.object-fit {
  background-size: cover;
  background-position: center center;
  img {
    opacity: 0;
  }
}

