.main-title {
  display: block;
  position: relative;
  float: left;
  background-color: #ee2e24;
  padding: 7px 22px 9px;
  @include border-box;
  margin-top: 42px;
  margin-bottom: 33px;
  margin-left: 76px;
  color: #ffffff;
  font-size: 17px;
  font-weight: 700;
  text-transform: uppercase;
  z-index: 2;
  &:after {
    display: block;
    position: absolute;
    content: "";
    bottom: -7px;
    left: 47px;
    width: 0;
    height: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-top: 8px solid #ee2e24;
  }
}

.separator {
  display: block;
  position: absolute;
  content: "";
  top: 63px;
  left: 10px;
  width: 345px;
  height: 2px;
  background-color: #ffffff;
  z-index: 1;
}

.more {
  display: block;
  position: relative;
  float: right;
  margin-top: 30px;
  margin-bottom: 31px;
  margin-right: 37px;
  color: #090000;
  font-size: 15px;
  font-weight: 700;
  text-decoration: underline;
  text-transform: uppercase;
  .fa {
    display: inline-block;
    position: absolute;
    top: 5px;
    right: -35px;
    color: #ff0200;
  }
}

.more-block{
  display: block;
  position: relative;
  float: left;
  width: 100%;
}
.cabinet__links{
  .show-more {
    display: inline-block;
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    color: #fff;
    text-align: center;
    padding: 10px 25px;
    @include box-sizing(border-box);
    background-color: #ee2e24;
    border-radius: 5px;
    text-decoration: none;
  }
}


.section-title{
  width: 50%;
  float: left;
  display: inline-block;
  font-size: 22px;
  font-weight: 700;
  text-align: left;
  margin: 0;
  @include breakpoint(max-width 600px){
    width: 100%;
  }
}

.rew-title{
  display: block;
  position: relative;
  float: left;
  width: 176px;
  padding: 5px 16px;
  background-color: #ff0200;
  margin-left: calc(50% - (176px/2));
  @include box-sizing(border-box);
  text-align: center;
  white-space: nowrap;
  text-overflow: ellipsis;
  color: white;
  font-size: 13px;
  font-weight: 700;
}

.rew-wrap{
  width: calc(100% - 78px);
  float: left;
  position: relative;
  padding-left: 8px;
  @include box-sizing(border-box);
  .name{
    color: rgba(0, 0, 0, 0.48);
    font-size: 16px;
    font-weight: 400;
    display: inline-block;
    width: 100%;
    text-align: left;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }
}

.rew-descr{
  display: block;
  display: -webkit-box;
  position: relative;
  width: 100%;
  height: calc(14px * 2 * 1.4);
  margin-top: 4px;
  margin-bottom: 0;
  float: left;
  text-align: left;
  color: black;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.4;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.recommend{
  display: block;
  position: absolute;
  top: 17px;
  left: 31px;
  width: 152px;
  text-transform: uppercase;
  color: #fbfafa;
  font-size: 12px;
  font-weight: 700;
  line-height: 30px;
  &__star{
    display: block;
    position: relative;
    float: left;
    width: 29px;
    height: 29px;
    margin-right: 9px;
    background-image: url('../img/icons/star.png');
    background-repeat: no-repeat;
    background-size: contain;
  }
}

.stock__sm-item{
   display: block;
   position: relative;
   float: left;
   width: 216px;
   margin-right: 15px;
   margin-bottom: 23px;
   &--img{
     display: block;
     position: relative;
     float: left;
     width: 100%;
     height: 178px;
     overflow: hidden;
     img{
       width: 100%;
       height: 100%;
       object-fit: cover;
     }
     .views{
       position: absolute;
       top: 13px;
       left: 0;
     }
   }
   &--descr{
     display: block;
     position: relative;
     float: left;
     width: 100%;
     background-color: #673ab7;
     padding: 0 16px;
     @include box-sizing(border-box);
     p{
       display: block;
       display: -webkit-box;
       position: relative;
       float: left;
       width: 100%;
       height: 48px;
       margin-top: 30px;
       margin-bottom: 30px;
       color: #f9f7f7;
       font-size: 12px;
       font-weight: 700;
       line-height: 2;
       -webkit-line-clamp: 2;
       -webkit-box-orient: vertical;
       overflow: hidden;
       text-overflow: ellipsis;
     }
   }
   &--time{
     display: block;
     position: relative;
     float: left;
     width: 100%;
     background-color: #fff;
     padding: 0 16px;
     @include box-sizing(border-box);
     p{
       display: block;
       position: relative;
       float: left;
       width: 100%;
       margin-top: 30px;
       margin-bottom: 30px;
       color: #060000;
       font-size: 12px;
       font-weight: 700;
     }
   }
 }

.stock__big-item{
  display: block;
  position: relative;
  float: left;
  width: 322px;
  margin-right: 15px;
  margin-bottom: 23px;
  &--img{
    display: block;
    position: relative;
    float: left;
    width: 100%;
    height: 178px;
    overflow: hidden;
    img{
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    .views{
      position: absolute;
      top: 13px;
      left: 0;
    }
  }
  &--descr{
    display: block;
    position: relative;
    float: left;
    width: 100%;
    background-color: #673ab7;
    padding: 0 16px;
    @include box-sizing(border-box);
    p{
      display: block;
      display: -webkit-box;
      position: relative;
      float: left;
      width: 100%;
      height: 48px;
      margin-top: 30px;
      margin-bottom: 30px;
      color: #f9f7f7;
      font-size: 12px;
      font-weight: 700;
      line-height: 2;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
  &--time{
    display: block;
    position: relative;
    float: left;
    width: 100%;
    background-color: #fff;
    padding: 0 16px;
    @include box-sizing(border-box);
    p{
      display: block;
      position: relative;
      float: left;
      width: 100%;
      margin-top: 30px;
      margin-bottom: 30px;
      color: #060000;
      font-size: 12px;
      font-weight: 700;
    }
  }
}

.views{
  display: block;
  position: relative;
  float: left;
  width: 182px;
  color: #ffffff;
  font-size: 13px;
  font-weight: 400;
  padding-left: 26px;
  @include box-sizing(border-box);
  &:before{
    display: block;
    position: absolute;
    content: '';
    top: 4px;
    left: 8px;
    width: 15px;
    height: 12px;
    background-image: url('../img/info-icons/eye-white-icon.png');
    background-repeat: no-repeat;
    background-size: contain;
  }
}

// .content {
//   width: 100%;
//   float: left;
//   position: relative;
//   height: 100px;
//   background-color: #f4f4f4;
//   padding: 8px;
//   @include border-box;
//   @include transition(0.9s);
//   &:hover {
//     color: white;
//     background-color: #292929;
//   }
// }

#overlay {
  z-index: 3;
  position: fixed;
  background-color: #fff;
  opacity: 0.8;
  -moz-opacity: 0.8;
  filter: alpha(opacity=80);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  cursor: pointer;
  display: none;
}

#black-overlay {
  z-index: 3;
  position: fixed;
  background-color: #000;
  opacity: 0.8;
  -moz-opacity: 0.8;
  filter: alpha(opacity=80);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  cursor: pointer;
  display: none;
}

.inputError {
  color: red !important;
  border: 1px solid #FF0000 !important;
  box-shadow: 0 0 4px rgba(255, 0, 0, .47), inset 0 1px 3px rgba(0, 0, 0, .17);
}
