.footer {
  display: block;
  position: relative;
  float: left;
  width: 100%;
  background-color: #fff;
  &__logo {
    display: block;
    position: relative;
    float: left;
    width: 83px;
    height: 83px;
    margin-top: 41px;
    margin-bottom: 55px;
    margin-right: 26px;
    @include breakpoint(max-width 660px) {
      margin-left: calc(50% - (83px / 2));
    }
    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }
  &__social {
    display: block;
    position: relative;
    float: left;
    width: 230px;
    margin-left: 34px;
    @include breakpoint(max-width 660px) {
      width: 300px;
      margin-left: calc(50% - (300px / 2));
      margin-bottom: 30px;
    }
  }
  &__links {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    float: left;
    margin-top: 59px;
    margin-bottom: 31px;
    padding-right: 19px;
    @include border-box;
    a {
      display: block;
      position: relative;
      float: left;
      color: #2c2c2c;
      font-size: 21px;
      &:hover {
        color: #ff0200;
        .lj {
          background-image: url('../img/icons/lj-social-hover-icon.png');
        }
      }
      .lj {
        display: block;
        position: relative;
        float: left;
        width: 24px;
        height: 22px;
        overflow: hidden;
        top: 2px;
        background-image: url('../img/icons/lj-social-icon.png');
        background-repeat: no-repeat;
        -webkit-background-size: contain;
        background-size: contain;
        img {
          width: 100%;
          height: 100%;
          object-fit: contain;
        }
      }
    }
  }
  &__send {
    display: block;
    position: relative;
    width: calc(100% - 1px);
    float: left;
    background-color: #fff;
    border: 1px solid #ff0200;
    padding: 9px 0;
    margin-bottom: 0;
    margin-left: 0;
    @include border-box;
    text-align: center;
    color: #242424;
    font-size: 14px;
    font-weight: 600;
    @include transition(0.4s);
    &:hover {
      background-color: #ececeb;
    }
  }
  &__main {
    display: block;
    position: relative;
    float: left;
    width: calc(100% - (83px + 26px + 230px + 34px));
    @include breakpoint(max-width 660px) {
      width: 100%;
    }
    p {
      display: block;
      position: relative;
      width: 100%;
      float: left;
      margin-top: 37px;
      margin-bottom: 44px;
      color: #060000;
      font-size: 14px;
      font-weight: 400;
      line-height: 12px;
      font-variant: small-caps;
      @include breakpoint(max-width 660px) {
        margin-top: 10px;
        margin-bottom: 10px;
      }
    }
  }
  &__nav {
    @include display-flex(flex);
    @include flex-wrap(wrap);
    @include flex-direction(row);
    @include justify-content(space-between);
    width: calc(100% - 122px);
    position: relative;
    margin-top: 60px;
    padding: 0;
    list-style: none;
    @include breakpoint(max-width 1024px) {
      @include flex-direction(column);
      text-align: center;
    }
    @include breakpoint(max-width 770px) {
      @include flex-direction(column);
      text-align: center;
    }
    @include breakpoint(max-width 660px) {
      width: 100%;
      @include flex-direction(column);
      text-align: center;
      margin-top: 0;
    }
    li {
      display: block;
      position: relative;
      float: left;
      a {
        display: block;
        position: relative;
        float: left;
        width: 100%;
        color: #242424;
        font-size: 14px;
        font-weight: 600;
        padding: 0;
        @include transition(0.4s);
        &:after {
          display: block;
          position: absolute;
          content: "";
          bottom: -1px;
          left: 0;
          width: 0;
          height: 2px;
          background-color: #ee2e24;
          transition: width ease-in-out 0.4s;
        }
      }
      a:hover {
        @include transition(0.4s);
        color: #ee2e24;
        &:after {
          width: 100%;
        }
      }
    }
  }
}

.fix-button {
  position: fixed;
  right: 0;
  top: 37%;
  width: 20px;
  height: 189px;
  z-index: 2;
  img {
    object-fit: cover;
    height: 100%;
    width: 100%;
  }
}
