.footer {
  display: block;
  position: relative;
  float: left;
  width: 100%;
  background-color: #fff;
  overflow: hidden;
  &__logo {
    display: block;
    position: relative;
    float: left;
    width: 83px;
    height: 83px;
    margin-top: 41px;
    margin-bottom: 55px;
    margin-right: 26px;
    @include breakpoint(max-width 660px) {
      margin-left: calc(50% - (83px / 2));
    }
    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }
  &__social {
    display: block;
    position: relative;
    float: left;
    width: 230px;
    margin-left: 34px;
    @include breakpoint(max-width 660px) {
      width: 300px;
      margin-left: calc(50% - (300px / 2));
      margin-bottom: 30px;
    }
  }
  &__links {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    float: left;
    margin-top: 59px;
    margin-bottom: 31px;
    padding-right: 19px;
    @include border-box;
    a {
      display: block;
      position: relative;
      float: left;
      color: #2c2c2c;
      font-size: 21px;
      &:hover {
        color: #ff0200;
        .lj {
          background-image: url('../img/icons/lj-social-hover-icon.png');
        }
      }
      .lj {
        display: block;
        position: relative;
        float: left;
        width: 24px;
        height: 22px;
        overflow: hidden;
        top: 2px;
        background-image: url('../img/icons/lj-social-icon.png');
        background-repeat: no-repeat;
        -webkit-background-size: contain;
        background-size: contain;
        img {
          width: 100%;
          height: 100%;
          object-fit: contain;
        }
      }
    }
  }
  &__send {
    display: block;
    position: relative;
    width: calc(100% - 1px);
    float: left;
    background-color: #fff;
    border: 1px solid #ff0200;
    padding: 9px 0;
    margin-bottom: 0;
    margin-left: 0;
    @include border-box;
    text-align: center;
    color: #242424;
    font-size: 14px;
    font-weight: 600;
    @include transition(0.4s);
    &:hover {
      background-color: #ececeb;
    }
  }
  &__main {
    display: block;
    position: relative;
    float: left;
    width: calc(100% - (83px + 26px + 230px + 34px));
    @include breakpoint(max-width 660px) {
      width: 100%;
    }
    p {
      display: block;
      position: relative;
      width: 100%;
      float: left;
      margin-top: 37px;
      margin-bottom: 44px;
      color: #060000;
      font-size: 14px;
      font-weight: 400;
      line-height: 12px;
      font-variant: small-caps;
      @include breakpoint(max-width 660px) {
        margin-top: 10px;
        margin-bottom: 10px;
      }
    }
  }
  &__nav {
    @include display-flex(flex);
    @include flex-wrap(wrap);
    @include flex-direction(row);
    @include justify-content(space-between);
    width: calc(100% - 122px);
    position: relative;
    margin-top: 60px;
    padding: 0;
    list-style: none;
    @include breakpoint(max-width 1024px) {
      @include flex-direction(column);
      text-align: center;
    }
    @include breakpoint(max-width 770px) {
      @include flex-direction(column);
      text-align: center;
    }
    @include breakpoint(max-width 660px) {
      width: 100%;
      @include flex-direction(column);
      text-align: center;
      margin-top: 0;
    }
    li {
      display: block;
      position: relative;
      float: left;
      a {
        display: block;
        position: relative;
        float: left;
        width: 100%;
        color: #242424;
        font-size: 14px;
        font-weight: 600;
        padding: 0;
        @include transition(0.4s);
        &:after {
          display: block;
          position: absolute;
          content: "";
          bottom: -1px;
          left: 0;
          width: 0;
          height: 2px;
          background-color: #ee2e24;
          transition: width ease-in-out 0.4s;
        }
      }
      a:hover {
        @include transition(0.4s);
        color: #ee2e24;
        &:after {
          width: 100%;
        }
      }
    }
  }
  &__send-mail {
    display: block;
    position: relative;
    width: 100%;
    float: left;
    padding: 9px 0;
    margin-bottom: 0;
    margin-left: 0;
    @include border-box;
    text-align: center;
    color: #242424;
    font-size: 14px;
    font-weight: 600;
    &:hover {
      color: #242424;
      text-decoration: underline;
    }
  }
}

.fix-button {
  position: fixed;
  right: -158px;
  top: 25%;
  width: 195px;
  height: 163px;
  z-index: 2;
  @include transition(0.4s);
  @include breakpoint(max-width 600px) {
    top: 37%;
  }
  &__trigger {
    display: block;
    position: relative;
    float: left;
    width: 38px;
    height: 163px;
    overflow: hidden;
    cursor: pointer;
    img {
      /* object-fit: cover;*/
      height: 100%;
      width: 100%;
    }
  }
  &__list {
    display: block;
    position: relative;
    float: left;
    width: calc(100% - 38px);
    height: 100%;
    background-color: #ee2e24;
    margin: 0;
    padding: 0;
    padding-top: 9px;
    @include box-sizing(border-box);
    list-style: none;
    li {
      width: 100%;
      a {
        display: block;
        position: relative;
        float: left;
        width: 100%;
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 30px;
        @include box-sizing(border-box);
        text-align: left;
        color: #fff;
        font-size: 12px;
        font-weight: 900;
        text-transform: uppercase;
        background-color: transparent;
        &:hover {
          background-color: #dcdcdc;
          color: #ee2e24;
        }
      }
    }
    &--company:before {
      display: block;
      position: absolute;
      content: '';
      width: 20px;
      height: 20px;
      top: 9px;
      left: 5px;
      background-image: url('../img/icons/tag-hover-icon.png');
      background-repeat: no-repeat;
      background-size: 100% 100%;
    }
    &--company:hover:before {
      background-image: url('../img/icons/tag-icon.png');
    }
    &--news:before {
      display: block;
      position: absolute;
      content: '';
      width: 20px;
      height: 20px;
      top: 9px;
      left: 5px;
      background-image: url('../img/icons/stack-hover-icon.png');
      background-repeat: no-repeat;
      background-size: 100% 100%;
    }
    &--news:hover:before {
      background-image: url('../img/icons/stack-icon.png');
    }
    &--poster:before {
      display: block;
      position: absolute;
      content: '';
      width: 20px;
      height: 20px;
      top: 6px;
      left: 5px;
      background-image: url('../img/icons/calendar-cabinet--hover-icon.png');
      background-repeat: no-repeat;
      background-size: 100% 100%;
    }
    &--poster:hover:before {
      background-image: url('../img/icons/calendar-cabinet-icon.png');
    }
    &--stock:before {
      display: block;
      position: absolute;
      content: '';
      width: 20px;
      height: 20px;
      top: 6px;
      left: 5px;
      background-image: url('../img/icons/bar-graph-hover-icon.png');
      background-repeat: no-repeat;
      background-size: 100% 100%;
    }
    &--stock:hover:before {
      background-image: url('../img/icons/bar-graph-icon.png');
    }
  }
  &__notice {
    display: block;
    position: relative;
    float: left;
    width: 38px;
    height: 163px;
    overflow: hidden;
    cursor: pointer;
    img {
      /* object-fit: cover;*/
      height: 100%;
      width: 100%;
    }
  }
}

.fix-button-msg-error {
  position: fixed;
  right: 0;
  top: 53%;
  width: 38px;
  height: 163px;
  z-index: 2;
  @include breakpoint(max-width 600px) {
    top: 68%;
  }
}

.fix-button.show-fix-menu {
  right: 0;
  @include transition(0.4s);
}
