.modal-review-success{
  display: none;
  position: fixed;
  width: 494px;
  background-color: #f6e8e8;
  border-radius: 5px;
  top: 25%;
  margin-left: calc(50% - (494px / 2));
  opacity: 0;
  z-index: 9902;
  padding: 29px 30px;
  @include border-box;
  @include breakpoint(max-width 600px){
    width: 100%;
    margin-left: 0;
  }
  &__img{
    display: block;
    position: relative;
    float: left;
    width: 86px;
    height: 86px;
    overflow: hidden;
    img{
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }
  &__title{
    display: block;
    position: relative;
    float: left;
    width: calc(100% - 86px);
    padding-left: 18px;
    @include box-sizing(border-box);
    color: #050101;
    font-size: 17px;
    font-weight: 700;
    line-height: 24px;
  }
  &__notice{
    display: block;
    position: relative;
    float: left;
    width: 100%;
    margin-top: 34px;
    margin-bottom: 0;
    color: #ee2e24;
    font-weight: 700;
    font-size: 14px;
  }
  &__moder{
    display: block;
    position: relative;
    float: left;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 0;
    padding-right: 33px;
    @include box-sizing(border-box);
    color: #050101;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
  }
}