.footer{
  display: block;
  position: relative;
  float: left;
  width: 100%;
  background-color: #fff;
  &__logo{
    display: block;
    position: relative;
    float: left;
    width: 83px;
    height: 83px;
    margin-top: 41px;
    margin-bottom: 55px;
    margin-right: 26px;
    img{
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }
  &__social{
    display: block;
    position: relative;
    float: left;
    width: 183px;
    margin-left: 34px;
  }
  &__links{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    float: left;
    margin-top: 59px;
    margin-bottom: 31px;
    padding-right: 19px;
    @include border-box;
    a{
      display: block;
      position: relative;
      float: left;
      color: #2c2c2c;
      font-size: 21px;
    }
  }
  &__send{
    display: block;
    position: relative;
    width: calc(100% - 1px);
    float: left;
    background-color: #fff;
    border: 1px solid #ff0200;
    padding: 9px 0;
    @include border-box;
    text-align: center;
    color: #242424;
    font-size: 14px;
    font-weight: 600;
    @include transition(0.4s);
    &:hover{
      background-color: #ececeb;
    }
  }
  &__main{
    display: block;
    position: relative;
    float: left;
    width: calc(100% - (83px + 26px + 183px + 34px));
  }
  &__nav{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    width: calc(100% - 122px);
    position: relative;
    margin-top: 60px;
    padding: 0;
    list-style: none;
    li{
      display: block;
      position: relative;
      float: left;
      a{
        display: block;
        position: relative;
        float: left;
        width: 100%;
        color: #242424;
        font-size: 14px;
        font-weight: 600;
        &:after{
          display: block;
          position: absolute;
          content: "";
          bottom: -1px;
          left: 0;
          width: 0;
          height: 2px;
          background-color: #242424;
          transition: width ease-in-out 0.4s;
        }
      }
      a:hover{
        &:after{
          width: 100%;
        }
      }
    }
  }
}